@import '../../../../../theme/colors';
@import '../../../../../theme/mixins/font';

.description-buttons-save {
  @include font-base(14px);
  color: $white;

  &.k-button {
    background: $blue-dark !important;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 3px !important;
    width: 65px;
    height: 30px;

    &:hover,
    &:focus {
      background: $blue-dark !important;
      border: 1px solid $border-color;
      box-shadow: none;
      color: $white;
    }

    &:active,
    &.k-state-active {
      border: 1px solid $border-color;
      box-shadow: none;
      background-color: $blue-dark !important;

      img {
        opacity: 0.5;
      }
    }
  }
}
