@import '../../../../theme/mixins/font';
@import '../../../../theme/colors';

.asset-item,
.asset-item-with-thumbnail {
  min-width: 93px;
  max-width: 193px;
  width: max-content;
  height: 38px;
  display: inline-block;
  margin-left: 7px;
  @include font-base(14px, normal, 18px);

  &-switch {
    height: 20px;
    position: relative;
    align-content: center;
    text-align: center;
    margin-top: 7px;

    button {
      position: absolute;
      top: 11px;
      right: 10px;
    }

    .k-button {
      border: none;
      background-color: transparent;
      height: 5px;
      width: 8px;
      margin: -1px;
      background-image: none;
    }

    .k-image {
      min-width: 20px;
      min-height: 16px;
    }
  }

  &-thumbnail {
    height: 64px;
    max-height: 64px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    img {
      height: unset;
      width: unset;
    }
  }

  .file-name {
    display: flex;
    justify-content: center;
    padding: 10px 9px;
  }
}

.asset-item-with-thumbnail {
  padding: 0;
  height: 128px;

  .file-name {
    padding: 0;
  }
}

.selected {
  background: $very-light-grey;
  border: 1px solid #cecece !important;
}

.asset-item-switch {
  img {
    @-moz-document url-prefix() {
      width: 10px;
      height: 10px;
    }
  }
}

.divTable {
  display: table !important;
  width: 125px !important;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  display: table-header-group;
}

.divTableCell, .divTableHead {
  display: table-cell;
}

.divTableHeading {
  display: table-header-group;
}

.divTableFoot {
  display: table-footer-group;
}

.divTableBody {
  display: table-row-group;
}

.ellipsis-filename {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  text-wrap: none !important;
  overflow-wrap: break-word !important;
  width: 120px !important;
  max-width: 120px !important;
  min-width: 120px !important;
  text-align: center !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
