IF NOT EXISTS(SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'PC_BATCH_HEADER') BEGIN

CREATE TABLE [dbo].[PC_BATCH_HEADER](
	[BATCH_ID] [int] IDENTITY(1,1) NOT NULL,
	[BATCH_NAME] [varchar](255) NOT NULL,
	[USER_ID] [varchar](6) NOT NULL,
	[CREATION_DATE] [smalldatetime] NOT NULL,
	[LAST_UPDATE_DATE] [smalldatetime] NULL,
	[BATCH_STATUS] [varchar](1) NOT NULL,
	[BANK_CODE] [varchar](4) NOT NULL,
	[PAYMENT_DATE] [smalldatetime] NOT NULL,
	[PAY_CUTOFF_DATE] [smalldatetime] NULL,
	[POSTING_PERIOD] [nvarchar](6) NULL,
	[MEDIA_INTERNET] [bit] NULL,
	[MEDIA_MAGAZINE] [bit] NULL,
	[MEDIA_NEWSPAPER] [bit] NULL,
	[MEDIA_OOH] [bit] NULL,
	[MEDIA_RADIO] [bit] NULL,
	[MEDIA_TELEVISION] [bit] NULL,
	[NON_CLIENT_SELECT] [bit] NULL,
	[PRODUCTION_SELECT] [bit] NULL,
	[ALL_INVOICES_SELECT] [bit] NULL,
	[PAID_BY_CLIENT_SELECT] [bit] NULL,
	[PMP_ID] [nchar](10) NULL,
	[PMP_BATCH_ID] [int] NULL,
	[BATCH_SUBMITTED_DATE] [smalldatetime] NULL,
	[SEND_ON_DATE] [smalldatetime] NULL
) ON [PRIMARY]
END
GO
