IF NOT EXISTS(SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'PC_BATCH_CLIENT_SEL') BEGIN

CREATE TABLE [dbo].[PC_BATCH_CLIENT_SEL](
	[USER_ID] [varchar](6) NOT NULL,
	[BATCH_ID] [int] NOT NULL,
	[CLIENT_CODE] [varchar](6) NOT NULL
) ON [PRIMARY]
END
GO
