IF EXISTS(SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'ALERT_MENTION') BEGIN

    DROP TABLE [dbo].[ALERT_MENTION]

END
GO

IF NOT EXISTS(SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'ALERT_MENTION') BEGIN

CREATE TABLE [dbo].[ALERT_MENTION](
	[ALERT_ID] [int] NOT NULL,
	[COMMENT_ID] [int] NOT NULL,
	[MENTION_EMP_CODE] [varchar](6) NOT NULL,
	[USER_CODE] [varchar](6) NOT NULL
) ON [PRIMARY]
END
GO
