<div class="asset-item" [class.selected]="selected">
  <fool-file-name class="file-name"
                  [maxLength]="fileNameLength"
                  [fileNameLength]="fileNameLength"
                  [isLinkContainer]="true"
                  [textInIcon]="textInIcon"
                  [componentType]="itemType"
                  [fileName]="fileName">
  </fool-file-name>
  <proof-page-selector *ngIf="isDocument" class="page-selector"></proof-page-selector>
  <div class="asset-item-switch">
    <button class="icon"
            kendoButton
            (click)="onRemove(uid)"
            [imageUrl]="'assets/icons/delete-uploaded-file.svg'"
    ></button>
  </div>
</div>
