@import '../../../../../../theme/colors';
@import '../../../../../../theme/mixins/font';

.k-animation-container>.k-popup {
  border-bottom: 1px solid $border-color;
}

.page-selector {
  .k-dropdown {
    @include font-base(14px);
    width: 75px;
    height: 25px;

    & &-wrap .k-input {
      height: 23px;
      width: 60px;
    }
  }

  .k-list {
    @include font-base(14px);
    background: $white;
  }

  .k-dropdown .k-dropdown-wrap.k-state-focused {
    box-shadow: none;
  }

  .k-dropdown .k-dropdown-wrap,
  .k-dropdown .k-dropdown-wrap.k-state-focused,
  .k-dropdown .k-dropdown-wrap:hover {
    @include font-base(14px);
    background: $white;
    border: 1px solid $border-color;
    color: $black;
  }

  .k-dropdown .k-dropdown-wrap:hover {
    background-image: none;
  }

  .k-list .k-item.k-state-selected,
  .k-list .k-item.k-state-selected:hover,
  .k-list .k-item.k-state-selected:active {
    background: $blue;
    color: $black-light;
  }

  .k-list .k-item {
    align-content: flex-start;
  }

  .k-dropdown .k-dropdown-wrap .k-select {
    padding: 0;
    width: 10px;
    margin-right: 3px;
  }

  .k-dropdown .k-dropdown-wrap .k-input,
  .k-dropdowntree .k-dropdown-wrap .k-input {
    padding: 4px 4px;
  }
}
