<ng-container *ngIf="(selectedFileType | async) as selectedFileTypeService">
  <div [ngClass]="setClassOnBlock('workspace-view')">
    <div class="image-view-container">
      <div (click)="handleFocusOnSide('first')"
           [ngClass]="{
            'left-side-smaller': leftSide.showPageViewer,
            'left-side': !leftSide.showPageViewer,
            'left-side-selected': leftSide.selected
           }">
        <proof-workspace-page-preview *ngIf="pageViewerStatus(selectedFileTypeService, 'first')"
                                      class="pager-vertical-first"
                                      [viewType]="viewType"
                                      [pages]="leftSide.pages">
        </proof-workspace-page-preview>
        <div class="image-area image-area-split-vertical-first"
             [class.image-area-split-vertical-first-page-viewer]="pageViewerStatus(selectedFileTypeService, 'first')"
             [style.width]="leftSide.kendoCardWidth">
          <ng-scrollbar class="scrollbar-main">
            <ng-scrollbar class="scrollbar-main">
              <kendo-card [width]="'auto'" [ngClass]="setClassOnBlock('image-area-card')">
                <img [width]="widthImg"
                     [height]="heigthImg"
                     kendoCardMedia
                     [src]="leftSide.currentPage?.imageUrl"
                />
              </kendo-card>
            </ng-scrollbar>
        <!--</div>-->
      <!--</div>-->
      <div (click)="handleFocusOnSide('second')"
           [ngClass]="{
            'right-side-smaller': rightSide.showPageViewer,
            'right-side': !rightSide.showPageViewer,
            'right-side-selected': rightSide.selected
           }">
        <proof-workspace-page-preview *ngIf="pageViewerStatus(selectedFileTypeService, 'second')"
                                      class="pager-vertical-second"
                                      [viewType]="viewType"
                                      [pages]="rightSide.pages">
        </proof-workspace-page-preview>
        <div class="image-area image-area-split-vertical-second" [style.width]="rightSide.kendoCardWidth">
          <ng-scrollbar class="scrollbar-main">
            <kendo-card [width]="'auto'" [ngClass]="setClassOnBlock('image-area-card')">
              <img [width]="widthImg"
                   [height]="heigthImg"
                   kendoCardMedia
                   [src]="rightSide.currentPage?.imageUrl" />
            </kendo-card>
          </ng-scrollbar>
        </div>
      </div>
    <!--</div>-->
    <div class="toolbar-container">
      <div *ngFor="let side of comparedSides" class="workspace-view-footer">
        <div class="workspace-view-footer-left-side">
          <button class="page-viewer-buttton"
                  kendoButton
                  [toggleable]="true"
                  *ngIf="selectedFileTypeService === isDocument"
                  [imageUrl]="'assets/icons/window_split_hor.svg'"
                  (click)="togglePageViewer(side)"></button>
          <div class="current-file">
            <!--<fool-file-name showDeleteButton="true"
                            showVersions="true"
                            isFrameContainer="true"
                            fileName="File_na..."
                            [maxLength]="fileNameLength"
                            [fileNameLength]="fileNameLength"
                            [componentType]="componentType">
            </fool-file-name>-->
          </div>
        </div>
        <div *ngIf="selectedFileTypeService === isDocument"
             class="workspace-view-footer-right-side">
          <proof-workspace-pager [pages]="viewContainer[side].pages"
                                 (currentPage)="setSelectedStatus($event, side)"></proof-workspace-pager>
          <button kendoButton
                  class="move-block"
                  [imageUrl]="'assets/icons/burger.svg'"></button>
        </div>
      </div>
    </div>
  <!--</div>-->
<!--</ng-container>-->
