-- V_ADDRESS_TABLE
-- #00 - 08/31/12 - original (copied from advsp_address_table)

SET QUOTED_IDENTIFIER ON 
GO

SET ANSI_NULLS ON 
GO

SET ANSI_PADDING OFF
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[V_ADDRESS_TABLE]') and OBJECTPROPERTY(id, N'IsView') = 1)
drop view [dbo].[V_ADDRESS_TABLE]
GO

CREATE VIEW dbo.V_ADDRESS_TABLE 
AS
		
	SELECT DISTINCT
		dbo.fn_AdvanUser() AS [USER_ID],
		s.APP_TYPE,
		s.ADDRESS_OPT,
		cl.CL_CODE, 
		dv.DIV_CODE,
		pr.PRD_CODE,
		'ZZ' AS [PRODUCT_CONTACT],
		cl.CL_NAME,
		CASE
			WHEN (cl.CL_NAME = dv.DIV_NAME) THEN NULL
			ELSE dv.DIV_NAME
		END AS DIV_NAME,	
		CASE
			WHEN (dv.DIV_NAME = pr.PRD_DESCRIPTION) THEN NULL
			ELSE pr.PRD_DESCRIPTION
		END AS PRD_DESCRIPTION,
		CASE s.ADDRESS_OPT
			WHEN 1 THEN cl.CL_BADDRESS1
			WHEN 2 THEN dv.DIV_BADDRESS1
			WHEN 3 THEN pr.PRD_BILL_ADDRESS1
		END AS ADDRESS1,
		CASE s.ADDRESS_OPT
			WHEN 1 THEN cl.CL_BADDRESS2
			WHEN 2 THEN dv.DIV_BADDRESS2
			WHEN 3 THEN pr.PRD_BILL_ADDRESS2
		END AS ADDRESS2,
		CASE s.ADDRESS_OPT
			WHEN 1 THEN cl.CL_BCITY
			WHEN 2 THEN dv.DIV_BCITY
			WHEN 3 THEN pr.PRD_BILL_CITY
		END AS CITY,
		CASE s.ADDRESS_OPT		
			WHEN 1 THEN cl.CL_BSTATE
			WHEN 2 THEN dv.DIV_BSTATE
			WHEN 3 THEN pr.PRD_BILL_STATE
		END AS STATE,
		CASE s.ADDRESS_OPT		
			WHEN 1 THEN cl.CL_BZIP
			WHEN 2 THEN dv.DIV_BZIP
			WHEN 3 THEN pr.PRD_BILL_ZIP
		END AS ZIP,
		CASE s.ADDRESS_OPT	
			WHEN 1 THEN cl.CL_ATTENTION
			WHEN 2 THEN dv.DIV_ATTENTION
			WHEN 3 THEN pr.PRD_ATTENTION
		END AS ATTN,
		CASE s.ADDRESS_OPT	
			WHEN 1 THEN cl.CL_BCOUNTY
			WHEN 2 THEN dv.DIV_BCOUNTY
			WHEN 3 THEN pr.PRD_BILL_COUNTY
		END AS COUNTY,
		CASE s.ADDRESS_OPT	
			WHEN 1 THEN cl.CL_BCOUNTRY
			WHEN 2 THEN dv.DIV_BCOUNTRY
			WHEN 3 THEN pr.PRD_BILL_COUNTRY
		END AS COUNTRY 	
	FROM dbo.RPT_RUNTIME_SPECS AS s		
 	CROSS JOIN dbo.CLIENT AS cl 
	JOIN dbo.DIVISION AS dv
		ON (cl.CL_CODE = dv.CL_CODE)
	JOIN dbo.PRODUCT AS pr
		ON (dv.DIV_CODE = pr.DIV_CODE)  
		AND (dv.CL_CODE = pr.CL_CODE)
	WHERE s.[USER_ID] = dbo.fn_AdvanUser()		
GO

IF ( @@ERROR = 0 )	
	GRANT ALL ON V_ADDRESS_TABLE TO PUBLIC AS dbo
GO	



