<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	  <add name="APIDbContext" connectionString="data source=STEVEW-NB;initial catalog=KW_67002_1;persist security info=True;user id=SYSADM;password=sysadm;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="AdvantageAPI.APIService" behaviorConfiguration="APIServiceBehavior">
        <!--Endpoint for SOAP-->
        <endpoint address="SOAP" binding="basicHttpBinding" bindingConfiguration="SecureBasicHttpBinding_IAPIService" contract="AdvantageAPI.IAPIService" />
        <!--Endpoint for REST-->
        <endpoint address="REST" binding="webHttpBinding" bindingConfiguration="SecureWebHttpBinding_IAPIService" behaviorConfiguration="restPoxBehavior" contract="AdvantageAPI.IAPIService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAPIService" sendTimeout="00:05:00" maxBufferPoolSize="512000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"></binding>
        <binding name="SecureBasicHttpBinding_IAPIService" sendTimeout="00:05:00" maxBufferPoolSize="512000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_IAPIService" maxBufferSize="2147483647" maxBufferPoolSize="512000" maxReceivedMessageSize="2147483647"></binding>
        <binding name="SecureWebHttpBinding_IAPIService" maxBufferSize="2147483647" maxBufferPoolSize="512000" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="APIServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <!--Behavior for the REST endpoint for Help enability-->
        <behavior name="restPoxBehavior">
          <webHttp helpEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>