--DROP PROCEDURE [dbo].[advsp_timesheet_load_by_employee]
CREATE PROCEDURE [dbo].[advsp_timesheet_load_by_employee]
@EMP_CODE VARCHAR(6),
@EMP_DATE SMALLDATETIME,
@USER_CODE VARCHAR(100)
AS
BEGIN
		
	DECLARE @TIMESHEET_START SMALLDATETIME,
			@TIMESHEET_END SMALLDATETIME,
			@WEEKDAY INT,
			@CURRENT_DATE_START SMALLDATETIME,
			@CURRENT_DATE_END SMALLDATETIME,
			@CURRENT_ET_ID INT,
			@CURRENT_ET_DTL_ID INT,
			@CURRENT_SEQ_NBR SMALLINT,
			@CURRENT_JOB_NUMBER INT,
			@CURRENT_JOB_COMPONENT_NBR SMALLINT,
			@CURRENT_HOURS DECIMAL(7,2),
			@COUNTER INT,
			@CURRENT_ROW_ID INT,
			@CURRENT_FNC_CODE VARCHAR(6),
			@CURRENT_DP_TM_CODE VARCHAR(4),
			@CURRENT_ALERT_ID INT,
			@START_WEEK_ON INT 

	SELECT @START_WEEK_ON = CONVERT(SMALLINT, VARIABLE_VALUE) FROM APP_VARS WITH(NOLOCK) WHERE UPPER(USERID) = UPPER(@USER_CODE) AND [APPLICATION] = 'TIMESHEET' AND VARIABLE_NAME = 'START_WEEK_ON';

	--SELECT CONVERT(SMALLINT, VARIABLE_VALUE) FROM APP_VARS WITH(NOLOCK) WHERE UPPER(USERID) = UPPER('SYSADM') AND [APPLICATION] = 'TIMESHEET' AND VARIABLE_NAME = 'START_WEEK_ON';

	SET @TIMESHEET_START = @EMP_DATE

	IF (DATEPART(dw, @TIMESHEET_START) - 1) <> @START_WEEK_ON
	BEGIN
	
		WHILE (DATEPART(dw, @TIMESHEET_START) - 1) <> @START_WEEK_ON
		BEGIN

			SET @TIMESHEET_START = DATEADD(dw, -1, @TIMESHEET_START)

		END

	END

	SET @TIMESHEET_START = DATEADD(dd, DATEDIFF(dd, 0, @TIMESHEET_START), 0)
	SET @TIMESHEET_END = DATEADD(dd, 7, @TIMESHEET_START)
	SET @TIMESHEET_END = DATEADD(MINUTE, -1, @TIMESHEET_END)

	-- SELECT [TIMESHEET_START] = @TIMESHEET_START, [TIMESHEET_END] = @TIMESHEET_END

	DECLARE @TIMESHEET TABLE (
		ROW_ID INT NOT NULL,
		JOB_NUMBER INT,
		JOB_COMPONENT_NBR SMALLINT,
		FNC_CODE VARCHAR(6),
		DP_TM_CODE VARCHAR(6),
		ALERT_ID INT,
		DAY_1_DATE SMALLDATETIME,
		DAY_1_ET_ID INT,
		DAY_1_ET_DTL_ID SMALLINT,
		DAY_1_SEQ_NBR SMALLINT,
		DAY_1_HOURS DECIMAL(7, 2),
		DAY_2_DATE SMALLDATETIME,
		DAY_2_ET_ID INT,
		DAY_2_ET_DTL_ID SMALLINT,
		DAY_2_SEQ_NBR SMALLINT,
		DAY_2_HOURS DECIMAL(7, 2),
		DAY_3_DATE SMALLDATETIME,
		DAY_3_ET_ID INT,
		DAY_3_ET_DTL_ID SMALLINT,
		DAY_3_SEQ_NBR SMALLINT,
		DAY_3_HOURS DECIMAL(7, 2),
		DAY_4_DATE SMALLDATETIME,
		DAY_4_ET_ID INT,
		DAY_4_ET_DTL_ID SMALLINT,
		DAY_4_SEQ_NBR SMALLINT,
		DAY_4_HOURS DECIMAL(7, 2),
		DAY_5_DATE SMALLDATETIME,
		DAY_5_ET_ID INT,
		DAY_5_ET_DTL_ID SMALLINT,
		DAY_5_SEQ_NBR SMALLINT,
		DAY_5_HOURS DECIMAL(7, 2),
		DAY_6_DATE SMALLDATETIME,
		DAY_6_ET_ID INT,
		DAY_6_ET_DTL_ID SMALLINT,
		DAY_6_SEQ_NBR SMALLINT,
		DAY_6_HOURS DECIMAL(7, 2),
		DAY_7_DATE SMALLDATETIME,
		DAY_7_ET_ID INT,
		DAY_7_ET_DTL_ID SMALLINT,
		DAY_7_SEQ_NBR SMALLINT,
		DAY_7_HOURS DECIMAL(7, 2)
	)

	SET @CURRENT_DATE_START = @TIMESHEET_START

	SET @COUNTER = 1

	WHILE @CURRENT_DATE_START < @TIMESHEET_END
	BEGIN
	
		SET @CURRENT_DATE_END = DATEADD(MINUTE, -1, DATEADD(dd, 1, @CURRENT_DATE_START))

		DECLARE JOB_TIME_CURSOR CURSOR FOR
			SELECT
				EMP_TIME_DTL.ET_ID,
				EMP_TIME_DTL.ET_DTL_ID,
				EMP_TIME_DTL.SEQ_NBR,
				EMP_TIME_DTL.JOB_NUMBER,
				EMP_TIME_DTL.JOB_COMPONENT_NBR,
				EMP_TIME_DTL.EMP_HOURS,
				EMP_TIME_DTL.FNC_CODE,
				EMP_TIME_DTL.DP_TM_CODE,
				EMP_TIME_DTL.ALERT_ID
			FROM
				dbo.EMP_TIME_DTL 
			INNER JOIN
				dbo.EMP_TIME ON EMP_TIME_DTL.ET_ID = EMP_TIME.ET_ID
			WHERE
				EMP_TIME.EMP_CODE = @EMP_CODE 
				AND EMP_TIME.EMP_DATE BETWEEN @CURRENT_DATE_START AND @CURRENT_DATE_END

		OPEN JOB_TIME_CURSOR
		FETCH NEXT FROM JOB_TIME_CURSOR INTO @CURRENT_ET_ID, @CURRENT_ET_DTL_ID, @CURRENT_SEQ_NBR, @CURRENT_JOB_NUMBER, @CURRENT_JOB_COMPONENT_NBR, @CURRENT_HOURS, @CURRENT_FNC_CODE, @CURRENT_DP_TM_CODE, @CURRENT_ALERT_ID

		WHILE @@FETCH_STATUS = 0
		BEGIN

			SET @CURRENT_ROW_ID = 0

			SELECT
				@CURRENT_ROW_ID = MIN(ROW_ID)
			FROM 
				@TIMESHEET 
			WHERE 
				JOB_NUMBER = @CURRENT_JOB_NUMBER 
				AND JOB_COMPONENT_NBR = @CURRENT_JOB_COMPONENT_NBR 
				AND FNC_CODE = @CURRENT_FNC_CODE 
				AND DP_TM_CODE = @CURRENT_DP_TM_CODE
				AND ISNULL(ALERT_ID, 0) = ISNULL(@CURRENT_ALERT_ID, 0)
				AND 1 = CASE 
							WHEN @COUNTER = 1 AND DAY_1_ET_ID IS NULL THEN 1 
							WHEN @COUNTER = 2 AND DAY_2_ET_ID IS NULL THEN 1 
							WHEN @COUNTER = 3 AND DAY_3_ET_ID IS NULL THEN 1 
							WHEN @COUNTER = 4 AND DAY_4_ET_ID IS NULL THEN 1 
							WHEN @COUNTER = 5 AND DAY_5_ET_ID IS NULL THEN 1 
							WHEN @COUNTER = 6 AND DAY_6_ET_ID IS NULL THEN 1 
							WHEN @COUNTER = 7 AND DAY_7_ET_ID IS NULL THEN 1
							ELSE 0
						END

			IF ISNULL(@CURRENT_ROW_ID, 0) = 0 
			BEGIN
		
				SELECT @CURRENT_ROW_ID = ISNULL(MAX(ROW_ID), 0) + 1 FROM @TIMESHEET

				INSERT INTO @TIMESHEET (ROW_ID, JOB_NUMBER, JOB_COMPONENT_NBR, FNC_CODE, DP_TM_CODE, ALERT_ID)
					SELECT @CURRENT_ROW_ID, @CURRENT_JOB_NUMBER, @CURRENT_JOB_COMPONENT_NBR, @CURRENT_FNC_CODE, @CURRENT_DP_TM_CODE, @CURRENT_ALERT_ID

			END

			IF ISNULL(@CURRENT_ROW_ID, 0) > 0
			BEGIN

				UPDATE 
					@TIMESHEET
				SET 
					DAY_1_ET_ID = CASE WHEN @COUNTER = 1 THEN @CURRENT_ET_ID ELSE DAY_1_ET_ID END,
					DAY_1_ET_DTL_ID = CASE WHEN @COUNTER = 1 THEN @CURRENT_ET_DTL_ID ELSE DAY_1_ET_DTL_ID END,
					DAY_1_SEQ_NBR = CASE WHEN @COUNTER = 1 THEN @CURRENT_ET_DTL_ID ELSE DAY_1_ET_DTL_ID END,
					DAY_1_HOURS = CASE WHEN @COUNTER = 1 THEN @CURRENT_HOURS ELSE DAY_1_HOURS END,
					DAY_2_ET_ID = CASE WHEN @COUNTER = 2 THEN @CURRENT_ET_ID ELSE DAY_2_ET_ID END,
					DAY_2_ET_DTL_ID = CASE WHEN @COUNTER = 2 THEN @CURRENT_ET_DTL_ID ELSE DAY_2_ET_DTL_ID END,
					DAY_2_SEQ_NBR = CASE WHEN @COUNTER = 2 THEN @CURRENT_ET_DTL_ID ELSE DAY_2_ET_DTL_ID END,
					DAY_2_HOURS = CASE WHEN @COUNTER = 2 THEN @CURRENT_HOURS ELSE DAY_2_HOURS END,
					DAY_3_ET_ID = CASE WHEN @COUNTER = 3 THEN @CURRENT_ET_ID ELSE DAY_3_ET_ID END,
					DAY_3_ET_DTL_ID = CASE WHEN @COUNTER = 3 THEN @CURRENT_ET_DTL_ID ELSE DAY_3_ET_DTL_ID END,
					DAY_3_SEQ_NBR = CASE WHEN @COUNTER = 3 THEN @CURRENT_ET_DTL_ID ELSE DAY_3_ET_DTL_ID END,
					DAY_3_HOURS = CASE WHEN @COUNTER = 3 THEN @CURRENT_HOURS ELSE DAY_3_HOURS END,
					DAY_4_ET_ID = CASE WHEN @COUNTER = 4 THEN @CURRENT_ET_ID ELSE DAY_4_ET_ID END,
					DAY_4_ET_DTL_ID = CASE WHEN @COUNTER = 4 THEN @CURRENT_ET_DTL_ID ELSE DAY_4_ET_DTL_ID END,
					DAY_4_SEQ_NBR = CASE WHEN @COUNTER = 4 THEN @CURRENT_ET_DTL_ID ELSE DAY_4_SEQ_NBR END,
					DAY_4_HOURS = CASE WHEN @COUNTER = 4 THEN @CURRENT_HOURS ELSE DAY_4_HOURS END,
					DAY_5_ET_ID = CASE WHEN @COUNTER = 5 THEN @CURRENT_ET_ID ELSE DAY_5_ET_ID END,
					DAY_5_ET_DTL_ID = CASE WHEN @COUNTER = 5 THEN @CURRENT_ET_DTL_ID ELSE DAY_5_ET_DTL_ID END,
					DAY_5_SEQ_NBR = CASE WHEN @COUNTER = 5 THEN @CURRENT_ET_DTL_ID ELSE DAY_5_SEQ_NBR END,
					DAY_5_HOURS = CASE WHEN @COUNTER = 5 THEN @CURRENT_HOURS ELSE DAY_5_HOURS END,
					DAY_6_ET_ID = CASE WHEN @COUNTER = 6 THEN @CURRENT_ET_ID ELSE DAY_6_ET_ID END,
					DAY_6_ET_DTL_ID = CASE WHEN @COUNTER = 6 THEN @CURRENT_ET_DTL_ID ELSE DAY_6_ET_DTL_ID END,
					DAY_6_SEQ_NBR = CASE WHEN @COUNTER = 6 THEN @CURRENT_ET_DTL_ID ELSE DAY_6_SEQ_NBR END,
					DAY_6_HOURS = CASE WHEN @COUNTER = 6 THEN @CURRENT_HOURS ELSE DAY_6_HOURS END,
					DAY_7_ET_ID = CASE WHEN @COUNTER = 7 THEN @CURRENT_ET_ID ELSE DAY_7_ET_ID END,
					DAY_7_ET_DTL_ID = CASE WHEN @COUNTER =7 THEN @CURRENT_ET_DTL_ID ELSE DAY_7_ET_DTL_ID END,
					DAY_7_SEQ_NBR = CASE WHEN @COUNTER = 7 THEN @CURRENT_ET_DTL_ID ELSE DAY_7_SEQ_NBR END,
					DAY_7_HOURS = CASE WHEN @COUNTER = 7 THEN @CURRENT_HOURS ELSE DAY_7_HOURS END
				WHERE
					ROW_ID = @CURRENT_ROW_ID

			END

			FETCH NEXT FROM JOB_TIME_CURSOR INTO @CURRENT_ET_ID, @CURRENT_ET_DTL_ID, @CURRENT_SEQ_NBR, @CURRENT_JOB_NUMBER, @CURRENT_JOB_COMPONENT_NBR, @CURRENT_HOURS, @CURRENT_FNC_CODE, @CURRENT_DP_TM_CODE, @CURRENT_ALERT_ID	

		END

		CLOSE JOB_TIME_CURSOR
		DEALLOCATE JOB_TIME_CURSOR
	
		SET @COUNTER = @COUNTER + 1
		SET @CURRENT_DATE_START = DATEADD(dd, 1, @CURRENT_DATE_START)

	END

	UPDATE 
		@TIMESHEET
	SET 
		DAY_1_DATE = @TIMESHEET_START,
		DAY_2_DATE = DATEADD(dd, 1, @TIMESHEET_START),
		DAY_3_DATE = DATEADD(dd, 2, @TIMESHEET_START),
		DAY_4_DATE = DATEADD(dd, 3, @TIMESHEET_START),
		DAY_5_DATE = DATEADD(dd, 4, @TIMESHEET_START),
		DAY_6_DATE = DATEADD(dd, 5, @TIMESHEET_START),
		DAY_7_DATE = DATEADD(dd, 6, @TIMESHEET_START)

	SELECT 
		[RowID] = T.ROW_ID,
		[ClientCode] = J.CL_CODE,
		[ClientName] = C.CL_NAME,
		[DivisionCode] = J.DIV_CODE,
		[DivisionName] = D.DIV_NAME,
		[ProductCode] = J.PRD_CODE,
		[ProductName] = P.PRD_DESCRIPTION,
		[JobNumber] = T.JOB_NUMBER,
		[JobDescription] = J.JOB_DESC,
		[JobComponentNumber] = T.JOB_COMPONENT_NBR,
		[JobComponentDescription] = JC.JOB_COMP_DESC,
		[FunctionCode] = T.FNC_CODE,
		[FunctionDescription] = F.FNC_DESCRIPTION,
		[DepartmentTeamCode] = T.DP_TM_CODE,
		[DepartmentTeamDescription] = DT.DP_TM_DESC,
		[AlertSubject] = A.[SUBJECT],
		[Day1Date] = T.DAY_1_DATE,
		[Day1ID] = T.DAY_1_ET_ID,
		[Day1DetailID] = T.DAY_1_ET_DTL_ID,
		[Day1SequenceNumber] = T.DAY_1_SEQ_NBR,
		[Day1Hours] = T.DAY_1_HOURS,
		[Day2Date] = T.DAY_2_DATE,
		[Day2ID] = T.DAY_2_ET_ID,
		[Day2DetailID] = T.DAY_2_ET_DTL_ID,
		[Day2SequenceNumber] = T.DAY_2_SEQ_NBR,
		[Day2Hours] = T.DAY_2_HOURS,
		[Day3Date] = T.DAY_3_DATE,
		[Day3ID] = T.DAY_3_ET_ID,
		[Day3DetailID] = T.DAY_3_ET_DTL_ID,
		[Day3SequenceNumber] = T.DAY_3_SEQ_NBR,
		[Day3Hours] = T.DAY_3_HOURS,
		[Day4Date] = T.DAY_4_DATE,
		[Day4ID] = T.DAY_4_ET_ID,
		[Day4DetailID] = T.DAY_4_ET_DTL_ID,
		[Day4SequenceNumber] = T.DAY_4_SEQ_NBR,
		[Day4Hours] = T.DAY_4_HOURS,
		[Day5Date] = T.DAY_5_DATE,
		[Day5ID] = T.DAY_5_ET_ID,
		[Day5DetailID] = T.DAY_5_ET_DTL_ID,
		[Day5SequenceNumber] = T.DAY_5_SEQ_NBR,
		[Day5Hours] = T.DAY_5_HOURS,
		[Day6Date] = T.DAY_6_DATE,
		[Day6ID] = T.DAY_6_ET_ID,
		[Day6DetailID] = T.DAY_6_ET_DTL_ID,
		[Day6SequenceNumber] = T.DAY_6_SEQ_NBR,
		[Day6Hours] = T.DAY_6_HOURS,
		[Day7Date] = T.DAY_7_DATE,
		[Day7ID] = T.DAY_7_ET_ID,
		[Day7DetailID] = T.DAY_7_ET_DTL_ID,
		[Day7SequenceNumber] = T.DAY_7_SEQ_NBR,
		[Day7Hours] = T.DAY_7_HOURS 
	FROM 
		@TIMESHEET T
	INNER JOIN
		dbo.FUNCTIONS F ON T.FNC_CODE = F.FNC_CODE
	LEFT OUTER JOIN
		dbo.JOB_LOG J ON T.JOB_NUMBER = J.JOB_NUMBER 
	LEFT OUTER JOIN
		dbo.JOB_COMPONENT JC ON T.JOB_NUMBER = JC.JOB_NUMBER AND
							 T.JOB_COMPONENT_NBR = JC.JOB_COMPONENT_NBR
	LEFT OUTER JOIN
		CLIENT C ON J.CL_CODE = C.CL_CODE
	LEFT OUTER JOIN
		DIVISION D ON J.CL_CODE = D.CL_CODE AND J.DIV_CODE = D.DIV_CODE
	LEFT OUTER JOIN 
		PRODUCT P ON J.CL_CODE = P.CL_CODE AND J.DIV_CODE = P.DIV_CODE AND J.PRD_CODE = P.PRD_CODE
	LEFT OUTER JOIN
		dbo.ALERT A ON T.ALERT_ID = A.ALERT_ID
	LEFT OUTER JOIN
		dbo.DEPT_TEAM DT ON T.DP_TM_CODE = DT.DP_TM_CODE

END	
