IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID( N'[dbo].[advsp_comscore_update_new_market_number]' ) AND OBJECTPROPERTY( id, N'IsProcedure' ) = 1 )
	DROP PROCEDURE [dbo].[advsp_comscore_update_new_market_number]
GO

CREATE PROCEDURE [dbo].[advsp_comscore_update_new_market_number]
	
AS

UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2001 WHERE COMSCORE_MARKET_NUMBER = 501
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2002 WHERE COMSCORE_MARKET_NUMBER = 803
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2003 WHERE COMSCORE_MARKET_NUMBER = 602
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2004 WHERE COMSCORE_MARKET_NUMBER = 504
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2005 WHERE COMSCORE_MARKET_NUMBER = 623
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2006 WHERE COMSCORE_MARKET_NUMBER = 807
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2007 WHERE COMSCORE_MARKET_NUMBER = 618
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2008 WHERE COMSCORE_MARKET_NUMBER = 524
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2009 WHERE COMSCORE_MARKET_NUMBER = 506
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2010 WHERE COMSCORE_MARKET_NUMBER = 511
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2011 WHERE COMSCORE_MARKET_NUMBER = 819
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2012 WHERE COMSCORE_MARKET_NUMBER = 753
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2013 WHERE COMSCORE_MARKET_NUMBER = 539
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2014 WHERE COMSCORE_MARKET_NUMBER = 505
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2015 WHERE COMSCORE_MARKET_NUMBER = 613
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2016 WHERE COMSCORE_MARKET_NUMBER = 751
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2017 WHERE COMSCORE_MARKET_NUMBER = 528
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2018 WHERE COMSCORE_MARKET_NUMBER = 534
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2019 WHERE COMSCORE_MARKET_NUMBER = 510
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2020 WHERE COMSCORE_MARKET_NUMBER = 862
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2021 WHERE COMSCORE_MARKET_NUMBER = 820
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2022 WHERE COMSCORE_MARKET_NUMBER = 609
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2023 WHERE COMSCORE_MARKET_NUMBER = 517
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2024 WHERE COMSCORE_MARKET_NUMBER = 560
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2025 WHERE COMSCORE_MARKET_NUMBER = 508
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2026 WHERE COMSCORE_MARKET_NUMBER = 527
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2027 WHERE COMSCORE_MARKET_NUMBER = 825
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2028 WHERE COMSCORE_MARKET_NUMBER = 512
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2029 WHERE COMSCORE_MARKET_NUMBER = 659
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2030 WHERE COMSCORE_MARKET_NUMBER = 770
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2031 WHERE COMSCORE_MARKET_NUMBER = 533
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2032 WHERE COMSCORE_MARKET_NUMBER = 616
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2033 WHERE COMSCORE_MARKET_NUMBER = 535
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2034 WHERE COMSCORE_MARKET_NUMBER = 641
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2035 WHERE COMSCORE_MARKET_NUMBER = 567
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2036 WHERE COMSCORE_MARKET_NUMBER = 515
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2037 WHERE COMSCORE_MARKET_NUMBER = 617
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2038 WHERE COMSCORE_MARKET_NUMBER = 635
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2039 WHERE COMSCORE_MARKET_NUMBER = 548
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2040 WHERE COMSCORE_MARKET_NUMBER = 839
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2041 WHERE COMSCORE_MARKET_NUMBER = 566
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2042 WHERE COMSCORE_MARKET_NUMBER = 563
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2043 WHERE COMSCORE_MARKET_NUMBER = 630
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2044 WHERE COMSCORE_MARKET_NUMBER = 561
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2045 WHERE COMSCORE_MARKET_NUMBER = 650
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2046 WHERE COMSCORE_MARKET_NUMBER = 544
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2047 WHERE COMSCORE_MARKET_NUMBER = 518
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2048 WHERE COMSCORE_MARKET_NUMBER = 790
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2049 WHERE COMSCORE_MARKET_NUMBER = 640
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2050 WHERE COMSCORE_MARKET_NUMBER = 529
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2051 WHERE COMSCORE_MARKET_NUMBER = 622
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2052 WHERE COMSCORE_MARKET_NUMBER = 514
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2053 WHERE COMSCORE_MARKET_NUMBER = 521
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2054 WHERE COMSCORE_MARKET_NUMBER = 866
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2055 WHERE COMSCORE_MARKET_NUMBER = 577
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2056 WHERE COMSCORE_MARKET_NUMBER = 556
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2057 WHERE COMSCORE_MARKET_NUMBER = 693
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2058 WHERE COMSCORE_MARKET_NUMBER = 532
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2059 WHERE COMSCORE_MARKET_NUMBER = 686
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2060 WHERE COMSCORE_MARKET_NUMBER = 571
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2061 WHERE COMSCORE_MARKET_NUMBER = 557
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2062 WHERE COMSCORE_MARKET_NUMBER = 671
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2063 WHERE COMSCORE_MARKET_NUMBER = 542
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2064 WHERE COMSCORE_MARKET_NUMBER = 541
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2065 WHERE COMSCORE_MARKET_NUMBER = 564
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2066 WHERE COMSCORE_MARKET_NUMBER = 744
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2067 WHERE COMSCORE_MARKET_NUMBER = 881
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2068 WHERE COMSCORE_MARKET_NUMBER = 789
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2069 WHERE COMSCORE_MARKET_NUMBER = 678
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2070 WHERE COMSCORE_MARKET_NUMBER = 679
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2071 WHERE COMSCORE_MARKET_NUMBER = 513
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2072 WHERE COMSCORE_MARKET_NUMBER = 619
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2073 WHERE COMSCORE_MARKET_NUMBER = 573
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2074 WHERE COMSCORE_MARKET_NUMBER = 658
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2075 WHERE COMSCORE_MARKET_NUMBER = 652
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2076 WHERE COMSCORE_MARKET_NUMBER = 538
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2077 WHERE COMSCORE_MARKET_NUMBER = 546
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2078 WHERE COMSCORE_MARKET_NUMBER = 547
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2079 WHERE COMSCORE_MARKET_NUMBER = 500
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2080 WHERE COMSCORE_MARKET_NUMBER = 691
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2081 WHERE COMSCORE_MARKET_NUMBER = 669
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2082 WHERE COMSCORE_MARKET_NUMBER = 625
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2083 WHERE COMSCORE_MARKET_NUMBER = 636
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2084 WHERE COMSCORE_MARKET_NUMBER = 612
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2085 WHERE COMSCORE_MARKET_NUMBER = 632
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2086 WHERE COMSCORE_MARKET_NUMBER = 648
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2087 WHERE COMSCORE_MARKET_NUMBER = 575
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2088 WHERE COMSCORE_MARKET_NUMBER = 507
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2089 WHERE COMSCORE_MARKET_NUMBER = 752
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2090 WHERE COMSCORE_MARKET_NUMBER = 555
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2091 WHERE COMSCORE_MARKET_NUMBER = 637
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2092 WHERE COMSCORE_MARKET_NUMBER = 765
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2093 WHERE COMSCORE_MARKET_NUMBER = 519
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2094 WHERE COMSCORE_MARKET_NUMBER = 716
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2095 WHERE COMSCORE_MARKET_NUMBER = 523
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2096 WHERE COMSCORE_MARKET_NUMBER = 718
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2097 WHERE COMSCORE_MARKET_NUMBER = 588
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2098 WHERE COMSCORE_MARKET_NUMBER = 570
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2099 WHERE COMSCORE_MARKET_NUMBER = 531
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2100 WHERE COMSCORE_MARKET_NUMBER = 545
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2101 WHERE COMSCORE_MARKET_NUMBER = 670
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2102 WHERE COMSCORE_MARKET_NUMBER = 682
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2103 WHERE COMSCORE_MARKET_NUMBER = 757
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2104 WHERE COMSCORE_MARKET_NUMBER = 709
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2105 WHERE COMSCORE_MARKET_NUMBER = 574
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2106 WHERE COMSCORE_MARKET_NUMBER = 530
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2107 WHERE COMSCORE_MARKET_NUMBER = 649
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2108 WHERE COMSCORE_MARKET_NUMBER = 722
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2109 WHERE COMSCORE_MARKET_NUMBER = 811
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2110 WHERE COMSCORE_MARKET_NUMBER = 509
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2111 WHERE COMSCORE_MARKET_NUMBER = 520
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2112 WHERE COMSCORE_MARKET_NUMBER = 725
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2113 WHERE COMSCORE_MARKET_NUMBER = 800
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2114 WHERE COMSCORE_MARKET_NUMBER = 551
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2115 WHERE COMSCORE_MARKET_NUMBER = 724
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2116 WHERE COMSCORE_MARKET_NUMBER = 543
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2117 WHERE COMSCORE_MARKET_NUMBER = 536
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2118 WHERE COMSCORE_MARKET_NUMBER = 540
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2119 WHERE COMSCORE_MARKET_NUMBER = 801
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2120 WHERE COMSCORE_MARKET_NUMBER = 698
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2121 WHERE COMSCORE_MARKET_NUMBER = 675
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2122 WHERE COMSCORE_MARKET_NUMBER = 503
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2123 WHERE COMSCORE_MARKET_NUMBER = 855
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2124 WHERE COMSCORE_MARKET_NUMBER = 810
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2125 WHERE COMSCORE_MARKET_NUMBER = 642
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2126 WHERE COMSCORE_MARKET_NUMBER = 828
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2127 WHERE COMSCORE_MARKET_NUMBER = 522
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2128 WHERE COMSCORE_MARKET_NUMBER = 702
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2129 WHERE COMSCORE_MARKET_NUMBER = 550
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2130 WHERE COMSCORE_MARKET_NUMBER = 600
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2131 WHERE COMSCORE_MARKET_NUMBER = 868
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2132 WHERE COMSCORE_MARKET_NUMBER = 634
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2133 WHERE COMSCORE_MARKET_NUMBER = 673
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2134 WHERE COMSCORE_MARKET_NUMBER = 743
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2135 WHERE COMSCORE_MARKET_NUMBER = 604
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2136 WHERE COMSCORE_MARKET_NUMBER = 605
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2137 WHERE COMSCORE_MARKET_NUMBER = 576
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2138 WHERE COMSCORE_MARKET_NUMBER = 813
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2139 WHERE COMSCORE_MARKET_NUMBER = 628
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2140 WHERE COMSCORE_MARKET_NUMBER = 705
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2141 WHERE COMSCORE_MARKET_NUMBER = 610
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2142 WHERE COMSCORE_MARKET_NUMBER = 676
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2143 WHERE COMSCORE_MARKET_NUMBER = 692
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2144 WHERE COMSCORE_MARKET_NUMBER = 687
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2145 WHERE COMSCORE_MARKET_NUMBER = 651
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2146 WHERE COMSCORE_MARKET_NUMBER = 627
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2147 WHERE COMSCORE_MARKET_NUMBER = 804
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2148 WHERE COMSCORE_MARKET_NUMBER = 516
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2149 WHERE COMSCORE_MARKET_NUMBER = 656
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2150 WHERE COMSCORE_MARKET_NUMBER = 633
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2151 WHERE COMSCORE_MARKET_NUMBER = 603
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2152 WHERE COMSCORE_MARKET_NUMBER = 624
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2153 WHERE COMSCORE_MARKET_NUMBER = 525
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2154 WHERE COMSCORE_MARKET_NUMBER = 746
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2155 WHERE COMSCORE_MARKET_NUMBER = 611
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2156 WHERE COMSCORE_MARKET_NUMBER = 537
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2157 WHERE COMSCORE_MARKET_NUMBER = 581
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2158 WHERE COMSCORE_MARKET_NUMBER = 559
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2159 WHERE COMSCORE_MARKET_NUMBER = 592
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2160 WHERE COMSCORE_MARKET_NUMBER = 526
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2161 WHERE COMSCORE_MARKET_NUMBER = 502
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2162 WHERE COMSCORE_MARKET_NUMBER = 758
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2163 WHERE COMSCORE_MARKET_NUMBER = 554
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2164 WHERE COMSCORE_MARKET_NUMBER = 657
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2165 WHERE COMSCORE_MARKET_NUMBER = 762
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2166 WHERE COMSCORE_MARKET_NUMBER = 771
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2167 WHERE COMSCORE_MARKET_NUMBER = 756
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2168 WHERE COMSCORE_MARKET_NUMBER = 662
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2169 WHERE COMSCORE_MARKET_NUMBER = 710
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2170 WHERE COMSCORE_MARKET_NUMBER = 764
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2171 WHERE COMSCORE_MARKET_NUMBER = 569
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2172 WHERE COMSCORE_MARKET_NUMBER = 598
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2173 WHERE COMSCORE_MARKET_NUMBER = 717
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2174 WHERE COMSCORE_MARKET_NUMBER = 643
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2175 WHERE COMSCORE_MARKET_NUMBER = 606
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2176 WHERE COMSCORE_MARKET_NUMBER = 736
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2177 WHERE COMSCORE_MARKET_NUMBER = 565
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2178 WHERE COMSCORE_MARKET_NUMBER = 549
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2179 WHERE COMSCORE_MARKET_NUMBER = 734
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2180 WHERE COMSCORE_MARKET_NUMBER = 644
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2181 WHERE COMSCORE_MARKET_NUMBER = 553
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2182 WHERE COMSCORE_MARKET_NUMBER = 639
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2183 WHERE COMSCORE_MARKET_NUMBER = 749
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2184 WHERE COMSCORE_MARKET_NUMBER = 754
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2185 WHERE COMSCORE_MARKET_NUMBER = 773
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2186 WHERE COMSCORE_MARKET_NUMBER = 821
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2187 WHERE COMSCORE_MARKET_NUMBER = 558
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2188 WHERE COMSCORE_MARKET_NUMBER = 584
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2189 WHERE COMSCORE_MARKET_NUMBER = 582
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2190 WHERE COMSCORE_MARKET_NUMBER = 760
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2191 WHERE COMSCORE_MARKET_NUMBER = 647
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2192 WHERE COMSCORE_MARKET_NUMBER = 711
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2193 WHERE COMSCORE_MARKET_NUMBER = 755
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2194 WHERE COMSCORE_MARKET_NUMBER = 802
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2195 WHERE COMSCORE_MARKET_NUMBER = 597
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2196 WHERE COMSCORE_MARKET_NUMBER = 759
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2197 WHERE COMSCORE_MARKET_NUMBER = 767
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2198 WHERE COMSCORE_MARKET_NUMBER = 661
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2199 WHERE COMSCORE_MARKET_NUMBER = 638
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2200 WHERE COMSCORE_MARKET_NUMBER = 737
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2201 WHERE COMSCORE_MARKET_NUMBER = 631
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2202 WHERE COMSCORE_MARKET_NUMBER = 745
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2203 WHERE COMSCORE_MARKET_NUMBER = 596
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2204 WHERE COMSCORE_MARKET_NUMBER = 626
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2205 WHERE COMSCORE_MARKET_NUMBER = 766
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2206 WHERE COMSCORE_MARKET_NUMBER = 552
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2207 WHERE COMSCORE_MARKET_NUMBER = 747
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2208 WHERE COMSCORE_MARKET_NUMBER = 583
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2209 WHERE COMSCORE_MARKET_NUMBER = 740
UPDATE dbo.MARKET SET COMSCORE_NEW_MARKET_NUMBER = 2210 WHERE COMSCORE_MARKET_NUMBER = 798

GO
