CREATE PROCEDURE [dbo].[usp_get_task_template_with_roles] 
@TRF_PRESET_CODE varchar(10)
AS

SET NOCOUNT ON

SELECT 
	[PhaseID] = TP.TRAFFIC_PHASE_ID, 
	[PhaseDescription] = TP.PHASE_DESC, 
	[TaskCode] = TRD.FNC_CODE, 
	[TaskDescription] = TF.TRF_DESC,
	[Roles] = STUFF((SELECT ', ' + TR.ROLE_DESC FROM dbo.TASK_TRAFFIC_ROLE TRF 
					 JOIN dbo.TRAFFIC_ROLE TR ON TR.ROLE_CODE = TRF.ROLE_CODE 
					 WHERE TRF.TRF_CODE = TRD.FNC_CODE FOR XML PATH('')),1,1,'') 
FROM 
	dbo.TRF_PRESET_DTL TRD 
LEFT JOIN 
	dbo.TRAFFIC_FNC TF ON TRD.FNC_CODE = TF.TRF_CODE
LEFT JOIN 
	dbo.TRAFFIC_PHASE TP ON TRD.TRAFFIC_PHASE_ID = TP.TRAFFIC_PHASE_ID
WHERE 
	TRD.TRF_PRESET_CODE = @TRF_PRESET_CODE

GO