// Background colors
$white: #FFFFFF;
$black: #000000;
$light-black: #252525;
$base-background: #E8E8E8;
$light-gray: #F5F5F5;
$dark-gray: #E5E5E5;
$border-gray: #CCCCCC;
$mute-gray: #A6A6A6;
$panel-background: #EFEFEF;
$mid-blue: #2A579A;
$light-blue: #428BCA;

// Common values
$common-border-radius: 3px;
$block-margin: 15px;
