IF EXISTS ( SELECT * FROM sysobjects WHERE id = OBJECT_ID( N'[dbo].[udf_get_next_check_nbr]' ) AND xtype IN ( N'FN', N'IF', N'TF' ))
BEGIN
	DROP FUNCTION [dbo].[udf_get_next_check_nbr]
END
GO

CREATE  FUNCTION [dbo].[udf_get_next_check_nbr] ( @BANK_CODE VARCHAR(4), @PAYMENT_TYPE VARCHAR(10), @PAYMENT_TYPE_DETAIL VARCHAR(10) )  		  	
RETURNS INT AS  	
BEGIN  
	DECLARE @CHECK_NUMBER	INT
	BEGIN	
		SELECT @CHECK_NUMBER = COALESCE(MAX(CHECK_NBR), 0) + 1 
		FROM CHECK_REGISTER WITH (NOLOCK) 
		WHERE BK_CODE = @BANK_CODE
		AND PAYMENT_TYPE = @PAYMENT_TYPE 
		AND PAYMENT_TYPE_DETAIL = @PAYMENT_TYPE_DETAIL
	END
	RETURN @CHECK_NUMBER
END	
GO
