--DROP FUNCTION [dbo].[wvfn_ts_can_insert]
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[wvfn_ts_can_insert]
(	
@EMP_CODE VARCHAR(6),
@EMP_DATE SMALLDATETIME,
@JOB_NUMBER INT,
@JOB_COMPONENT_NBR SMALLINT
)
RETURNS @MY_DATA TABLE
(
	CAN_EDIT SMALLINT,
	RETURN_MESSAGE VARCHAR(100)	
)
AS
BEGIN
/*=========== QUERY ===========*/
	DECLARE
		@POST_PERIOD_CHECK INT,
		@POST_PERIOD INT,
		@EDIT_TYPE INT,
		@JOB_COMPONENT_PROC_CTRL SMALLINT,
		@TIME_TYPE VARCHAR(1),
		@APPROVED_PENDING SMALLINT,
		@CAN_EDIT SMALLINT,
		@RETURN_MESSAGE VARCHAR(100),
		@CURR_AR_INV_NBR INT,
		@CURR_BILLING_USER VARCHAR(100),
		@ET_ID INT
		
	SET @CAN_EDIT = 1;	
	SET @RETURN_MESSAGE = '';

	-- CHECK POST PERIOD
	SELECT @POST_PERIOD_CHECK = TS_PPERIOD_CHK FROM AGENCY WITH(NOLOCK);
	SET @POST_PERIOD_CHECK = ISNULL(@POST_PERIOD_CHECK, 0)
	IF @POST_PERIOD_CHECK = 1
	BEGIN
		SELECT @POST_PERIOD = COUNT(*) 
		FROM POSTPERIOD WITH (NOLOCK)
		WHERE	PPSRTDATE <= @EMP_DATE
		AND	PPENDDATE >= @EMP_DATE
		AND (PPTECURMTH = 'C' OR PPTECURMTH IS NULL)
	END
	SET @POST_PERIOD = ISNULL(@POST_PERIOD, 0)
	
	IF @POST_PERIOD_CHECK = 1 AND @POST_PERIOD = 0
	BEGIN
		SET @CAN_EDIT = 0
		SET @RETURN_MESSAGE = 'Post period is closed'
	END

	-- CHECK FOR APPROVAL STATUS
	SELECT @ET_ID = ET_ID, @APPROVED_PENDING = (ISNULL(APPR_FLAG, 0) + ISNULL(APPR_PENDING, 0))
	FROM EMP_TIME WITH (NOLOCK) 
	WHERE 
		EMP_CODE = @EMP_CODE 
		AND EMP_DATE = @EMP_DATE;
		
    -- NOT ZERO IS EITHER APPROVED OR PENDING; DON'T CARE WHICH
	SET @APPROVED_PENDING = ISNULL(@APPROVED_PENDING, 0)	
	
	IF @APPROVED_PENDING > 0
	BEGIN
		SET @CAN_EDIT = 0;
		SET @RETURN_MESSAGE = 'Day is Approved/Pending'
	END

	IF NOT @EMP_DATE IS NULL --AND @CAN_EDIT = 1
	BEGIN

		SET @JOB_NUMBER = ISNULL(@JOB_NUMBER, 0);
		SET @JOB_COMPONENT_NBR = ISNULL(@JOB_COMPONENT_NBR, 0);
		
		IF @JOB_NUMBER > 0 AND @JOB_COMPONENT_NBR > 0
			BEGIN
				SET @TIME_TYPE = 'D';
				SELECT @JOB_COMPONENT_PROC_CTRL = JOB_PROCESS_CONTRL FROM JOB_COMPONENT WITH(NOLOCK) WHERE JOB_NUMBER = @JOB_NUMBER AND JOB_COMPONENT_NBR = @JOB_COMPONENT_NBR;
				IF @JOB_COMPONENT_PROC_CTRL IN (2,3,5,6,9,10,12,13)
				BEGIN
					SET @CAN_EDIT = 0;
					SET @RETURN_MESSAGE = 'Cannot add due to Job Processing Control'
				END

			END
		ELSE
			BEGIN
				SET @TIME_TYPE = 'N';
			END
	
		-- BJL - 11/23/03
		-- Check if row has been approved
		SELECT @EDIT_TYPE = 6
			WHERE EXISTS ( SELECT ET_ID
		  					FROM EMP_TIME et WITH (NOLOCK)
		 					WHERE et.ET_ID = @ET_ID
		   					AND APPR_FLAG = 1 )
			AND EXISTS ( SELECT * FROM AGENCY WHERE TIME_APPR_ACTIVE = 1 )

		-- BJL - 11/23/03
		-- Check if row is pending approval
		SELECT @EDIT_TYPE = 5
			WHERE  EXISTS ( SELECT ET_ID
		  					FROM EMP_TIME et WITH (NOLOCK)
		 					WHERE et.ET_ID = @ET_ID
		   					AND APPR_PENDING = 1 )
			AND EXISTS ( SELECT * FROM AGENCY WHERE TIME_APPR_ACTIVE = 1 )
   
			-- JTG - 9/17/2009
		-- Check if row is denied approval
		SELECT @EDIT_TYPE = 7
			WHERE  EXISTS ( SELECT ET_ID
		  					FROM EMP_TIME et WITH (NOLOCK)
		 					WHERE et.ET_ID = @ET_ID
		   					AND APPR_PENDING = 2 )
			AND EXISTS ( SELECT * FROM AGENCY WHERE TIME_APPR_ACTIVE = 1 )

		--END GET EDIT FLAG
	
	    -- CHECK
		IF @APPROVED_PENDING > 0 AND @EDIT_TYPE <> 7
		BEGIN

			SET @CAN_EDIT = 0;
			SET @RETURN_MESSAGE = 'Cannot edit due to Approval Status'

		END	
		-- FINAL CHECK TO ALLOW DENIED EDIT
		IF @APPROVED_PENDING > 0 AND @EDIT_TYPE = 7
		BEGIN

			SET @CAN_EDIT = 1;
			SET @RETURN_MESSAGE = ''

		END	

	END

	--SELECT ISNULL(@CAN_EDIT, 0) AS CAN_EDIT, ISNULL(@RETURN_MESSAGE,'') AS RETURN_MESSAGE;
	INSERT INTO @MY_DATA(CAN_EDIT,RETURN_MESSAGE) VALUES (@CAN_EDIT, @RETURN_MESSAGE);
	RETURN;
/*=========== QUERY ===========*/
	
END