$white: #ffffff;
$black-light: #252525;
$dark-grey: #979797;
$color-palette-background: #e8e8e8;
$light-grey: #e5e5e5;
$very-light-grey: #f5f5f5;
$border-color: #cccccc;
$border-color-blue: #2196f3;
$black: #000000;
$scroll-bar-track: rgba(232, 232, 232, 0.3);
$scroll-bar-thumb: #e8e8e8;
$blue: #2196f3;
$pressed-button: #428bca;
$blue-dark: #2a579a;
$link: #b5b5b5;
$feedback-light-text: #a6a6a6;
$red-border: #d9544f;
$approval-review: #efefef;
