<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/CSS">
    <include path="~/CSS/Common.min.css" />
    <include path="~/CSS/MobileBB.min.css" />
    <include path="~/CSS/PopUp.min.css" />
    <include path="~/CSS/Print.css" />
    <include path="~/CSS/RadEditorContentArea.min.css" />
    <include path="~/CSS/UI_Styles.min.css" />
  </styleBundle>
</bundles>
