<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>	

  		<browserCaps>
		<!-- 
		ST: Found this chunk online; should help with compatability with diff browsers...
		Name:	BrowserCaps update for modern browsers, http://slingfive.com/pages/code/browserCaps/
		Author:	Rob Eberhardt, http://slingfive.com/
		History:
			2005-04-20 - tested Opera 8, added testing & approach comparison sections to this page, misc editing, dropped unnecessary view-source links, added sample web.config 
			2004-12-31 - added installation notes to this page
			2004-11-19	improved detection of Safari, Konqueror &amp; Mozilla variants, added Opera detection
			2003-12-21	updated TagWriter info
			2003-12-03	first published
		-->
			<!-- GECKO Based Browsers (Netscape 6+, Mozilla/Firefox, ...) //-->
			<case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))?">
				browser=Gecko
				<filter>
					<case match="(Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))">
						type=${type}
					</case>
					<case> <!-- plain Mozilla if no VendorProductToken found -->
						type=Mozilla
					</case>
				</filter>
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
				<case match="rv:(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
					version=${version}
					majorversion=0${major}
					minorversion=0${minor}
					<case match="^b" with="${letters}">
						beta=true
					</case>
				</case>
			</case>

			<!-- AppleWebKit Based Browsers (Safari...) //-->
			<case match="AppleWebKit/(?'version'(?'major'\d?)(?'minor'\d{2})(?'letters'\w*)?)">
				browser=AppleWebKit
				version=${version}
				majorversion=0${major}
				minorversion=0.${minor}
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
				<case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))(.* )?(?'type'[^/\d]*)/.*( |$)">
					type=${type}
				</case>
			</case>

			<!-- Konqueror //-->
			<case match=".+[K|k]onqueror/(?'version'(?'major'\d+)(?'minor'(\.[\d])*)(?'letters'[^;]*));\s+(?'platform'[^;\)]*)(;|\))">
				browser=Konqueror
				version=${version}
				majorversion=0${major}
				minorversion=0${minor}
				platform=${platform}
				type=Konqueror
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
			</case>

			<!-- Opera //-->
			<case match="Opera[ /](?'version'(?'major'\d+)(?'minor'\.(?'minorint'\d+))(?'letters'\w*))">
				<filter match="[7-9]" with="${major}">
					tagwriter=System.Web.UI.HtmlTextWriter
				</filter>
				<filter>
					<case match="7" with="${major}">
						<filter>
							<case match="[5-9]" with="${minorint}">
								ecmascriptversion=1.5
							</case>
							<case>
								ecmascriptversion=1.4
							</case>
						</filter>
					</case>
					<case match="[8-9]" with="${major}">
						ecmascriptversion=1.5
					</case>
				</filter>
			</case>
		</browserCaps>

	
	<compilation defaultLanguage="vb" debug="true">
    <assemblies></assemblies>
    </compilation>
    
    <customErrors mode="RemoteOnly" defaultRedirect="error.aspx">
             <error statusCode="404" redirect="error404.aspx"/>
    </customErrors>
		<authentication mode="Forms">
			<forms name="SecLogin" path="/" loginUrl="login.aspx"/>
		</authentication>
		<identity impersonate="true" />
   	<authorization>
		<deny users="?"/>
	</authorization>
	  <identity impersonate="false" userName="" password=""/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  	<location path="error.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
  	<location path="ImagePipe.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
  	<location path="error404.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>	
  	<location path="styles.css">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>	
  <appSettings>
    <add key="securityMode" value="USER"/>
    <add key="AppTitle" value="Webvantage 2006"/> 
    <add key="Version" value="2006"/> 
    <!-- Change Authentication Key to "Windows" or "Forms" based on your Authentication Mode -->
		<add key="Authentication" value="Forms"/> 
		<!-- <add key="Authentication" value="Windows"/> -->  
    <!-- ******************************************* -->
    <add key="DocumentStructure" value="Client" /> <!--Document Structure values: Office, Client, Product, Job -->
    <add key="DocumentFilePC" value="\\yourdirectory\" />
    <add key="DocumentFileMAC" value="file:///Volumes/yourdirectory/" />
    <add key="AttachmentPC" value="\\yourdirectory\" />
    <add key="AttachmentMAC" value="file:///Volumes/yourdirectory/" />
    <add key="ReportServerPath" value="http://localhost/reportserver/"/>    
    <add key="SMTPAddress" value="smtp.yourcompany.com" />
    <add key="SMTPFromAddress" value="email@yourcompany.com" />
    <add key="SMTPUsername" value="email@yourcompany.com" />
    <add key="SMTPPassword" value="password" />
    <add key="UpperCaseUser" value="false" />
    <add key="ChooseServer" value="true" />
    <add key="SQLControledAdmin" value="false" />
	
  </appSettings>
</configuration>
