IF EXISTS ( SELECT * FROM sysobjects WHERE id = OBJECT_ID( N'[dbo].[advfn_get_gl_account_desc]' ) AND xtype IN ( N'FN', N'IF', N'TF' ))
BEGIN
	DROP FUNCTION [dbo].[advfn_get_gl_account_desc]
END
GO

CREATE FUNCTION [dbo].[advfn_get_gl_account_desc] ( @GLACODE VARCHAR(10) )
RETURNS VARCHAR(75) AS  	
BEGIN  
	DECLARE @GLA_DESC VARCHAR(75)
	BEGIN		   
		SELECT @GLA_DESC = 	(SELECT GLADESC FROM GLACCOUNT WITH ( NOLOCK ) WHERE GLACODE = @GLACODE AND GLAACTIVE ='A' AND GLACODE NOT IN ( SELECT PGLACODE_WIP FROM OFFICE ));
	END
	RETURN @GLA_DESC 
END	
GO
