<ng-container *ngIf="(centerPanelButtons | async) as centerPanelButtons">
  <div [ngClass]="setClassOnBlock(!centerPanelButtons.bottomNavigation, false)">
    <ng-container *ngFor="let document of documents; let i = index; trackBy: trackAssets">
      <proof-item [thumbnail]="centerPanelButtons.bottomNavigation.selected"
                  [itemType]="image"
                  [selected]="document.selected"
                  (click)="setSelectedPage(i, centerPanelButtons.compare.selected,centerPanelButtons.compare_horizontal.selected)"
                  [fileName]="document.filename"
                  [imageThumbnail]="document.thumbnail"
                  [extension]="document.extension"
                  [mimeType]="document.mimeType"
                  [documentId]="document.documentId"
                  [commentsDisplayed]="document.commentsDisplayed"></proof-item>
    </ng-container>
  </div>
</ng-container>
