html, 
body,
.dx-viewport {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}
.overlayContents{
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  border-color: #cecece;
  background-color: #ffffff;
  font-size:18px;
}
.line-through {
    text-decoration: line-through !important;
}
.list-line {
    float:left;
    margin-right:4px;
}
.wordwrap { 
   white-space: pre-wrap;        
   white-space: -moz-pre-wrap; 
   white-space: -pre-wrap;     
   white-space: -o-pre-wrap;   
   word-wrap: break-word;      
}
/*

.dx-theme-ios .overlayContents{
  border-color:#43628D;
  background-color:#F7F7F7;
}
.dx-theme-android .overlayContents{
  border-color:#FFFFFF;
  background-color:#5F5F5F;
}
.dx-theme-win8 .overlayContents{
  border-color: #E4E4E4;
  background-color:#333333;
}

.alert-priority-container {
    align-content:center;
    float:left;
    height:50px;
    margin-right:10px;
    margin-top:2px;
    width:10px;
    border: 1px solid #cecece;
}
.alert-priority-highest {
    background-color:#7a0c0c;
    color:white;
}
.alert-priority-high {
    background-color:#a12b2b;
    color:white;
}
.alert-priority-normal {
    background-color:white;
    color:black;
}
.alert-priority-low {
    background-color:#698cc2;
    color:white;
}
.alert-priority-lowest {
    background-color:#275cab;
    color:white;
}

.alert-priority-text {
    margin-top:10px;
    font-size:24px;
    font-weight:100;
    text-align:center;
    vertical-align:middle;
}

.task-priority-container {
    float:left;
    height:100%;
    width:8px;
    margin-right:8px;
}
.task-priority-active {
    background-color:#e1c420;
}
.task-priority-pending {
    background-color:#808080;
}
.task-due-overdue {
    color: #E9360A;
}
.task-due-today {
    color: #EC6400;
}

*/
