IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterGetBatchAccountDetails]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[usp_wv_PaymentCenterGetBatchAccountDetails] 
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterGetBatchAccountDetails]

@USER_ID VARCHAR(100),
@BATCH_ID INTEGER,
@PAYMENT_MODULE VARCHAR(2)

AS

BEGIN
	IF @PAYMENT_MODULE != 'CW'
		SELECT GL_CODE AS GLCode,
			G.GLADESC AS GLDescription
		FROM PC_BATCH_GL_SEL B WITH (NOLOCK) JOIN GLACCOUNT G WITH (NOLOCK) ON B.GL_CODE = G.GLACODE
		WHERE USER_ID = @USER_ID
			AND BATCH_ID = @BATCH_ID
	ELSE
		SELECT DISTINCT AP.GLACODE_AP AS GLCode,
			G.GLADESC AS GLDescription
		FROM AP_PMT_HIST AP WITH (NOLOCK) LEFT JOIN GLACCOUNT G WITH (NOLOCK) ON G.GLACODE = AP.GLACODE_AP
		WHERE AP.GLEXACT = @BATCH_ID		
END
GO
