IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterPostBatchToGL]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[usp_wv_PaymentCenterPostBatchToGL] 
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterPostBatchToGL]		
	@USER_CODE VARCHAR(6),
	@BATCH_ID INT,
	@POST_SOURCE VARCHAR(10)	
AS
	DECLARE 
		@GL_ID INT,
		@GL_DATE DATETIME,		
		@GL_DESC VARCHAR(100),
		@BANK_NAME VARCHAR(30)

BEGIN	
	--SET DYNAMIC INSERT VALUES FOR GL VALUE
	BEGIN
		SELECT @GL_ID = IDSXACT + 1, @GL_DATE = GETDATE()		
		FROM IDS WITH (NOLOCK) WHERE IDSTABLE ='GLENTHDR';								

		SELECT @BANK_NAME = BK_DESCRIPTION 
			FROM BANK B WITH (NOLOCK) JOIN PC_BATCH_HEADER BH WITH (NOLOCK) ON B.BK_CODE = BH.BANK_CODE		
		WHERE BH.BATCH_ID = @BATCH_ID
			AND BH.USER_ID = @USER_CODE;				
		
		SELECT @GL_DESC = 'PC Check run: ' + CONVERT(VARCHAR(10), @GL_DATE, 101) + ' - Bank: ' + @BANK_NAME + ' - ' + CONVERT(VARCHAR(10), SYSDATETIME(), 101) + ' ' + CONVERT(VARCHAR(10), SYSDATETIME(), 8);
	END	

	--INSERT NEW RECORD FOR GL ENTRY HEADER
	BEGIN 
		INSERT INTO GLENTHDR  WITH (ROWLOCK)
					(GLEHXACT, 
					 GLEHENTDATE, 
					 GLEHMODDATE, 
					 GLEHPP, 
					 GLEHUSER, 
					 GLEHDESC, 
					 GLEHSOURCE, 
					 CREATE_DATE) 
		SELECT @GL_ID                           AS GLEHXACT, 
			   CONVERT(SMALLDATETIME, @GL_DATE) AS GLEHENTDATE, 
			   CONVERT(SMALLDATETIME, @GL_DATE) AS GLEHMODDATE, 
			   BH.POSTING_PERIOD                AS GLEHPP, 
			   @USER_CODE                       AS GLEHUSER, 
			   @GL_DESC                         AS GLEHDESC, 
			   @POST_SOURCE                     GLEHSOURCE, 
			   CONVERT(SMALLDATETIME, @GL_DATE) AS CREATE_DATE 
		FROM   PC_BATCH_HEADER BH WITH (NOLOCK)
		WHERE  BATCH_ID = @BATCH_ID 
			   AND USER_ID = @USER_CODE 
	END 

	--INSERT NEW RECORD FOR GL ENTRY TRAILER, DEBIT FROM AP_CASH
	BEGIN
		INSERT INTO GLENTTRL WITH (ROWLOCK) 
					(GLETXACT, 
					 GLETSEQ, 
					 GLETCODE, 
					 GLETAMT, 
					 GLETFCAMT, 
					 GLETREM, 
					 GLETSOURCE) 
		SELECT @GL_ID									AS GLETXACT, 
			   1										AS GLETSEQ, 
			   B.GLACODE_AP_CASH						AS GLETCODE, 
			   BA.APPROVED_AMOUNT						AS GLETAMT, 
			   BA.APPROVED_AMOUNT						AS GLETFCAMT, 
			   @GL_DESC									AS GLETREM, 
			   @POST_SOURCE								AS GLETSOURCE 
		FROM   PC_BATCH_HEADER BH WITH (NOLOCK) 
			   LEFT JOIN BANK B  WITH (NOLOCK)
					  ON BH.BANK_CODE = B.BK_CODE 
			   LEFT JOIN (SELECT BATCH_ID, 
								 USER_ID, 
								 SUM(APPROVED_AMOUNT) * -1 AS APPROVED_AMOUNT 
						  FROM   PC_BATCH_INVOICE  WITH (NOLOCK)
						  WHERE  BATCH_ID = @BATCH_ID 
								 AND USER_ID = @USER_CODE 
						  GROUP  BY BATCH_ID, 
									USER_ID) BA 
					  ON BH.BATCH_ID = BA.BATCH_ID 
						 AND BH.USER_ID = BA.USER_ID 
		WHERE  BH.BATCH_ID = @BATCH_ID 
			   AND BH.USER_ID = @USER_CODE; 
	END

	--INSERT NEW RECORDS FOR GL ENTRY TRAILER, CREDITS FROM GLACODES
	BEGIN		
		INSERT INTO GLENTTRL WITH (ROWLOCK) 
			(GLETXACT, 
				GLETSEQ, 
				GLETCODE, 
				GLETAMT, 
				GLETFCAMT, 
				GLETREM, 
				GLETSOURCE) 
		SELECT @GL_ID                                    AS GLETXACT, 
			   ROW_NUMBER() OVER( ORDER BY GLACODE ) + 1 AS GLETSEQ, 
			   AH.GLACODE                                AS GLETCODE, 
			   SUM(BI.APPROVED_AMOUNT)                   AS GLETAMT, 
			   SUM(BI.APPROVED_AMOUNT)                   AS GLETFCAMT, 
			   @GL_DESC                                  AS GLETREM, 
			   @POST_SOURCE                              AS GLETSOURCE 
		FROM   PC_BATCH_INVOICE BI  WITH (NOLOCK)
			   JOIN PC_BATCH_HEADER BH  WITH (NOLOCK)
				 ON BI.BATCH_ID = BH.BATCH_ID 
					AND BI.USER_ID = BH.USER_ID 
			   JOIN AP_HEADER AH  WITH (NOLOCK)
				 ON AH.AP_ID = BI.AP_ID 
		WHERE  BI.BATCH_ID = @BATCH_ID 
			   AND BI.USER_ID = @USER_CODE 
		GROUP  BY AH.GLACODE 
		ORDER  BY GLACODE; 
	END
		
	--BEGIN
	--	UPDATE IDS
	--	SET IDSXACT = @GL_ID
	--	WHERE IDSTABLE = 'GLENTHDR'
	--END
	
	BEGIN
		SELECT COALESCE(@GL_ID, 0) AS GLId
	END
END