if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_wv_Job_Template_GetTemplate_ByJobAndComp]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	drop procedure [dbo].[usp_wv_Job_Template_GetTemplate_ByJobAndComp]
GO

CREATE PROCEDURE [dbo].[usp_wv_Job_Template_GetTemplate_ByJobAndComp]
@JOB_NUMBER INT,
@JOB_COMPONENT_NBR INT
AS

	SELECT 
		ITEM_CODE,
		ITEM_TYPE,
		SHORT_DESC,
		LONG_DESC,	
		CONTROL_TYPE,	
		SECTION_ORDER,	
		ITEM_ORDER,	
		TMPLT_REQ,	
		ADVAN_REQ,	
		AGENCY_REQ,	
		CLIENT_REQ,	
		FIELD_VALUE,	
		FIELD_DESCRIPT,	
		EDITABLE,	
		ISNULL(SECTION,0) AS SECTION

	 FROM [dbo].[advtf_job_template_get] (@JOB_NUMBER, @JOB_COMPONENT_NBR);

	EXEC usp_wv_Job_Template_GetComments @JOB_NUMBER, @JOB_COMPONENT_NBR;

	SELECT     
		JOB_LOG.OFFICE_CODE, 
		JOB_LOG.CL_CODE, 
		JOB_LOG.DIV_CODE, 
		JOB_LOG.PRD_CODE, 
		JOB_LOG.SC_CODE, 
		JOB_COMPONENT.EMP_CODE AS AE_CODE, 
		JOB_COMPONENT.JOB_TMPLT_CODE,
		JOB_COMPONENT.JOB_COMP_BUDGET_AM, 
		(SELECT ISNULL(SUM(JOB_COMP_BUDGET_AM),0) FROM JOB_COMPONENT WHERE JOB_NUMBER = @JOB_NUMBER) AS TOTAL_JOB_BUDGET
	FROM         
		JOB_COMPONENT WITH(NOLOCK) INNER JOIN
		JOB_LOG WITH(NOLOCK) ON JOB_COMPONENT.JOB_NUMBER = JOB_LOG.JOB_NUMBER
	WHERE 
		JOB_COMPONENT.JOB_NUMBER = @JOB_NUMBER 
		AND JOB_COMPONENT.JOB_COMPONENT_NBR = @JOB_COMPONENT_NBR;


GO