IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterUpdateColumnOrderSettings]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[usp_wv_PaymentCenterUpdateColumnOrderSettings] 
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterUpdateColumnOrderSettings] /*WITH ENCRYPTION*/
@GRID_NAME VARCHAR(100),
@USER_CODE VARCHAR(100),
@COLUMN_NAME VARCHAR(100),
@NEW_COLUMN_ORDER_ID INT

AS

DECLARE @GRID_COLUMN_ID INT
DECLARE @GRID_ID INT

BEGIN
	SELECT @GRID_ID = GRID_ID FROM GRID WITH(NOLOCK) WHERE NAME = @GRID_NAME;
	SELECT @GRID_COLUMN_ID = GRID_COLUMN_ID FROM GRID_COLUMN WITH(NOLOCK) WHERE GRID_ID = @GRID_ID AND NAME = @COLUMN_NAME;
END

--UPDATE NEW LOCATION FOR MOVED COLUMN
BEGIN
	UPDATE GRID_COLUMN_SETTING WITH(ROWLOCK)
	SET COLUMN_ORDER_ID = @NEW_COLUMN_ORDER_ID + 1
	WHERE GRID_COLUMN_ID = @GRID_COLUMN_ID
	AND GRID_ID = @GRID_ID
	AND USER_CODE = @USER_CODE
END