IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterGetBatchHeader]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
    DROP PROCEDURE [dbo].[usp_wv_PaymentCenterGetBatchHeader]
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterGetBatchHeader]

@USER_ID VARCHAR(100),
@BATCH_ID INTEGER,
@PAYMENT_MODULE VARCHAR(2)

AS

BEGIN
	IF @PAYMENT_MODULE != 'CW'
		BEGIN
			SELECT BATCH_ID AS BatchId,			
					BATCH_NAME AS BatchName,
					[dbo].[advfn_get_emp_name] ( @USER_ID, 'FML') AS BatchOwner,
					CREATION_DATE AS CreationDate,
					LAST_UPDATE_DATE AS LastUpdateDate,
					PAYMENT_DATE AS PaymentDate,
					BATCH_STATUS AS BatchStatus,
					S.STATUS_CODE_DESC AS BatchStatusDescription,
					BANK_CODE AS BankCode,
					PAY_CUTOFF_DATE AS PayCutoffDate,
					POSTING_PERIOD AS PostingPeriod,
					MEDIA_INTERNET AS MediaInternet,
					MEDIA_MAGAZINE AS MediaMagazine,
					MEDIA_NEWSPAPER AS MediaNewspaper,
					MEDIA_OOH AS MediaOOH,
					MEDIA_RADIO AS MediaRadio,
					MEDIA_TELEVISION AS MediaTelevision,
					NON_CLIENT_SELECT AS NonClientItems,
					PRODUCTION_SELECT AS ProductionItems,
					ALL_INVOICES_SELECT AS AllInvoiceSelect,
					PAID_BY_CLIENT_SELECT AS PaidByClientSelect
			FROM PC_BATCH_HEADER H WITH (NOLOCK) JOIN PC_BATCH_STATUS_CODE S WITH (NOLOCK) ON H.BATCH_STATUS = S.STATUS_CODE	
			WHERE USER_ID = @USER_ID
				AND BATCH_ID = @BATCH_ID
		END
	ELSE
		BEGIN
			BEGIN
				CREATE TABLE #TEMP (	SELECT_TYPE VARCHAR(3)	);
			END
			--GET MEDIA TYPES
			BEGIN
				INSERT INTO #TEMP
				SELECT A.MEDIA_TYPE FROM (
				SELECT 'INT' AS MEDIA_TYPE
				FROM AP_INTERNET AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID			
				WHERE I.GLEXACT = @BATCH_ID
				UNION
				SELECT 'NPR' AS MEDIA_TYPE
				FROM AP_NEWSPAPER AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID			
				WHERE I.GLEXACT = @BATCH_ID
				UNION
				SELECT 'MAG' AS MEDIA_TYPE
				FROM AP_MAGAZINE AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID			
				WHERE I.GLEXACT = @BATCH_ID
				UNION
				SELECT 'RAD' AS MEDIA_TYPE
				FROM AP_RADIO AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID			
				WHERE I.GLEXACT = @BATCH_ID
				--RADIO_HEADER IS A LEGACY TABLE
				UNION
				SELECT 'TV' AS MEDIA_TYPE
				FROM AP_TV AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID			
				WHERE I.GLEXACT = @BATCH_ID
				--TV_HEADER IS A LEGACY TABLE
				UNION
				SELECT 'OUT' AS MEDIA_TYPE
				FROM AP_OUTDOOR AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID			
				WHERE I.GLEXACT = @BATCH_ID
				UNION
				SELECT 'PRO' AS MEDIA_TYPE
				FROM AP_PRODUCTION AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID			
				WHERE I.GLEXACT = @BATCH_ID
				UNION
				SELECT 'GLD' AS MEDIA_TYPE
				FROM AP_GL_DIST AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID			
				WHERE I.GLEXACT = @BATCH_ID) A
			END
			BEGIN			
				SELECT CR.GLEXACT AS BatchId,
					CR.CHECK_RUN_ID AS BatchName,
					[dbo].[advfn_get_emp_name] ( @USER_ID, 'FML') AS BatchOwner,
					AP.CREATE_DATE AS CreationDate,
					NULL AS LastUpdateDate,
					AP.AP_CHK_DATE AS PaymentDate,
					'C' AS BatchStatus,
					'Completed' AS BatchStatusDescription,
					CR.BK_CODE AS BankCode,
					NULL AS PayCutoffDate,
					CR.POST_PERIOD AS PostingPeriod,
					CONVERT(BIT, CASE WHEN 'INT' IN (SELECT SELECT_TYPE FROM #TEMP WHERE SELECT_TYPE = 'INT') THEN 1 ELSE 0 END) AS	MediaInternet,
					CONVERT(BIT, CASE WHEN 'MAG' IN (SELECT SELECT_TYPE FROM #TEMP WHERE SELECT_TYPE = 'MAG') THEN 1 ELSE 0 END) AS	MediaMagazine,
					CONVERT(BIT, CASE WHEN 'NPR' IN (SELECT SELECT_TYPE FROM #TEMP WHERE SELECT_TYPE = 'NPR') THEN 1 ELSE 0 END) AS	MediaNewspaper,
					CONVERT(BIT, CASE WHEN 'OOH' IN (SELECT SELECT_TYPE FROM #TEMP WHERE SELECT_TYPE = 'OOH') THEN 1 ELSE 0 END) AS	MediaOOH,
					CONVERT(BIT, CASE WHEN 'RAD' IN (SELECT SELECT_TYPE FROM #TEMP WHERE SELECT_TYPE = 'RAD') THEN 1 ELSE 0 END) AS	MediaRadio,
					CONVERT(BIT, CASE WHEN 'TV' IN (SELECT SELECT_TYPE FROM #TEMP WHERE SELECT_TYPE = 'TV') THEN 1 ELSE 0 END) AS	MediaTelevision,
					CONVERT(BIT, CASE WHEN 'GLD' IN (SELECT SELECT_TYPE FROM #TEMP WHERE SELECT_TYPE = 'GLD') THEN 1 ELSE 0 END) AS	NonClientItems,										
					CONVERT(BIT, CASE WHEN 'PRO' IN (SELECT SELECT_TYPE FROM #TEMP WHERE SELECT_TYPE = 'PRO') THEN 1 ELSE 0 END) AS	ProductionItems,
					CONVERT(BIT, 0) AS AllInvoiceSelect,
					CONVERT(BIT, 0) AS PaidByClientSelect
				FROM CHECK_REGISTER CR WITH (NOLOCK) LEFT JOIN AP_PMT_HIST AP WITH (NOLOCK) ON CR.GLEXACT = AP.GLEXACT
				WHERE CR.GLEXACT = @BATCH_ID
				GROUP BY CR.GLEXACT,
					CR.CHECK_RUN_ID,
					AP.CREATE_DATE,			
					AP.AP_CHK_DATE,
					CR.BK_CODE,
					CR.POST_PERIOD
			END
			
			BEGIN
				DROP TABLE #TEMP
			END
		END
END

GO
