IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterGetCompletedBatchCheckDetails]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
    DROP PROCEDURE [dbo].[usp_wv_PaymentCenterGetCompletedBatchCheckDetails]
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterGetCompletedBatchCheckDetails]

@BATCH_ID INT

AS

BEGIN	

		SELECT AP.AP_ID AS APId, CONVERT(VARCHAR(12), AP.AP_CHK_NBR) AS CheckNumber, PT.PAYMENT_TYPE_DESC AS PaymentType, CR.PAYMENT_TYPE_DETAIL AS PaymentTypeDetail, 
			AP.GLACODE_AP AS GLAccount, AP.AP_CHK_DATE AS CheckDate, CR.PAY_TO AS PayToVendorName, CR.PAY_TO_CODE AS PayToVendorCode, 
			SUM(AP.AP_CHK_AMT) AS CheckAmount, SUM(AP.AP_DISC_AMT) AS DiscountAmount
		FROM CHECK_REGISTER CR WITH (NOLOCK) JOIN AP_PMT_HIST AP WITH (NOLOCK) ON AP.GLEXACT = CR.GLEXACT AND AP.AP_CHK_NBR = CR.CHECK_NBR
		JOIN PC_PAYMENT_TYPE PT WITH (NOLOCK) ON PT.PAYMENT_TYPE = CR.PAYMENT_TYPE
		WHERE AP.GLEXACT = @BATCH_ID
		GROUP BY AP.AP_ID, AP.AP_CHK_NBR, PT.PAYMENT_TYPE_DESC, CR.PAYMENT_TYPE_DETAIL, AP.GLACODE_AP, AP.AP_CHK_DATE, CR.PAY_TO, CR.PAY_TO_CODE
		ORDER BY AP_CHK_NBR, PAY_TO_CODE	
		
END

GO
