IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterGetInvoices]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
    DROP PROCEDURE [dbo].[usp_wv_PaymentCenterGetInvoices]
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterGetInvoices]

@BATCH_STATUS VARCHAR(1), 
--O, Open
--P, Pending
--E, Edit (Open batch is in edit mode)
--S, Submitted
--D, Denied
--A, Approved
@BATCH_ID INT,

@USER_ID VARCHAR(100),
@BK_CODE VARCHAR(4),

@GLACCTCODES VARCHAR(600),
@VENDORS VARCHAR(120),
@CLIENTS VARCHAR(120),

@DT_TO_PAY_CUTOFF SMALLDATETIME,
@CHECK_DATE SMALLDATETIME,  
@PAID_BY_CLIENT BIT,

@PRODUCTION BIT,
@GLDIST BIT,
@TELEVISION BIT,
@RADIO BIT,
@NEWSPAPER BIT,
@MAGAZINE BIT,
@INTERNET BIT,
@OUTDOOR BIT

AS

DECLARE @home_currency varchar(5),
		@bank_currency varchar(5),
		@vendor_service_tax bit /* VST */,
		@glacode_crncy_unrealized varchar(30),
		@multi_currency bit = 0

CREATE TABLE dbo.#INVOICE(
	[USER_ID] [varchar](100) NOT NULL,
	[AP_ID] [int] NOT NULL,
	[AP_SEQ] [smallint] NULL,
	[AP_TYPE] [varchar](1) NULL,
	[VN_FRL_EMP_CODE] [varchar](6) NOT NULL,
	[AP_INV_VCHR] [varchar](20) NULL,
	[AP_INV_TYPE] [varchar](50) NULL,
	[AP_DESC] [varchar](30) NULL,
	[AP_INV_DATE] [smalldatetime] NULL,
	[AP_DATE_PAY] [smalldatetime] NULL,
	[GLACODE] [varchar](30) NULL,
	[VN_NAME] [varchar](40) NULL,
	[VN_PAY_TO_CODE] [varchar](6) NULL,
	[VN_PAY_TO_NAME] [varchar](40) NULL,
	[VN_EMAIL] [varchar](50) NULL,
	[VN_NOTES] [varchar](MAX) NULL,
	[VN_CATEGORY] [varchar](1) NULL,
	[AP_INV_AMT] [decimal](14, 2) NULL,
	[AP_SHIPPING] [decimal](11, 2) NULL,
	[AP_SALES_TAX] [decimal](11, 2) NULL,
	[AP_DISC_PCT] [decimal](6, 3) NULL,
	[ONE_CHECK_PER_INV] [smallint] NULL,
	[CC_INV_TOTAL] [decimal](14, 2) NULL,
	[CC_PAY_FLAG] [smallint] NULL,
	[CC_AMT_TO_PAY] [decimal](14, 2) NULL,
	[CC_DISC_AMT] [decimal](14, 2) NULL,
	[CC_PAID_BY_CL] [decimal](14, 2) NULL,
	
	--NS - this needs to be revisited.  a computed column cannot be setup on a temp table
	--as a work-around, you can create the udf scalar functions in the tempdb schema and add them to the temp table
	--caveat, they would need to be recreated each time the server is restarted.	

	--[CC_NON_BILL_AMT]  AS (CASE [PAID_BY_CLIENT] WHEN 1 THEN [dbo].[udf_ap_get_non_bill_amt]([AP_ID]) ELSE 0.00 END),
	--[CC_BILL_AMT]  AS (CASE [PAID_BY_CLIENT] WHEN 1 THEN dbo.[udf_ap_get_billable_amt]([AP_ID],[VN_CATEGORY]) ELSE 0.00 END),
	--[CC_INV_PAID_AMT]  AS (CASE [PAID_BY_CLIENT] WHEN 1 THEN [dbo].[udf_ap_get_pmt_disc_amt]([AP_ID]) ELSE 0.00 END),
	--[CC_INV_BAL]  AS ([CC_INV_TOTAL]-[dbo].[udf_ap_get_pmt_disc_amt]([AP_ID])),
	[CC_NON_BILL_AMT]  AS 0.00,
	[CC_BILL_AMT]  AS 0.00,
	[CC_INV_PAID_AMT] AS 0.00,
	[CC_INV_BAL]  AS ([CC_INV_TOTAL]-0.00),

	[CC_TOTAL_QUALIFIED] [decimal](14, 2) NULL,
	[CC_CASH_RECEIVED] [varchar](1) NULL,
	[CC_BAL_TO_PAY] [decimal](14, 2) NULL,
	[CC_DISC_AVAILABLE] [decimal](14, 2) NULL,
	[CC_ROW_HDR] [varchar](1) NULL,
	[CC_DUMMY] [smallint] NULL,
	[VN_ACCT_NBR] [varchar](30) NULL,

	[CC_PROD_ADV_AMT] AS 0.00,
	--[CC_PROD_ADV_AMT]  AS (CASE [PAID_BY_CLIENT] WHEN 1 THEN [dbo].[udf_ap_get_prod_adv_amt]([AP_ID]) ELSE 0.00 END),

	[CC_CASH_AMT] [decimal](14, 2) NULL,

	[CC_DIRECT_BILL_AMT]  AS 0.00,
	--[CC_DIRECT_BILL_AMT]  AS (CASE [PAID_BY_CLIENT] WHEN 1 THEN [dbo].[udf_ap_get_direct_bill_amt]([AP_ID],[VN_CATEGORY]) ELSE 0.00 END),

	[VENDOR_SERVICE_TAX_ID] [int] NULL,
	[SERVICE_TAX_ENABLED] [bit] NULL,
	[VENDOR_TAXABLE_AMOUNT] [decimal](14, 2) NULL,
	[CC_SERVICE_TAX] [decimal](14, 2) NULL,
	[SERVICE_TAX_WAIVER] [bit] NULL,
	[CC_SERVICE_TAX_BEGIN_DATE] [smalldatetime] NULL,
	[CC_SERVICE_TAX_END_DATE] [smalldatetime] NULL,
	[SERVICE_TAX_RATE] [decimal](5, 3) NULL,
	[THRESHOLD] [decimal](14, 2) NULL,
	[CC_YTD_TAXABLE] [decimal](14, 2) NULL,
	[CC_SERVICE_TAX_APPLIED] [decimal](14, 2) NULL,
	[GLACODE_WH] [varchar](30) NULL,
	[EXCHANGE_AMOUNT_APPLIED] [decimal](14, 2) NULL,
	[HOME_CURRENCY_CODE] [varchar](5) NULL,
	[BANK_CURRENCY_CODE] [varchar](5) NULL,
	[AP_CURRENCY_CODE] [varchar](5) NULL,
	[EXCHANGE_AMOUNT] [decimal](14, 2) NULL,
	[FOREIGN_INV_AMOUNT] [decimal](14, 2) NULL,
	[FOREIGN_SALES_TAX] [decimal](11, 2) NULL,
	[GLACODE_CRNCY_UNREALIZED] [varchar](30) NULL,
	[CURRENCY_RATE] [decimal](12, 6) NULL,
	[EXCHANGE_DISC_AMOUNT] [decimal](14, 2) NULL,
	[PAID_BY_CLIENT] [int] NULL,
	[MISSING_EMAIL] [bit] NULL,
	[SPECIAL_TERMS] [bit] NULL,
	[CLIENT_CODE] [varchar](6),
	[PAYMENT_EMAIL] [varchar](50) COLLATE SQL_Latin1_General_CP1_CS_AS
)

--NS - THIS TABLE CORRESPONDS TO THE AP_CHK_TEMP2 TABLE
CREATE TABLE #TEMP(
	[USER_ID] [varchar](100) NOT NULL,
	[AP_ID] [int] NOT NULL,
	[AP_SEQ] [smallint] NULL,
	[AP_TYPE] [varchar](1) NULL,
	[VN_FRL_EMP_CODE] [varchar](6) NOT NULL,
	[AP_INV_VCHR] [varchar](20) NULL,
	[AP_INV_TYPE] [varchar](50) NULL,
	[AP_DESC] [varchar](30) NULL,
	[AP_INV_DATE] [smalldatetime] NULL,
	[AP_DATE_PAY] [smalldatetime] NULL,
	[GLACODE] [varchar](30) NULL,
	[VN_NAME] [varchar](40) NULL,
	[VN_PAY_TO_CODE] [varchar](6) NULL,
	[VN_PAY_TO_NAME] [varchar](40) NULL,
	[VN_EMAIL] [varchar](50) NULL,
	[VN_NOTES] [varchar](MAX) NULL,
	[VN_CATEGORY] [varchar](1) NULL,
	[AP_INV_AMT] [decimal](14, 2) NULL,
	[AP_SHIPPING] [decimal](11, 2) NULL,
	[AP_SALES_TAX] [decimal](11, 2) NULL,
	[AP_DISC_PCT] [decimal](6, 3) NULL,
	[ONE_CHECK_PER_INV] [smallint] NULL,
	[CC_INV_TOTAL] [decimal](14, 2) NULL,
	[CC_PAY_FLAG] [smallint] NULL,
	[CC_AMT_TO_PAY] [decimal](14, 2) NULL,
	[CC_DISC_AMT] [decimal](14, 2) NULL,
	[CC_PAID_BY_CL] [decimal](14, 2) NULL,
	[CC_NON_BILL_AMT] [decimal](14, 2) NULL,
	[CC_BILL_AMT] [decimal](14, 2) NULL,
	[CC_CASH_AMT] [decimal](14, 2) NULL,
	[CC_DIRECT_BILL_AMT] [decimal](14, 2) NULL,
	[CC_PROD_ADV_AMT] [decimal](14, 2) NULL,
	[CC_INV_PAID_AMT] [decimal](14, 2) NULL,
	[CC_INV_BAL] [decimal](14, 2) NULL, -- AS ([CC_INV_TOTAL] - [dbo].[udf_ap_get_pmt_disc_amt]([AP_ID])),
	[CC_TOTAL_QUALIFIED] [decimal](14, 2) NULL,
	[CC_CASH_RECEIVED] [varchar](1) NULL,
	[CC_BAL_TO_PAY] [decimal](14, 2) NULL,
	[CC_DISC_AVAILABLE] [decimal](14, 2) NULL,
	[CC_ROW_HDR] [varchar](1) NULL,
	[CC_DUMMY] [smallint] NULL,
	[VN_ACCT_NBR] [varchar](30) NULL,
	[VENDOR_SERVICE_TAX_ID] [int] NULL,
	[SERVICE_TAX_ENABLED] [bit] NULL,
	[VENDOR_TAXABLE_AMOUNT] [decimal](14, 2) NULL,
	[CC_SERVICE_TAX] [decimal](14, 2) NULL,
	[SERVICE_TAX_WAIVER] [bit] NULL,
	[CC_SERVICE_TAX_BEGIN_DATE] [smalldatetime] NULL,
	[CC_SERVICE_TAX_END_DATE] [smalldatetime] NULL,
	[SERVICE_TAX_RATE] [decimal](5, 3) NULL,
	[THRESHOLD] [decimal](14, 2) NULL,
	[CC_YTD_TAXABLE] [decimal](14, 2) NULL,
	[CC_SERVICE_TAX_APPLIED] [decimal](14, 2) NULL,
	[GLACODE_WH] [varchar](30) NULL,
	[EXCHANGE_AMOUNT_APPLIED] [decimal](14, 2) NULL,
	[CURRENCY_RATE] [decimal](12, 6) NULL,
	[EXCHANGE_DISC_AMOUNT] [decimal](14, 2) NULL,
	[HOME_CURRENCY_CODE] [varchar](5) NULL,
	[BANK_CURRENCY_CODE] [varchar](5) NULL,
	[AP_CURRENCY_CODE] [varchar](5) NULL,
	[EXCHANGE_AMOUNT] [decimal](14, 2) NULL,
	[FOREIGN_INV_AMOUNT] [decimal](14, 2) NULL,
	[FOREIGN_SALES_TAX] [decimal](11, 2) NULL,
	[GLACODE_CRNCY_UNREALIZED] [varchar](30) NULL,
	[MISSING_EMAIL] [bit] NULL,
	[SPECIAL_TERMS] [bit] NULL,
	[CLIENT_CODE] [varchar](6),
	[PAYMENT_EMAIL] [varchar](50)
)

SELECT @multi_currency = MULTI_CRNCY, @home_currency = HOME_CRNCY FROM AGENCY WITH (NOLOCK);

SELECT @vendor_service_tax = CAST(AGY_SETTINGS_VALUE AS bit)
	FROM AGY_SETTINGS WITH(NOLOCK) 
	WHERE AGY_SETTINGS_CODE = 'SERVICE_TAX_ENABLED';

/* Service Tax */
--UPDATE AGY_SETTINGS 
--	SET AGY_SETTINGS_VALUE = 1
--	WHERE AGY_SETTINGS_CODE = 'SERVICE_TAX_ENABLED';

--NS - @check_date, @dt_to_pay_cutoff and @paid_by_client will all be coming from the UI as selected by the user
--SELECT @check_date = CHECK_DATE, @dt_to_pay_cutoff = DUE_DATE FROM CHECKWRITING WHERE BK_CODE = @bk_code AND [USER_ID] = @user_id;
--SELECT @paid_by_client = SELECT_PD_BY_CL FROM CHECKWRITING

IF @multi_currency = 0 BEGIN
	SET @home_currency = 'USD'
	SET @bank_currency = 'USD'
	SELECT @glacode_crncy_unrealized = CRNCY_GL_EXCHG_UNREALIZED FROM BANK WITH (NOLOCK) WHERE BK_CODE = @bk_code;
END ELSE BEGIN
	SELECT @bank_currency = CURRENCY_CODE, @glacode_crncy_unrealized = CRNCY_GL_EXCHG_UNREALIZED FROM BANK WITH (NOLOCK) WHERE BK_CODE = @bk_code;
END

/* Use test table so you can see how it compares to AP_CHK_TEMP or AP_CHK_TEMP2 from legacy */
DELETE FROM #INVOICE

IF @newspaper = 1 BEGIN
	INSERT INTO #TEMP ([USER_ID],[AP_ID],[AP_SEQ],[AP_TYPE],[VN_FRL_EMP_CODE],[AP_INV_VCHR],[AP_INV_TYPE],[AP_DESC],	[AP_INV_DATE],[AP_DATE_PAY],[GLACODE],[VN_NAME],[VN_PAY_TO_CODE],[VN_PAY_TO_NAME],					
		[VN_CATEGORY],[AP_INV_AMT],[AP_SHIPPING],[AP_SALES_TAX],[AP_DISC_PCT], [ONE_CHECK_PER_INV],
		[CC_INV_TOTAL],[CC_PAY_FLAG],[CC_AMT_TO_PAY],[CC_DISC_AMT],					
		[CC_PAID_BY_CL],[CC_NON_BILL_AMT],[CC_BILL_AMT],[CC_CASH_AMT],[CC_DIRECT_BILL_AMT],	[CC_PROD_ADV_AMT],[CC_INV_PAID_AMT],[CC_TOTAL_QUALIFIED],[CC_CASH_RECEIVED],					
		[CC_BAL_TO_PAY],[CC_DISC_AVAILABLE],[CC_ROW_HDR],[CC_DUMMY],[VN_ACCT_NBR], [VENDOR_SERVICE_TAX_ID], [SERVICE_TAX_ENABLED], [VENDOR_TAXABLE_AMOUNT], [SERVICE_TAX_WAIVER], 
		[CC_SERVICE_TAX_BEGIN_DATE], [CC_SERVICE_TAX_END_DATE], [SERVICE_TAX_RATE],[CC_SERVICE_TAX], [THRESHOLD], [CC_YTD_TAXABLE], 
		[CC_SERVICE_TAX_APPLIED], [GLACODE_WH], [HOME_CURRENCY_CODE], [BANK_CURRENCY_CODE], [AP_CURRENCY_CODE], 
		[EXCHANGE_AMOUNT], [FOREIGN_INV_AMOUNT], [FOREIGN_SALES_TAX], [GLACODE_CRNCY_UNREALIZED], [EXCHANGE_AMOUNT_APPLIED], [CURRENCY_RATE], [EXCHANGE_DISC_AMOUNT])
	SELECT DISTINCT @user_id, A.AP_ID, A.AP_SEQ, A.AP_TYPE, A.VN_FRL_EMP_CODE, A.AP_INV_VCHR,'Newspaper', A.AP_DESC, 	A.AP_INV_DATE, A.AP_DATE_PAY, A.GLACODE, B.VN_NAME, NULL AS VN_PAY_TO_CODE,  NULL AS VN_PAY_TO_NAME,  	
		B.VN_CATEGORY, A.AP_INV_AMT, A.AP_SHIPPING, A.AP_SALES_TAX, A.AP_DISC_PCT,   	B.ONE_CHECK_PER_INV, 	
		(COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) +	CASE @bank_currency /*Bank Crncy Code */ WHEN A.CURRENCY_CODE THEN (COALESCE(A.EXCHANGE_AMOUNT, 0.00)) /* AP Code */ ELSE 0 /* Home Code */ END as cc_inv_total, 
		cc_pay_flag = CASE WHEN CHKWRITING_DTL.PAYMENT_AMOUNT <> 0 THEN 1 ELSE 0 END, CHKWRITING_DTL.PAYMENT_AMOUNT AS cc_amt_to_pay, CHKWRITING_DTL.DISC_AMT AS cc_disc_amt, 
		cc_paid_by_cl = 0.00, cc_non_bill_amt = 0.00, cc_bill_amt = 0.00, cc_cash_amt = 0, cc_direct_bill_amt = 0.00, cc_prod_adv_amt = 0.00, cc_inv_paid_amt = 0.00, cc_total_qualified = 0.00, cc_cash_received = '', 
		cc_bal_to_pay = 0.00, cc_disc_available = 0.00, 	cc_row_hdr = '', cc_dummy = 0, B.VN_ACCT_NBR, 	A.VENDOR_SERVICE_TAX_ID, A.SERVICE_TAX_ENABLED, A.VENDOR_TAXABLE_AMOUNT, B.SERVICE_TAX_WAIVER, 	
		cc_service_tax_begin_date = NULL, cc_service_tax_end_date = NULL, SERVICE_TAX_RATE = CASE A.VENDOR_SERVICE_TAX_ID WHEN B.VENDOR_SERVICE_TAX_ID THEN B.SERVICE_TAX_RATE WHEN C.VENDOR_SERVICE_TAX_ID THEN C.RATE ELSE NULL END, cc_service_tax = 0.00, (C.THRESHOLD), cc_ytd_taxable = 0.00, 
		CHKWRITING_DTL.WH_AMT AS cc_service_tax_applied, 	C.GLACODE AS GLACODE_WH, @home_currency, @bank_currency, COALESCE(A.CURRENCY_CODE, @home_currency), 
		A.EXCHANGE_AMOUNT, A.FOREIGN_INV_AMOUNT, A.FOREIGN_SALES_TAX, @glacode_crncy_unrealized, CHKWRITING_DTL.EXCHANGE_AMOUNT_APPLIED, A.CURRENCY_RATE, CHKWRITING_DTL.EXCHANGE_DISC_AMOUNT
	FROM AP_HEADER A  WITH (NOLOCK)
		LEFT OUTER JOIN CHKWRITING_DTL WITH (NOLOCK)ON A.AP_ID = CHKWRITING_DTL.AP_ID AND A.AP_SEQ = CHKWRITING_DTL.AP_SEQ  
		INNER JOIN VENDOR B WITH (NOLOCK) ON A.VN_FRL_EMP_CODE = B.VN_CODE  
		LEFT OUTER JOIN VENDOR_SERVICE_TAX C WITH (NOLOCK) ON  A.VENDOR_SERVICE_TAX_ID = C.VENDOR_SERVICE_TAX_ID  	
		LEFT OUTER JOIN (SELECT B.SUPPLIER FROM CHKWRITING_DTL B WITH (NOLOCK) WHERE UPPER(B.USER_ID) <>@user_id) D ON A.VN_FRL_EMP_CODE = D.SUPPLIER  
		INNER JOIN AP_NEWSPAPER AP WITH (NOLOCK) ON A.AP_ID = AP.AP_ID  
		--INNER JOIN NEWSPAPER_HEADER AH ON AP.ORDER_NBR = AH.ORDER_NBR
	WHERE (CHKWRITING_USER IS NULL OR  UPPER(CHKWRITING_USER) = @user_id ) AND A.AP_DATE_PAY <= @dt_to_pay_cutoff  AND ( PAYMENT_HOLD IS NULL OR PAYMENT_HOLD=0 )  
		AND A.MODIFY_FLAG IS NULL  AND A.DELETE_FLAG IS NULL  AND D.SUPPLIER IS NULL  
		AND ( ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) <> 	(SELECT SUM(COALESCE(AP_CHK_AMT, 0.00)) + SUM(COALESCE(VENDOR_SERVICE_TAX, 0.00)) + SUM(COALESCE(AP_DISC_AMT, 0.00)) + SUM(COALESCE((-1 * EXCHANGE_AMOUNT_APPLIED), 0.00)) + SUM(COALESCE((-1 * EXCHANGE_DISC_AMOUNT), 0.00)) FROM AP_PMT_HIST  WHERE AP_PMT_HIST.AP_ID = A.AP_ID GROUP BY AP_ID)) 	OR ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) + COALESCE(WH_AMT, 0.00) ) <> 0 	
		AND NOT EXISTS (SELECT AP_ID   	FROM AP_PMT_HIST  	WHERE AP_PMT_HIST.AP_ID = A.AP_ID) )	) 
		AND NOT EXISTS (SELECT AP_ID FROM #TEMP X WHERE X.AP_ID = A.AP_ID) ) 
		AND (A.GLACODE IN (SELECT * FROM dbo.udf_split_list(@glacctcodes, ',')) OR @glacctcodes = 'ALL')
		AND (A.VN_FRL_EMP_CODE IN (SELECT * FROM dbo.udf_split_list(@vendors, ',')) OR @vendors = 'ALL')
		AND (EXISTS (SELECT ORDER_NBR FROM NEWSPAPER_HEADER  WHERE CL_CODE IN (SELECT * FROM dbo.udf_split_list(@clients, ','))  AND NEWSPAPER_HEADER.ORDER_NBR = AP.ORDER_NBR) OR @clients = 'ALL')
		AND ( COALESCE(A.CURRENCY_CODE, @home_currency) = @bank_currency OR @home_currency = @bank_currency ) 
		AND ( SELECT COALESCE(MAX(Y.BANK_CURRENCY_CODE), @bank_currency) FROM AP_HEADER X WITH (NOLOCK) LEFT JOIN AP_PMT_HIST Y WITH (NOLOCK) ON X.AP_ID = Y.AP_ID WHERE X.AP_ID = A.AP_ID GROUP BY X.AP_ID ) = @bank_currency		
		AND 1 = CASE WHEN @BATCH_STATUS IN ('S', 'A', 'D', 'C')  AND A.AP_ID IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK) WHERE USER_ID = @user_id AND BATCH_ID = @BATCH_ID AND UPPER(INVOICE_TYPE) = 'PRODUCTION') THEN 1
				WHEN @BATCH_STATUS IN ('') AND A.AP_ID NOT IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK)) AND A.AP_ID NOT IN (SELECT AP_ID FROM CHKWRITING_DTL WITH (NOLOCK)) THEN 1
				WHEN @BATCH_STATUS IN ('O','E') THEN 1
			ELSE 0 END	
END
IF @magazine = 1 BEGIN
	INSERT INTO #TEMP ([USER_ID],[AP_ID],[AP_SEQ],[AP_TYPE],[VN_FRL_EMP_CODE],[AP_INV_VCHR],[AP_INV_TYPE],[AP_DESC],	[AP_INV_DATE],[AP_DATE_PAY],[GLACODE],[VN_NAME],[VN_PAY_TO_CODE],[VN_PAY_TO_NAME],					
		[VN_CATEGORY],[AP_INV_AMT],[AP_SHIPPING],[AP_SALES_TAX],[AP_DISC_PCT], [ONE_CHECK_PER_INV],
		[CC_INV_TOTAL],[CC_PAY_FLAG],[CC_AMT_TO_PAY],[CC_DISC_AMT],					
		[CC_PAID_BY_CL],[CC_NON_BILL_AMT],[CC_BILL_AMT],[CC_CASH_AMT],[CC_DIRECT_BILL_AMT],	[CC_PROD_ADV_AMT],[CC_INV_PAID_AMT],[CC_TOTAL_QUALIFIED],[CC_CASH_RECEIVED],					
		[CC_BAL_TO_PAY],[CC_DISC_AVAILABLE],[CC_ROW_HDR],[CC_DUMMY],[VN_ACCT_NBR], [VENDOR_SERVICE_TAX_ID], [SERVICE_TAX_ENABLED], [VENDOR_TAXABLE_AMOUNT], [SERVICE_TAX_WAIVER], 
		[CC_SERVICE_TAX_BEGIN_DATE], [CC_SERVICE_TAX_END_DATE], [SERVICE_TAX_RATE],[CC_SERVICE_TAX], [THRESHOLD], [CC_YTD_TAXABLE], 
		[CC_SERVICE_TAX_APPLIED], [GLACODE_WH], [HOME_CURRENCY_CODE], [BANK_CURRENCY_CODE], [AP_CURRENCY_CODE], 
		[EXCHANGE_AMOUNT], [FOREIGN_INV_AMOUNT], [FOREIGN_SALES_TAX], [GLACODE_CRNCY_UNREALIZED], [EXCHANGE_AMOUNT_APPLIED], [CURRENCY_RATE], [EXCHANGE_DISC_AMOUNT])
	SELECT DISTINCT @user_id, A.AP_ID, A.AP_SEQ, A.AP_TYPE, A.VN_FRL_EMP_CODE, A.AP_INV_VCHR, 'Magazine', A.AP_DESC, 	A.AP_INV_DATE, A.AP_DATE_PAY, A.GLACODE, B.VN_NAME, NULL AS VN_PAY_TO_CODE,  NULL AS VN_PAY_TO_NAME,  	
		B.VN_CATEGORY, A.AP_INV_AMT, A.AP_SHIPPING, A.AP_SALES_TAX, A.AP_DISC_PCT,   	B.ONE_CHECK_PER_INV, 	
		(COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) +	CASE @bank_currency /*Bank Crncy Code */ WHEN A.CURRENCY_CODE THEN (COALESCE(A.EXCHANGE_AMOUNT, 0.00)) /* AP Code */ ELSE 0 /* Home Code */ END as cc_inv_total, 
		cc_pay_flag = CASE WHEN CHKWRITING_DTL.PAYMENT_AMOUNT <> 0 THEN 1 ELSE 0 END, CHKWRITING_DTL.PAYMENT_AMOUNT AS cc_amt_to_pay, CHKWRITING_DTL.DISC_AMT AS cc_disc_amt, 
		cc_paid_by_cl = 0.00, cc_non_bill_amt = 0.00, cc_bill_amt = 0.00, cc_cash_amt = 0, cc_direct_bill_amt = 0.00, cc_prod_adv_amt = 0.00, cc_inv_paid_amt = 0.00, cc_total_qualified = 0.00, cc_cash_received = '', 
		cc_bal_to_pay = 0.00, cc_disc_available = 0.00, 	cc_row_hdr = '', cc_dummy = 0, B.VN_ACCT_NBR, 	A.VENDOR_SERVICE_TAX_ID, A.SERVICE_TAX_ENABLED, A.VENDOR_TAXABLE_AMOUNT, B.SERVICE_TAX_WAIVER, 	
		cc_service_tax_begin_date = NULL, cc_service_tax_end_date = NULL, SERVICE_TAX_RATE = CASE A.VENDOR_SERVICE_TAX_ID WHEN B.VENDOR_SERVICE_TAX_ID THEN B.SERVICE_TAX_RATE WHEN C.VENDOR_SERVICE_TAX_ID THEN C.RATE ELSE NULL END, cc_service_tax = 0.00, (C.THRESHOLD), cc_ytd_taxable = 0.00, 
		CHKWRITING_DTL.WH_AMT AS cc_service_tax_applied, 	C.GLACODE AS GLACODE_WH, @home_currency, @bank_currency, COALESCE(A.CURRENCY_CODE, @home_currency), 
		A.EXCHANGE_AMOUNT, A.FOREIGN_INV_AMOUNT, A.FOREIGN_SALES_TAX, @glacode_crncy_unrealized, CHKWRITING_DTL.EXCHANGE_AMOUNT_APPLIED, A.CURRENCY_RATE, CHKWRITING_DTL.EXCHANGE_DISC_AMOUNT
	FROM AP_HEADER A WITH (NOLOCK) LEFT OUTER JOIN CHKWRITING_DTL WITH (NOLOCK) ON A.AP_ID = CHKWRITING_DTL.AP_ID AND A.AP_SEQ = CHKWRITING_DTL.AP_SEQ  
		INNER JOIN VENDOR B WITH (NOLOCK) ON A.VN_FRL_EMP_CODE = B.VN_CODE  
		LEFT OUTER JOIN VENDOR_SERVICE_TAX C WITH (NOLOCK) ON  A.VENDOR_SERVICE_TAX_ID = C.VENDOR_SERVICE_TAX_ID  	
		LEFT OUTER JOIN (	SELECT B.SUPPLIER FROM CHKWRITING_DTL B WITH (NOLOCK) 	WHERE UPPER(B.USER_ID) <>@user_id) D 	ON A.VN_FRL_EMP_CODE = D.SUPPLIER  
		INNER JOIN AP_MAGAZINE AP WITH (NOLOCK) ON A.AP_ID = AP.AP_ID  
		--INNER JOIN MAGAZINE_HEADER AH ON AP.ORDER_NBR = AH.ORDER_NBR
	WHERE (CHKWRITING_USER IS NULL OR  UPPER(CHKWRITING_USER) = @user_id ) AND A.AP_DATE_PAY <= @dt_to_pay_cutoff  AND ( PAYMENT_HOLD IS NULL OR PAYMENT_HOLD=0 )  AND A.MODIFY_FLAG IS NULL  AND A.DELETE_FLAG IS NULL  AND D.SUPPLIER IS NULL  AND ( ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) <> 	(SELECT SUM(COALESCE(AP_CHK_AMT, 0.00)) + SUM(COALESCE(VENDOR_SERVICE_TAX, 0.00)) + SUM(COALESCE(AP_DISC_AMT, 0.00)) + SUM(COALESCE((-1 * EXCHANGE_AMOUNT_APPLIED), 0.00)) + SUM(COALESCE((-1 * EXCHANGE_DISC_AMOUNT), 0.00)) FROM AP_PMT_HIST  WHERE AP_PMT_HIST.AP_ID = A.AP_ID GROUP BY AP_ID)) 	OR ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) + COALESCE(WH_AMT, 0.00) ) <> 0 	AND NOT EXISTS (SELECT AP_ID   	FROM AP_PMT_HIST  	WHERE AP_PMT_HIST.AP_ID = A.AP_ID) )	) 
		AND NOT EXISTS (SELECT AP_ID FROM #TEMP X WHERE X.AP_ID = A.AP_ID) ) 
		AND (A.GLACODE IN (SELECT * FROM dbo.udf_split_list(@glacctcodes, ',')) OR @glacctcodes = 'ALL')
		AND (A.VN_FRL_EMP_CODE IN (SELECT * FROM dbo.udf_split_list(@vendors, ',')) OR @vendors = 'ALL')
		AND (EXISTS (SELECT ORDER_NBR FROM MAGAZINE_HEADER WITH (NOLOCK)  WHERE CL_CODE IN (SELECT * FROM dbo.udf_split_list(@clients, ','))  AND MAGAZINE_HEADER.ORDER_NBR = AP.ORDER_NBR) OR @clients = 'ALL')

		AND ( COALESCE(A.CURRENCY_CODE, @home_currency) = @bank_currency OR @home_currency = @bank_currency ) 
		AND ( SELECT COALESCE(MAX(Y.BANK_CURRENCY_CODE), @bank_currency) FROM AP_HEADER X WITH (NOLOCK) LEFT JOIN AP_PMT_HIST Y WITH (NOLOCK) ON X.AP_ID = Y.AP_ID WHERE X.AP_ID = A.AP_ID GROUP BY X.AP_ID ) = @bank_currency
		AND 1 = CASE WHEN @BATCH_STATUS IN ('S', 'A', 'D', 'C')  AND A.AP_ID IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK) WHERE USER_ID = @user_id AND BATCH_ID = @BATCH_ID AND UPPER(INVOICE_TYPE) = 'PRODUCTION') THEN 1
				WHEN @BATCH_STATUS IN ('') AND A.AP_ID NOT IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK)) AND A.AP_ID NOT IN (SELECT AP_ID FROM CHKWRITING_DTL WITH (NOLOCK)) THEN 1
				WHEN @BATCH_STATUS IN ('O','E') THEN 1
			ELSE 0 END		
END
IF @internet = 1 BEGIN
	INSERT INTO #TEMP ([USER_ID],[AP_ID],[AP_SEQ],[AP_TYPE],[VN_FRL_EMP_CODE],[AP_INV_VCHR],[AP_INV_TYPE],[AP_DESC],	[AP_INV_DATE],[AP_DATE_PAY],[GLACODE],[VN_NAME],[VN_PAY_TO_CODE],[VN_PAY_TO_NAME],					
		[VN_CATEGORY],[AP_INV_AMT],[AP_SHIPPING],[AP_SALES_TAX],[AP_DISC_PCT], [ONE_CHECK_PER_INV],
		[CC_INV_TOTAL],[CC_PAY_FLAG],[CC_AMT_TO_PAY],[CC_DISC_AMT],					
		[CC_PAID_BY_CL],[CC_NON_BILL_AMT],[CC_BILL_AMT],[CC_CASH_AMT],[CC_DIRECT_BILL_AMT],	[CC_PROD_ADV_AMT],[CC_INV_PAID_AMT],[CC_TOTAL_QUALIFIED],[CC_CASH_RECEIVED],					
		[CC_BAL_TO_PAY],[CC_DISC_AVAILABLE],[CC_ROW_HDR],[CC_DUMMY],[VN_ACCT_NBR], [VENDOR_SERVICE_TAX_ID], [SERVICE_TAX_ENABLED], [VENDOR_TAXABLE_AMOUNT], [SERVICE_TAX_WAIVER], 
		[CC_SERVICE_TAX_BEGIN_DATE], [CC_SERVICE_TAX_END_DATE], [SERVICE_TAX_RATE],[CC_SERVICE_TAX], [THRESHOLD], [CC_YTD_TAXABLE], 
		[CC_SERVICE_TAX_APPLIED], [GLACODE_WH], [HOME_CURRENCY_CODE], [BANK_CURRENCY_CODE], [AP_CURRENCY_CODE], 
		[EXCHANGE_AMOUNT], [FOREIGN_INV_AMOUNT], [FOREIGN_SALES_TAX], [GLACODE_CRNCY_UNREALIZED], [EXCHANGE_AMOUNT_APPLIED], [CURRENCY_RATE], [EXCHANGE_DISC_AMOUNT])
	SELECT DISTINCT @user_id, A.AP_ID, A.AP_SEQ, A.AP_TYPE, A.VN_FRL_EMP_CODE, A.AP_INV_VCHR, 'Internet', A.AP_DESC, 	A.AP_INV_DATE, A.AP_DATE_PAY, A.GLACODE, B.VN_NAME, NULL AS VN_PAY_TO_CODE,  NULL AS VN_PAY_TO_NAME,  	
		B.VN_CATEGORY, A.AP_INV_AMT, A.AP_SHIPPING, A.AP_SALES_TAX, A.AP_DISC_PCT,   	B.ONE_CHECK_PER_INV, 	
		(COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) +	CASE @bank_currency /*Bank Crncy Code */ WHEN A.CURRENCY_CODE THEN (COALESCE(A.EXCHANGE_AMOUNT, 0.00)) /* AP Code */ ELSE 0 /* Home Code */ END as cc_inv_total, 
		cc_pay_flag = CASE WHEN CHKWRITING_DTL.PAYMENT_AMOUNT <> 0 THEN 1 ELSE 0 END, CHKWRITING_DTL.PAYMENT_AMOUNT AS cc_amt_to_pay, CHKWRITING_DTL.DISC_AMT AS cc_disc_amt, 
		cc_paid_by_cl = 0.00, cc_non_bill_amt = 0.00, cc_bill_amt = 0.00, cc_cash_amt = 0, cc_direct_bill_amt = 0.00, cc_prod_adv_amt = 0.00, cc_inv_paid_amt = 0.00, cc_total_qualified = 0.00, cc_cash_received = '', 
		cc_bal_to_pay = 0.00, cc_disc_available = 0.00, 	cc_row_hdr = '', cc_dummy = 0, B.VN_ACCT_NBR, 	A.VENDOR_SERVICE_TAX_ID, A.SERVICE_TAX_ENABLED, A.VENDOR_TAXABLE_AMOUNT, B.SERVICE_TAX_WAIVER, 	
		cc_service_tax_begin_date = NULL, cc_service_tax_end_date = NULL, SERVICE_TAX_RATE = CASE A.VENDOR_SERVICE_TAX_ID WHEN B.VENDOR_SERVICE_TAX_ID THEN B.SERVICE_TAX_RATE WHEN C.VENDOR_SERVICE_TAX_ID THEN C.RATE ELSE NULL END, cc_service_tax = 0.00, (C.THRESHOLD), cc_ytd_taxable = 0.00, 
		CHKWRITING_DTL.WH_AMT AS cc_service_tax_applied, 	C.GLACODE AS GLACODE_WH, @home_currency, @bank_currency, COALESCE(A.CURRENCY_CODE, @home_currency), 
		A.EXCHANGE_AMOUNT, A.FOREIGN_INV_AMOUNT, A.FOREIGN_SALES_TAX, @glacode_crncy_unrealized, CHKWRITING_DTL.EXCHANGE_AMOUNT_APPLIED, A.CURRENCY_RATE, CHKWRITING_DTL.EXCHANGE_DISC_AMOUNT
	FROM AP_HEADER A WITH (NOLOCK) LEFT OUTER JOIN CHKWRITING_DTL WITH (NOLOCK) ON A.AP_ID = CHKWRITING_DTL.AP_ID AND A.AP_SEQ = CHKWRITING_DTL.AP_SEQ  INNER JOIN VENDOR B WITH (NOLOCK) ON A.VN_FRL_EMP_CODE = B.VN_CODE  LEFT OUTER JOIN VENDOR_SERVICE_TAX C WITH (NOLOCK) ON  A.VENDOR_SERVICE_TAX_ID = C.VENDOR_SERVICE_TAX_ID  	LEFT OUTER JOIN (	SELECT B.SUPPLIER FROM CHKWRITING_DTL B  WITH (NOLOCK)	WHERE UPPER(B.USER_ID) <>@user_id) D 	ON A.VN_FRL_EMP_CODE = D.SUPPLIER  INNER JOIN 
		AP_INTERNET AP WITH (NOLOCK) ON A.AP_ID = AP.AP_ID  
		--INNER JOIN INTERNET_HEADER AH ON AP.ORDER_NBR = AH.ORDER_NBR
	WHERE (CHKWRITING_USER IS NULL OR  UPPER(CHKWRITING_USER) = @user_id ) AND A.AP_DATE_PAY <= @dt_to_pay_cutoff  AND ( PAYMENT_HOLD IS NULL OR PAYMENT_HOLD=0 )  AND A.MODIFY_FLAG IS NULL  AND A.DELETE_FLAG IS NULL  AND D.SUPPLIER IS NULL  AND ( ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) <> 	(SELECT SUM(COALESCE(AP_CHK_AMT, 0.00)) + SUM(COALESCE(VENDOR_SERVICE_TAX, 0.00)) + SUM(COALESCE(AP_DISC_AMT, 0.00)) + SUM(COALESCE((-1 * EXCHANGE_AMOUNT_APPLIED), 0.00)) + SUM(COALESCE((-1 * EXCHANGE_DISC_AMOUNT), 0.00)) FROM AP_PMT_HIST  WHERE AP_PMT_HIST.AP_ID = A.AP_ID GROUP BY AP_ID)) 	OR ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) + COALESCE(WH_AMT, 0.00) ) <> 0 	AND NOT EXISTS (SELECT AP_ID   	FROM AP_PMT_HIST  	WHERE AP_PMT_HIST.AP_ID = A.AP_ID) )	) 
		AND NOT EXISTS (SELECT AP_ID FROM #TEMP X WHERE X.AP_ID = A.AP_ID) ) 
		AND (A.GLACODE IN (SELECT * FROM dbo.udf_split_list(@glacctcodes, ',')) OR @glacctcodes = 'ALL')
		AND (A.VN_FRL_EMP_CODE IN (SELECT * FROM dbo.udf_split_list(@vendors, ',')) OR @vendors = 'ALL')
		AND (EXISTS (SELECT ORDER_NBR FROM INTERNET_HEADER WITH (NOLOCK)  WHERE CL_CODE IN (SELECT * FROM dbo.udf_split_list(@clients, ','))  AND INTERNET_HEADER.ORDER_NBR = AP.ORDER_NBR) OR @clients = 'ALL')

		AND ( COALESCE(A.CURRENCY_CODE, @home_currency) = @bank_currency OR @home_currency = @bank_currency ) 
		AND ( SELECT COALESCE(MAX(Y.BANK_CURRENCY_CODE), @bank_currency) FROM AP_HEADER X WITH (NOLOCK) LEFT JOIN AP_PMT_HIST Y WITH (NOLOCK) ON X.AP_ID = Y.AP_ID WHERE X.AP_ID = A.AP_ID GROUP BY X.AP_ID ) = @bank_currency
		AND 1 = CASE WHEN @BATCH_STATUS IN ('S', 'A', 'D', 'C')  AND A.AP_ID IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK) WHERE USER_ID = @user_id AND BATCH_ID = @BATCH_ID AND UPPER(INVOICE_TYPE) = 'PRODUCTION') THEN 1
				WHEN @BATCH_STATUS IN ('') AND A.AP_ID NOT IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK)) AND A.AP_ID NOT IN (SELECT AP_ID FROM CHKWRITING_DTL WITH (NOLOCK)) THEN 1
				WHEN @BATCH_STATUS IN ('O','E') THEN 1
			ELSE 0 END	
END
IF @outdoor = 1 BEGIN
	INSERT INTO #TEMP ([USER_ID],[AP_ID],[AP_SEQ],[AP_TYPE],[VN_FRL_EMP_CODE],[AP_INV_VCHR],[AP_INV_TYPE],[AP_DESC],	[AP_INV_DATE],[AP_DATE_PAY],[GLACODE],[VN_NAME],[VN_PAY_TO_CODE],[VN_PAY_TO_NAME],					
		[VN_CATEGORY],[AP_INV_AMT],[AP_SHIPPING],[AP_SALES_TAX],[AP_DISC_PCT], [ONE_CHECK_PER_INV],
		[CC_INV_TOTAL],[CC_PAY_FLAG],[CC_AMT_TO_PAY],[CC_DISC_AMT],					
		[CC_PAID_BY_CL],[CC_NON_BILL_AMT],[CC_BILL_AMT],[CC_CASH_AMT],[CC_DIRECT_BILL_AMT],	[CC_PROD_ADV_AMT],[CC_INV_PAID_AMT],[CC_TOTAL_QUALIFIED],[CC_CASH_RECEIVED],					
		[CC_BAL_TO_PAY],[CC_DISC_AVAILABLE],[CC_ROW_HDR],[CC_DUMMY],[VN_ACCT_NBR], [VENDOR_SERVICE_TAX_ID], [SERVICE_TAX_ENABLED], [VENDOR_TAXABLE_AMOUNT], [SERVICE_TAX_WAIVER], 
		[CC_SERVICE_TAX_BEGIN_DATE], [CC_SERVICE_TAX_END_DATE], [SERVICE_TAX_RATE],[CC_SERVICE_TAX], [THRESHOLD], [CC_YTD_TAXABLE], 
		[CC_SERVICE_TAX_APPLIED], [GLACODE_WH], [HOME_CURRENCY_CODE], [BANK_CURRENCY_CODE], [AP_CURRENCY_CODE], 
		[EXCHANGE_AMOUNT], [FOREIGN_INV_AMOUNT], [FOREIGN_SALES_TAX], [GLACODE_CRNCY_UNREALIZED], [EXCHANGE_AMOUNT_APPLIED], [CURRENCY_RATE], [EXCHANGE_DISC_AMOUNT])
	SELECT DISTINCT @user_id, A.AP_ID, A.AP_SEQ, A.AP_TYPE, A.VN_FRL_EMP_CODE, A.AP_INV_VCHR, 'Outdoor', A.AP_DESC, 	A.AP_INV_DATE, A.AP_DATE_PAY, A.GLACODE, B.VN_NAME, NULL AS VN_PAY_TO_CODE,  NULL AS VN_PAY_TO_NAME,  	
		B.VN_CATEGORY, A.AP_INV_AMT, A.AP_SHIPPING, A.AP_SALES_TAX, A.AP_DISC_PCT,   	B.ONE_CHECK_PER_INV, 	
		(COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) +	CASE @bank_currency /*Bank Crncy Code */ WHEN A.CURRENCY_CODE THEN (COALESCE(A.EXCHANGE_AMOUNT, 0.00)) /* AP Code */ ELSE 0 /* Home Code */ END as cc_inv_total, 
		cc_pay_flag = CASE WHEN CHKWRITING_DTL.PAYMENT_AMOUNT <> 0 THEN 1 ELSE 0 END, CHKWRITING_DTL.PAYMENT_AMOUNT AS cc_amt_to_pay, CHKWRITING_DTL.DISC_AMT AS cc_disc_amt, 
		cc_paid_by_cl = 0.00, cc_non_bill_amt = 0.00, cc_bill_amt = 0.00, cc_cash_amt = 0, cc_direct_bill_amt = 0.00, cc_prod_adv_amt = 0.00, cc_inv_paid_amt = 0.00, cc_total_qualified = 0.00, cc_cash_received = '', 
		cc_bal_to_pay = 0.00, cc_disc_available = 0.00, 	cc_row_hdr = '', cc_dummy = 0, B.VN_ACCT_NBR, 	A.VENDOR_SERVICE_TAX_ID, A.SERVICE_TAX_ENABLED, A.VENDOR_TAXABLE_AMOUNT, B.SERVICE_TAX_WAIVER, 	
		cc_service_tax_begin_date = NULL, cc_service_tax_end_date = NULL, SERVICE_TAX_RATE = CASE A.VENDOR_SERVICE_TAX_ID WHEN B.VENDOR_SERVICE_TAX_ID THEN B.SERVICE_TAX_RATE WHEN C.VENDOR_SERVICE_TAX_ID THEN C.RATE ELSE NULL END, cc_service_tax = 0.00, (C.THRESHOLD), cc_ytd_taxable = 0.00, 
		CHKWRITING_DTL.WH_AMT AS cc_service_tax_applied, 	C.GLACODE AS GLACODE_WH, @home_currency, @bank_currency, COALESCE(A.CURRENCY_CODE, @home_currency), 
		A.EXCHANGE_AMOUNT, A.FOREIGN_INV_AMOUNT, A.FOREIGN_SALES_TAX, @glacode_crncy_unrealized, CHKWRITING_DTL.EXCHANGE_AMOUNT_APPLIED, A.CURRENCY_RATE, CHKWRITING_DTL.EXCHANGE_DISC_AMOUNT
	FROM AP_HEADER A WITH (NOLOCK) LEFT OUTER JOIN CHKWRITING_DTL WITH (NOLOCK) ON A.AP_ID = CHKWRITING_DTL.AP_ID AND A.AP_SEQ = CHKWRITING_DTL.AP_SEQ  INNER JOIN VENDOR B WITH (NOLOCK) ON A.VN_FRL_EMP_CODE = B.VN_CODE  LEFT OUTER JOIN VENDOR_SERVICE_TAX C WITH (NOLOCK) ON  A.VENDOR_SERVICE_TAX_ID = C.VENDOR_SERVICE_TAX_ID  	LEFT OUTER JOIN (	SELECT B.SUPPLIER FROM CHKWRITING_DTL B WITH (NOLOCK) 	WHERE UPPER(B.USER_ID) <>@user_id) D 	ON A.VN_FRL_EMP_CODE = D.SUPPLIER  INNER JOIN 
		AP_OUTDOOR AP ON A.AP_ID = AP.AP_ID
		--INNER JOIN OUTDOOR_HEADER AH ON AP.ORDER_NBR = AH.ORDER_NBR
	WHERE (CHKWRITING_USER IS NULL OR  UPPER(CHKWRITING_USER) = @user_id ) AND A.AP_DATE_PAY <= @dt_to_pay_cutoff  AND ( PAYMENT_HOLD IS NULL OR PAYMENT_HOLD=0 )  AND A.MODIFY_FLAG IS NULL  AND A.DELETE_FLAG IS NULL  AND D.SUPPLIER IS NULL  AND ( ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) <> 	(SELECT SUM(COALESCE(AP_CHK_AMT, 0.00)) + SUM(COALESCE(VENDOR_SERVICE_TAX, 0.00)) + SUM(COALESCE(AP_DISC_AMT, 0.00)) + SUM(COALESCE((-1 * EXCHANGE_AMOUNT_APPLIED), 0.00)) + SUM(COALESCE((-1 * EXCHANGE_DISC_AMOUNT), 0.00)) FROM AP_PMT_HIST  WHERE AP_PMT_HIST.AP_ID = A.AP_ID GROUP BY AP_ID)) 	OR ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) + COALESCE(WH_AMT, 0.00) ) <> 0 	AND NOT EXISTS (SELECT AP_ID   	FROM AP_PMT_HIST  	WHERE AP_PMT_HIST.AP_ID = A.AP_ID) )	) 
		AND NOT EXISTS (SELECT AP_ID FROM #TEMP X WHERE X.AP_ID = A.AP_ID) ) 
		AND (A.GLACODE IN (SELECT * FROM dbo.udf_split_list(@glacctcodes, ',')) OR @glacctcodes = 'ALL')
		AND (A.VN_FRL_EMP_CODE IN (SELECT * FROM dbo.udf_split_list(@vendors, ',')) OR @vendors = 'ALL')
		AND (EXISTS (SELECT ORDER_NBR FROM OUTDOOR_HEADER WITH (NOLOCK)  WHERE CL_CODE IN (SELECT * FROM dbo.udf_split_list(@clients, ','))  AND OUTDOOR_HEADER.ORDER_NBR = AP.ORDER_NBR) OR @clients = 'ALL')

		AND ( COALESCE(A.CURRENCY_CODE, @home_currency) = @bank_currency OR @home_currency = @bank_currency ) 
		AND ( SELECT COALESCE(MAX(Y.BANK_CURRENCY_CODE), @bank_currency) FROM AP_HEADER X WITH (NOLOCK) LEFT JOIN AP_PMT_HIST Y WITH (NOLOCK) ON X.AP_ID = Y.AP_ID WHERE X.AP_ID = A.AP_ID GROUP BY X.AP_ID ) = @bank_currency
		AND 1 = CASE WHEN @BATCH_STATUS IN ('S', 'A', 'D', 'C')  AND A.AP_ID IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK) WHERE USER_ID = @user_id AND BATCH_ID = @BATCH_ID AND UPPER(INVOICE_TYPE) = 'PRODUCTION') THEN 1
				WHEN @BATCH_STATUS IN ('') AND A.AP_ID NOT IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK)) AND A.AP_ID NOT IN (SELECT AP_ID FROM CHKWRITING_DTL WITH (NOLOCK)) THEN 1
				WHEN @BATCH_STATUS IN ('O','E') THEN 1
			ELSE 0 END	
END
IF @radio = 1 BEGIN
	INSERT INTO #TEMP ([USER_ID],[AP_ID],[AP_SEQ],[AP_TYPE],[VN_FRL_EMP_CODE],[AP_INV_VCHR],[AP_INV_TYPE],[AP_DESC],	[AP_INV_DATE],[AP_DATE_PAY],[GLACODE],[VN_NAME],[VN_PAY_TO_CODE],[VN_PAY_TO_NAME],					
		[VN_CATEGORY],[AP_INV_AMT],[AP_SHIPPING],[AP_SALES_TAX],[AP_DISC_PCT], [ONE_CHECK_PER_INV],
		[CC_INV_TOTAL],[CC_PAY_FLAG],[CC_AMT_TO_PAY],[CC_DISC_AMT],					
		[CC_PAID_BY_CL],[CC_NON_BILL_AMT],[CC_BILL_AMT],[CC_CASH_AMT],[CC_DIRECT_BILL_AMT],	[CC_PROD_ADV_AMT],[CC_INV_PAID_AMT],[CC_TOTAL_QUALIFIED],[CC_CASH_RECEIVED],					
		[CC_BAL_TO_PAY],[CC_DISC_AVAILABLE],[CC_ROW_HDR],[CC_DUMMY],[VN_ACCT_NBR], [VENDOR_SERVICE_TAX_ID], [SERVICE_TAX_ENABLED], [VENDOR_TAXABLE_AMOUNT], [SERVICE_TAX_WAIVER], 
		[CC_SERVICE_TAX_BEGIN_DATE], [CC_SERVICE_TAX_END_DATE], [SERVICE_TAX_RATE],[CC_SERVICE_TAX], [THRESHOLD], [CC_YTD_TAXABLE], 
		[CC_SERVICE_TAX_APPLIED], [GLACODE_WH], [HOME_CURRENCY_CODE], [BANK_CURRENCY_CODE], [AP_CURRENCY_CODE], 
		[EXCHANGE_AMOUNT], [FOREIGN_INV_AMOUNT], [FOREIGN_SALES_TAX], [GLACODE_CRNCY_UNREALIZED], [EXCHANGE_AMOUNT_APPLIED], [CURRENCY_RATE], [EXCHANGE_DISC_AMOUNT])
	SELECT DISTINCT @user_id, A.AP_ID, A.AP_SEQ, A.AP_TYPE, A.VN_FRL_EMP_CODE, A.AP_INV_VCHR, 'Radio', A.AP_DESC, 	A.AP_INV_DATE, A.AP_DATE_PAY, A.GLACODE, B.VN_NAME, NULL AS VN_PAY_TO_CODE,  NULL AS VN_PAY_TO_NAME,  	
		B.VN_CATEGORY, A.AP_INV_AMT, A.AP_SHIPPING, A.AP_SALES_TAX, A.AP_DISC_PCT,   	B.ONE_CHECK_PER_INV, 	
		(COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) +	CASE @bank_currency /*Bank Crncy Code */ WHEN A.CURRENCY_CODE THEN (COALESCE(A.EXCHANGE_AMOUNT, 0.00)) /* AP Code */ ELSE 0 /* Home Code */ END as cc_inv_total, 
		cc_pay_flag = CASE WHEN CHKWRITING_DTL.PAYMENT_AMOUNT <> 0 THEN 1 ELSE 0 END, CHKWRITING_DTL.PAYMENT_AMOUNT AS cc_amt_to_pay, CHKWRITING_DTL.DISC_AMT AS cc_disc_amt, 
		cc_paid_by_cl = 0.00, cc_non_bill_amt = 0.00, cc_bill_amt = 0.00, cc_cash_amt = 0, cc_direct_bill_amt = 0.00, cc_prod_adv_amt = 0.00, cc_inv_paid_amt = 0.00, cc_total_qualified = 0.00, cc_cash_received = '', 
		cc_bal_to_pay = 0.00, cc_disc_available = 0.00, 	cc_row_hdr = '', cc_dummy = 0, B.VN_ACCT_NBR, 	A.VENDOR_SERVICE_TAX_ID, A.SERVICE_TAX_ENABLED, A.VENDOR_TAXABLE_AMOUNT, B.SERVICE_TAX_WAIVER, 	
		cc_service_tax_begin_date = NULL, cc_service_tax_end_date = NULL, SERVICE_TAX_RATE = CASE A.VENDOR_SERVICE_TAX_ID WHEN B.VENDOR_SERVICE_TAX_ID THEN B.SERVICE_TAX_RATE WHEN C.VENDOR_SERVICE_TAX_ID THEN C.RATE ELSE NULL END, cc_service_tax = 0.00, (C.THRESHOLD), cc_ytd_taxable = 0.00, 
		CHKWRITING_DTL.WH_AMT AS cc_service_tax_applied, 	C.GLACODE AS GLACODE_WH, @home_currency, @bank_currency, COALESCE(A.CURRENCY_CODE, @home_currency), 
		A.EXCHANGE_AMOUNT, A.FOREIGN_INV_AMOUNT, A.FOREIGN_SALES_TAX, @glacode_crncy_unrealized, CHKWRITING_DTL.EXCHANGE_AMOUNT_APPLIED, A.CURRENCY_RATE, CHKWRITING_DTL.EXCHANGE_DISC_AMOUNT
	FROM AP_HEADER A WITH (NOLOCK) LEFT OUTER JOIN CHKWRITING_DTL WITH (NOLOCK) ON A.AP_ID = CHKWRITING_DTL.AP_ID AND A.AP_SEQ = CHKWRITING_DTL.AP_SEQ  
		INNER JOIN VENDOR B WITH (NOLOCK) ON A.VN_FRL_EMP_CODE = B.VN_CODE  
		LEFT OUTER JOIN VENDOR_SERVICE_TAX C WITH (NOLOCK) ON  A.VENDOR_SERVICE_TAX_ID = C.VENDOR_SERVICE_TAX_ID  	
		LEFT OUTER JOIN (	SELECT B.SUPPLIER FROM CHKWRITING_DTL B WITH (NOLOCK) 	WHERE UPPER(B.USER_ID) <>@user_id) D 	ON A.VN_FRL_EMP_CODE = D.SUPPLIER  
		INNER JOIN AP_RADIO AP WITH (NOLOCK) ON A.AP_ID = AP.AP_ID  
		--INNER JOIN RADIO_HEADER AH ON AP.ORDER_NBR = AH.ORDER_NBR
	WHERE (CHKWRITING_USER IS NULL OR  UPPER(CHKWRITING_USER) = @user_id ) AND A.AP_DATE_PAY <= @dt_to_pay_cutoff  AND ( PAYMENT_HOLD IS NULL OR PAYMENT_HOLD=0 )  AND A.MODIFY_FLAG IS NULL  AND A.DELETE_FLAG IS NULL  AND D.SUPPLIER IS NULL  AND ( ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) <> 	(SELECT SUM(COALESCE(AP_CHK_AMT, 0.00)) + SUM(COALESCE(VENDOR_SERVICE_TAX, 0.00)) + SUM(COALESCE(AP_DISC_AMT, 0.00)) + SUM(COALESCE((-1 * EXCHANGE_AMOUNT_APPLIED), 0.00)) + SUM(COALESCE((-1 * EXCHANGE_DISC_AMOUNT), 0.00)) FROM AP_PMT_HIST  WHERE AP_PMT_HIST.AP_ID = A.AP_ID GROUP BY AP_ID)) 	OR ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) + COALESCE(WH_AMT, 0.00) ) <> 0 	AND NOT EXISTS (SELECT AP_ID   	FROM AP_PMT_HIST  	WHERE AP_PMT_HIST.AP_ID = A.AP_ID) )	) 
		AND NOT EXISTS (SELECT AP_ID FROM #TEMP X WHERE X.AP_ID = A.AP_ID) ) 
		AND (A.GLACODE IN (SELECT * FROM dbo.udf_split_list(@glacctcodes, ',')) OR @glacctcodes = 'ALL')
		AND (A.VN_FRL_EMP_CODE IN (SELECT * FROM dbo.udf_split_list(@vendors, ',')) OR @vendors = 'ALL')
		AND (EXISTS (SELECT ORDER_NBR FROM RADIO_HEADER WITH (NOLOCK)  WHERE CL_CODE IN (SELECT * FROM dbo.udf_split_list(@clients, ','))  AND RADIO_HEADER.ORDER_NBR = AP.ORDER_NBR)  OR 
			EXISTS (SELECT ORDER_NBR FROM RADIO_HDR WITH (NOLOCK)  WHERE CL_CODE IN (SELECT * FROM dbo.udf_split_list(@clients, ','))  AND RADIO_HDR.ORDER_NBR = AP.ORDER_NBR) OR @clients = 'ALL') 

		AND ( COALESCE(A.CURRENCY_CODE, @home_currency) = @bank_currency OR @home_currency = @bank_currency ) 
		AND ( SELECT COALESCE(MAX(Y.BANK_CURRENCY_CODE), @bank_currency) FROM AP_HEADER X WITH (NOLOCK) LEFT JOIN AP_PMT_HIST Y WITH (NOLOCK) ON X.AP_ID = Y.AP_ID WHERE X.AP_ID = A.AP_ID GROUP BY X.AP_ID ) = @bank_currency
		AND 1 = CASE WHEN @BATCH_STATUS IN ('S', 'A', 'D', 'C')  AND A.AP_ID IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK) WHERE USER_ID = @user_id AND BATCH_ID = @BATCH_ID AND UPPER(INVOICE_TYPE) = 'PRODUCTION') THEN 1
				WHEN @BATCH_STATUS IN ('') AND A.AP_ID NOT IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK)) AND A.AP_ID NOT IN (SELECT AP_ID FROM CHKWRITING_DTL WITH (NOLOCK)) THEN 1
				WHEN @BATCH_STATUS IN ('O','E') THEN 1
			ELSE 0 END	
END
IF @television = 1 BEGIN
	INSERT INTO #TEMP ([USER_ID],[AP_ID],[AP_SEQ],[AP_TYPE],[VN_FRL_EMP_CODE],[AP_INV_VCHR],[AP_INV_TYPE],[AP_DESC],	[AP_INV_DATE],[AP_DATE_PAY],[GLACODE],[VN_NAME],[VN_PAY_TO_CODE],[VN_PAY_TO_NAME],					
		[VN_CATEGORY],[AP_INV_AMT],[AP_SHIPPING],[AP_SALES_TAX],[AP_DISC_PCT], [ONE_CHECK_PER_INV],
		[CC_INV_TOTAL],[CC_PAY_FLAG],[CC_AMT_TO_PAY],[CC_DISC_AMT],					
		[CC_PAID_BY_CL],[CC_NON_BILL_AMT],[CC_BILL_AMT],[CC_CASH_AMT],[CC_DIRECT_BILL_AMT],	[CC_PROD_ADV_AMT],[CC_INV_PAID_AMT],[CC_TOTAL_QUALIFIED],[CC_CASH_RECEIVED],					
		[CC_BAL_TO_PAY],[CC_DISC_AVAILABLE],[CC_ROW_HDR],[CC_DUMMY],[VN_ACCT_NBR], [VENDOR_SERVICE_TAX_ID], [SERVICE_TAX_ENABLED], [VENDOR_TAXABLE_AMOUNT], [SERVICE_TAX_WAIVER], 
		[CC_SERVICE_TAX_BEGIN_DATE], [CC_SERVICE_TAX_END_DATE], [SERVICE_TAX_RATE],[CC_SERVICE_TAX], [THRESHOLD], [CC_YTD_TAXABLE], 
		[CC_SERVICE_TAX_APPLIED], [GLACODE_WH], [HOME_CURRENCY_CODE], [BANK_CURRENCY_CODE], [AP_CURRENCY_CODE], 
		[EXCHANGE_AMOUNT], [FOREIGN_INV_AMOUNT], [FOREIGN_SALES_TAX], [GLACODE_CRNCY_UNREALIZED], [EXCHANGE_AMOUNT_APPLIED], [CURRENCY_RATE], [EXCHANGE_DISC_AMOUNT])
	SELECT DISTINCT @user_id, A.AP_ID, A.AP_SEQ, A.AP_TYPE, A.VN_FRL_EMP_CODE, A.AP_INV_VCHR, 'Television', A.AP_DESC, 	A.AP_INV_DATE, A.AP_DATE_PAY, A.GLACODE, B.VN_NAME, NULL AS VN_PAY_TO_CODE,  NULL AS VN_PAY_TO_NAME,  	
		B.VN_CATEGORY, A.AP_INV_AMT, A.AP_SHIPPING, A.AP_SALES_TAX, A.AP_DISC_PCT,   	B.ONE_CHECK_PER_INV, 	
		(COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) +	CASE @bank_currency /*Bank Crncy Code */ WHEN A.CURRENCY_CODE THEN (COALESCE(A.EXCHANGE_AMOUNT, 0.00)) /* AP Code */ ELSE 0 /* Home Code */ END as cc_inv_total, 
		cc_pay_flag = CASE WHEN CHKWRITING_DTL.PAYMENT_AMOUNT <> 0 THEN 1 ELSE 0 END, CHKWRITING_DTL.PAYMENT_AMOUNT AS cc_amt_to_pay, CHKWRITING_DTL.DISC_AMT AS cc_disc_amt, 
		cc_paid_by_cl = 0.00, cc_non_bill_amt = 0.00, cc_bill_amt = 0.00, cc_cash_amt = 0, cc_direct_bill_amt = 0.00, cc_prod_adv_amt = 0.00, cc_inv_paid_amt = 0.00, cc_total_qualified = 0.00, cc_cash_received = '', 
		cc_bal_to_pay = 0.00, cc_disc_available = 0.00, 	cc_row_hdr = '', cc_dummy = 0, B.VN_ACCT_NBR, 	A.VENDOR_SERVICE_TAX_ID, A.SERVICE_TAX_ENABLED, A.VENDOR_TAXABLE_AMOUNT, B.SERVICE_TAX_WAIVER,
		cc_service_tax_begin_date = NULL, cc_service_tax_end_date = NULL, SERVICE_TAX_RATE = CASE A.VENDOR_SERVICE_TAX_ID WHEN B.VENDOR_SERVICE_TAX_ID THEN B.SERVICE_TAX_RATE WHEN C.VENDOR_SERVICE_TAX_ID THEN C.RATE ELSE NULL END, cc_service_tax = 0.00, (C.THRESHOLD), cc_ytd_taxable = 0.00, 
		CHKWRITING_DTL.WH_AMT AS cc_service_tax_applied, 	C.GLACODE AS GLACODE_WH, @home_currency, @bank_currency, COALESCE(A.CURRENCY_CODE, @home_currency), 
		A.EXCHANGE_AMOUNT, A.FOREIGN_INV_AMOUNT, A.FOREIGN_SALES_TAX, @glacode_crncy_unrealized, CHKWRITING_DTL.EXCHANGE_AMOUNT_APPLIED, A.CURRENCY_RATE, CHKWRITING_DTL.EXCHANGE_DISC_AMOUNT
	FROM AP_HEADER A WITH (NOLOCK) LEFT OUTER JOIN CHKWRITING_DTL WITH (NOLOCK) ON A.AP_ID = CHKWRITING_DTL.AP_ID AND A.AP_SEQ = CHKWRITING_DTL.AP_SEQ  INNER JOIN VENDOR B ON A.VN_FRL_EMP_CODE = B.VN_CODE  LEFT OUTER JOIN VENDOR_SERVICE_TAX C ON  A.VENDOR_SERVICE_TAX_ID = C.VENDOR_SERVICE_TAX_ID  	LEFT OUTER JOIN (	SELECT B.SUPPLIER FROM CHKWRITING_DTL B 	WHERE UPPER(B.USER_ID) <>@user_id) D 	ON A.VN_FRL_EMP_CODE = D.SUPPLIER  INNER JOIN 
		AP_TV AP WITH (NOLOCK) ON A.AP_ID = AP.AP_ID  
		--INNER JOIN TV_HEADER AH ON AP.ORDER_NBR = AH.ORDER_NBR
	WHERE (CHKWRITING_USER IS NULL OR  UPPER(CHKWRITING_USER) = @user_id ) AND A.AP_DATE_PAY <= @dt_to_pay_cutoff  AND ( PAYMENT_HOLD IS NULL OR PAYMENT_HOLD=0 )  AND A.MODIFY_FLAG IS NULL  AND A.DELETE_FLAG IS NULL  AND D.SUPPLIER IS NULL  AND ( ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) <> 	(SELECT SUM(COALESCE(AP_CHK_AMT, 0.00)) + SUM(COALESCE(VENDOR_SERVICE_TAX, 0.00)) + SUM(COALESCE(AP_DISC_AMT, 0.00)) + SUM(COALESCE((-1 * EXCHANGE_AMOUNT_APPLIED), 0.00)) + SUM(COALESCE((-1 * EXCHANGE_DISC_AMOUNT), 0.00)) FROM AP_PMT_HIST  WHERE AP_PMT_HIST.AP_ID = A.AP_ID GROUP BY AP_ID)) 	OR ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) + COALESCE(WH_AMT, 0.00) ) <> 0 	AND NOT EXISTS (SELECT AP_ID   	FROM AP_PMT_HIST  	WHERE AP_PMT_HIST.AP_ID = A.AP_ID) )	) 
		AND NOT EXISTS (SELECT AP_ID FROM #TEMP X WHERE X.AP_ID = A.AP_ID) ) 
		AND (A.GLACODE IN (SELECT * FROM dbo.udf_split_list(@glacctcodes, ',')) OR @glacctcodes = 'ALL')
		AND (A.VN_FRL_EMP_CODE IN (SELECT * FROM dbo.udf_split_list(@vendors, ',')) OR @vendors = 'ALL')
		AND (EXISTS (SELECT ORDER_NBR FROM TV_HEADER WITH (NOLOCK)  WHERE CL_CODE IN (SELECT * FROM dbo.udf_split_list(@clients, ','))  AND TV_HEADER.ORDER_NBR = AP.ORDER_NBR)  OR 
			EXISTS (SELECT ORDER_NBR FROM TV_HDR WITH (NOLOCK)  WHERE CL_CODE IN (SELECT * FROM dbo.udf_split_list(@clients, ','))  AND TV_HDR.ORDER_NBR = AP.ORDER_NBR) OR @clients = 'ALL') 

		AND ( COALESCE(A.CURRENCY_CODE, @home_currency) = @bank_currency OR @home_currency = @bank_currency ) 
		AND ( SELECT COALESCE(MAX(Y.BANK_CURRENCY_CODE), @bank_currency) FROM AP_HEADER X LEFT JOIN AP_PMT_HIST Y ON X.AP_ID = Y.AP_ID WHERE X.AP_ID = A.AP_ID GROUP BY X.AP_ID ) = @bank_currency
		AND 1 = CASE WHEN @BATCH_STATUS IN ('S', 'A', 'D', 'C')  AND A.AP_ID IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK) WHERE USER_ID = @user_id AND BATCH_ID = @BATCH_ID AND UPPER(INVOICE_TYPE) = 'PRODUCTION') THEN 1
				WHEN @BATCH_STATUS IN ('') AND A.AP_ID NOT IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK)) AND A.AP_ID NOT IN (SELECT AP_ID FROM CHKWRITING_DTL WITH (NOLOCK)) THEN 1
				WHEN @BATCH_STATUS IN ('O','E') THEN 1
			ELSE 0 END	
END
IF @production = 1 BEGIN
	INSERT INTO #TEMP ([USER_ID],[AP_ID],[AP_SEQ],[AP_TYPE],[VN_FRL_EMP_CODE],[AP_INV_VCHR],[AP_INV_TYPE],[AP_DESC],	[AP_INV_DATE],[AP_DATE_PAY],[GLACODE],[VN_NAME],[VN_PAY_TO_CODE],[VN_PAY_TO_NAME],					
		[VN_CATEGORY],[AP_INV_AMT],[AP_SHIPPING],[AP_SALES_TAX],[AP_DISC_PCT], [ONE_CHECK_PER_INV],
		[CC_INV_TOTAL],[CC_PAY_FLAG],[CC_AMT_TO_PAY],[CC_DISC_AMT],					
		[CC_PAID_BY_CL],[CC_NON_BILL_AMT],[CC_BILL_AMT],[CC_CASH_AMT],[CC_DIRECT_BILL_AMT],	[CC_PROD_ADV_AMT],[CC_INV_PAID_AMT],[CC_TOTAL_QUALIFIED],[CC_CASH_RECEIVED],					
		[CC_BAL_TO_PAY],[CC_DISC_AVAILABLE],[CC_ROW_HDR],[CC_DUMMY],[VN_ACCT_NBR], [VENDOR_SERVICE_TAX_ID], [SERVICE_TAX_ENABLED], [VENDOR_TAXABLE_AMOUNT], [SERVICE_TAX_WAIVER], 
		[CC_SERVICE_TAX_BEGIN_DATE], [CC_SERVICE_TAX_END_DATE], [SERVICE_TAX_RATE],[CC_SERVICE_TAX], [THRESHOLD], [CC_YTD_TAXABLE], [CC_SERVICE_TAX_APPLIED], [GLACODE_WH], [HOME_CURRENCY_CODE], [BANK_CURRENCY_CODE], [AP_CURRENCY_CODE], 
		[EXCHANGE_AMOUNT], [FOREIGN_INV_AMOUNT], [FOREIGN_SALES_TAX], [GLACODE_CRNCY_UNREALIZED], [EXCHANGE_AMOUNT_APPLIED], [CURRENCY_RATE], [EXCHANGE_DISC_AMOUNT])
	SELECT DISTINCT @user_id, A.AP_ID, A.AP_SEQ, A.AP_TYPE, A.VN_FRL_EMP_CODE, A.AP_INV_VCHR, 'Production', A.AP_DESC, 	A.AP_INV_DATE, A.AP_DATE_PAY, A.GLACODE, B.VN_NAME, NULL AS VN_PAY_TO_CODE,  NULL AS VN_PAY_TO_NAME,  	
		B.VN_CATEGORY, A.AP_INV_AMT, A.AP_SHIPPING, A.AP_SALES_TAX, A.AP_DISC_PCT,   	B.ONE_CHECK_PER_INV, 	
		(COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) +	CASE @bank_currency /*Bank Crncy Code */ WHEN A.CURRENCY_CODE THEN (COALESCE(A.EXCHANGE_AMOUNT, 0.00)) /* AP Code */ ELSE 0 /* Home Code */ END as cc_inv_total, cc_pay_flag = CASE WHEN CHKWRITING_DTL.PAYMENT_AMOUNT <> 0 THEN 1 ELSE 0 END, CHKWRITING_DTL.PAYMENT_AMOUNT AS cc_amt_to_pay, CHKWRITING_DTL.DISC_AMT AS cc_disc_amt, 
		cc_paid_by_cl = 0.00, cc_non_bill_amt = 0.00, cc_bill_amt = 0.00, cc_cash_amt = 0, cc_direct_bill_amt = 0.00, cc_prod_adv_amt = 0.00, cc_inv_paid_amt = 0.00, cc_total_qualified = 0.00, cc_cash_received = '', 
		cc_bal_to_pay = 0.00, cc_disc_available = 0.00, 	cc_row_hdr = '', cc_dummy = 0, B.VN_ACCT_NBR, 	A.VENDOR_SERVICE_TAX_ID, A.SERVICE_TAX_ENABLED, A.VENDOR_TAXABLE_AMOUNT, B.SERVICE_TAX_WAIVER, 	
		cc_service_tax_begin_date = NULL, cc_service_tax_end_date = NULL, SERVICE_TAX_RATE = CASE A.VENDOR_SERVICE_TAX_ID WHEN B.VENDOR_SERVICE_TAX_ID THEN B.SERVICE_TAX_RATE WHEN C.VENDOR_SERVICE_TAX_ID THEN C.RATE ELSE NULL END, cc_service_tax = 0.00, (C.THRESHOLD), cc_ytd_taxable = 0.00, CHKWRITING_DTL.WH_AMT AS cc_service_tax_applied, 	C.GLACODE AS GLACODE_WH, @home_currency, @bank_currency, COALESCE(A.CURRENCY_CODE, @home_currency), 
		A.EXCHANGE_AMOUNT, A.FOREIGN_INV_AMOUNT, A.FOREIGN_SALES_TAX, @glacode_crncy_unrealized, CHKWRITING_DTL.EXCHANGE_AMOUNT_APPLIED, A.CURRENCY_RATE, CHKWRITING_DTL.EXCHANGE_DISC_AMOUNT
	FROM AP_HEADER A WITH (NOLOCK) 
		LEFT OUTER JOIN CHKWRITING_DTL WITH (NOLOCK) ON A.AP_ID = CHKWRITING_DTL.AP_ID AND A.AP_SEQ = CHKWRITING_DTL.AP_SEQ 
		INNER JOIN VENDOR B WITH (NOLOCK) ON A.VN_FRL_EMP_CODE = B.VN_CODE  
		LEFT OUTER JOIN VENDOR_SERVICE_TAX C WITH (NOLOCK) ON  A.VENDOR_SERVICE_TAX_ID = C.VENDOR_SERVICE_TAX_ID 
		LEFT OUTER JOIN (SELECT B.SUPPLIER FROM CHKWRITING_DTL B WITH (NOLOCK) WHERE UPPER(B.USER_ID) <>@user_id) D ON A.VN_FRL_EMP_CODE = D.SUPPLIER 
		INNER JOIN AP_PRODUCTION AP WITH (NOLOCK) ON A.AP_ID = AP.AP_ID  
		INNER JOIN JOB_LOG J WITH (NOLOCK) ON AP.JOB_NUMBER = J.JOB_NUMBER  
	WHERE (CHKWRITING_USER IS NULL OR  UPPER(CHKWRITING_USER) = @user_id ) 
		AND A.AP_DATE_PAY <= @dt_to_pay_cutoff  
		AND ( PAYMENT_HOLD IS NULL OR PAYMENT_HOLD=0 )  AND A.MODIFY_FLAG IS NULL  AND A.DELETE_FLAG IS NULL  AND D.SUPPLIER IS NULL  
		AND ( ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) <> 	
			(SELECT SUM(COALESCE(AP_CHK_AMT, 0.00)) + SUM(COALESCE(VENDOR_SERVICE_TAX, 0.00)) + SUM(COALESCE(AP_DISC_AMT, 0.00)) + SUM(COALESCE((-1 * EXCHANGE_AMOUNT_APPLIED), 0.00)) + SUM(COALESCE((-1 * EXCHANGE_DISC_AMOUNT), 0.00)) 				
			FROM AP_PMT_HIST WITH (NOLOCK) WHERE AP_PMT_HIST.AP_ID = A.AP_ID GROUP BY AP_ID))	OR ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) + COALESCE(WH_AMT, 0.00) ) <> 0 					
							AND NOT EXISTS (SELECT AP_ID FROM AP_PMT_HIST WITH (NOLOCK) WHERE AP_PMT_HIST.AP_ID = A.AP_ID) ) ) 
		AND A.AP_ID NOT IN (SELECT AP_ID FROM #TEMP) ) 

		AND ( COALESCE(A.CURRENCY_CODE, @home_currency) = @bank_currency OR @home_currency = @bank_currency ) 
		AND ( SELECT COALESCE(MAX(Y.BANK_CURRENCY_CODE), @bank_currency) FROM AP_HEADER X WITH (NOLOCK) LEFT JOIN AP_PMT_HIST Y WITH (NOLOCK) ON X.AP_ID = Y.AP_ID WHERE X.AP_ID = A.AP_ID GROUP BY X.AP_ID ) = @bank_currency

		AND (A.GLACODE IN (SELECT * FROM dbo.udf_split_list(@glacctcodes, ',')) OR @glacctcodes = 'ALL')
		AND (A.VN_FRL_EMP_CODE IN (SELECT * FROM dbo.udf_split_list(@vendors, ',')) OR @vendors = 'ALL')
		AND (J.CL_CODE IN (SELECT * FROM dbo.udf_split_list(@clients, ',')) OR @clients = 'ALL')
		AND 1 = CASE WHEN @BATCH_STATUS IN ('S', 'A', 'D', 'C')  AND A.AP_ID IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK) WHERE USER_ID = @user_id AND BATCH_ID = @BATCH_ID AND UPPER(INVOICE_TYPE) = 'PRODUCTION') THEN 1
				WHEN @BATCH_STATUS IN ('') AND A.AP_ID NOT IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK)) AND A.AP_ID NOT IN (SELECT AP_ID FROM CHKWRITING_DTL WITH (NOLOCK)) THEN 1
				WHEN @BATCH_STATUS IN ('O','E') THEN 1
			ELSE 0 END	
END
IF @gldist = 1 BEGIN
	INSERT INTO #TEMP ([USER_ID],[AP_ID],[AP_SEQ],[AP_TYPE],[VN_FRL_EMP_CODE],[AP_INV_VCHR],[AP_INV_TYPE],[AP_DESC],	[AP_INV_DATE],[AP_DATE_PAY],[GLACODE],[VN_NAME],[VN_PAY_TO_CODE],[VN_PAY_TO_NAME],					
		[VN_CATEGORY],[AP_INV_AMT],[AP_SHIPPING],[AP_SALES_TAX],[AP_DISC_PCT], [ONE_CHECK_PER_INV],
		[CC_INV_TOTAL],
		[CC_PAY_FLAG],
		[CC_AMT_TO_PAY],
		[CC_DISC_AMT],					
		[CC_PAID_BY_CL],[CC_NON_BILL_AMT],[CC_BILL_AMT],[CC_CASH_AMT],[CC_DIRECT_BILL_AMT],	[CC_PROD_ADV_AMT],[CC_INV_PAID_AMT],[CC_TOTAL_QUALIFIED],[CC_CASH_RECEIVED],					
		[CC_BAL_TO_PAY],[CC_DISC_AVAILABLE],[CC_ROW_HDR],[CC_DUMMY],[VN_ACCT_NBR], [VENDOR_SERVICE_TAX_ID], [SERVICE_TAX_ENABLED], [VENDOR_TAXABLE_AMOUNT], [SERVICE_TAX_WAIVER], 
		[CC_SERVICE_TAX_BEGIN_DATE], [CC_SERVICE_TAX_END_DATE], [SERVICE_TAX_RATE],[CC_SERVICE_TAX], [THRESHOLD], [CC_YTD_TAXABLE], 
		[CC_SERVICE_TAX_APPLIED], 
		[GLACODE_WH], [HOME_CURRENCY_CODE], [BANK_CURRENCY_CODE], [AP_CURRENCY_CODE], 
		[EXCHANGE_AMOUNT], [FOREIGN_INV_AMOUNT], [FOREIGN_SALES_TAX], [GLACODE_CRNCY_UNREALIZED], [EXCHANGE_AMOUNT_APPLIED], [CURRENCY_RATE], [EXCHANGE_DISC_AMOUNT])
	SELECT DISTINCT @user_id, A.AP_ID, A.AP_SEQ, A.AP_TYPE, A.VN_FRL_EMP_CODE, A.AP_INV_VCHR, 'GL Dist', A.AP_DESC, 	A.AP_INV_DATE, A.AP_DATE_PAY, A.GLACODE, B.VN_NAME, NULL AS VN_PAY_TO_CODE,  NULL AS VN_PAY_TO_NAME,  	
		B.VN_CATEGORY, A.AP_INV_AMT, A.AP_SHIPPING, A.AP_SALES_TAX, A.AP_DISC_PCT,   	B.ONE_CHECK_PER_INV, 	
		(COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) +	CASE @bank_currency /*Bank Crncy Code */ WHEN A.CURRENCY_CODE THEN (COALESCE(A.EXCHANGE_AMOUNT, 0.00)) /* AP Code */ ELSE 0 /* Home Code */ END as cc_inv_total, 
		cc_pay_flag = 0,--CASE WHEN CHKWRITING_DTL.PAYMENT_AMOUNT <> 0 THEN 1 ELSE 0 END, 
		0 as cc_amt_to_pay, --CHKWRITING_DTL.PAYMENT_AMOUNT AS cc_amt_to_pay, 
		0 as cc_disc_amt, --CHKWRITING_DTL.DISC_AMT AS cc_disc_amt, 
		cc_paid_by_cl = 0.00, cc_non_bill_amt = 0.00, cc_bill_amt = 0.00, cc_cash_amt =  0.00, cc_direct_bill_amt = 0.00, cc_prod_adv_amt = 0.00, cc_inv_paid_amt = 0.00, cc_total_qualified = 0.00, cc_cash_received = '', 
		cc_bal_to_pay = 0.00, cc_disc_available = 0.00, 	cc_row_hdr = '', cc_dummy = 0, B.VN_ACCT_NBR, 	A.VENDOR_SERVICE_TAX_ID, A.SERVICE_TAX_ENABLED, A.VENDOR_TAXABLE_AMOUNT, B.SERVICE_TAX_WAIVER, 	
		cc_service_tax_begin_date = NULL, cc_service_tax_end_date = NULL, SERVICE_TAX_RATE = CASE A.VENDOR_SERVICE_TAX_ID WHEN B.VENDOR_SERVICE_TAX_ID THEN B.SERVICE_TAX_RATE WHEN C.VENDOR_SERVICE_TAX_ID THEN C.RATE ELSE NULL END, cc_service_tax = 0.00, (C.THRESHOLD), cc_ytd_taxable = 0.00, 
		0, --CHKWRITING_DTL.WH_AMT AS cc_service_tax_applied, 	
		C.GLACODE AS GLACODE_WH, @home_currency, @bank_currency, COALESCE(A.CURRENCY_CODE, @home_currency), 
		A.EXCHANGE_AMOUNT, A.FOREIGN_INV_AMOUNT, A.FOREIGN_SALES_TAX, @glacode_crncy_unrealized, 0, A.CURRENCY_RATE, 0
	FROM AP_HEADER A  WITH (NOLOCK)
		--LEFT OUTER JOIN CHKWRITING_DTL ON A.AP_ID = CHKWRITING_DTL.AP_ID AND A.AP_SEQ = CHKWRITING_DTL.AP_SEQ 
		INNER JOIN VENDOR B WITH (NOLOCK) ON A.VN_FRL_EMP_CODE = B.VN_CODE  
		LEFT OUTER JOIN VENDOR_SERVICE_TAX C WITH (NOLOCK) ON  A.VENDOR_SERVICE_TAX_ID = C.VENDOR_SERVICE_TAX_ID 
		--LEFT OUTER JOIN (SELECT B.SUPPLIER FROM CHKWRITING_DTL B WHERE UPPER(B.USER_ID) <>@user_id) D ON A.VN_FRL_EMP_CODE = D.SUPPLIER 
		INNER JOIN AP_GL_DIST AP WITH (NOLOCK) ON A.AP_ID = AP.AP_ID
	WHERE (CHKWRITING_USER IS NULL OR  UPPER(CHKWRITING_USER) = @user_id ) 
		AND A.AP_DATE_PAY <= @dt_to_pay_cutoff  
		AND ( PAYMENT_HOLD IS NULL OR PAYMENT_HOLD=0 )  
		AND A.MODIFY_FLAG IS NULL  
		AND A.DELETE_FLAG IS NULL  
		--AND D.SUPPLIER IS NULL  
		AND ( ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) <> 	
			(SELECT SUM(COALESCE(AP_CHK_AMT, 0.00)) + SUM(COALESCE(VENDOR_SERVICE_TAX, 0.00)) + SUM(COALESCE(AP_DISC_AMT, 0.00)) + SUM(COALESCE((-1 * EXCHANGE_AMOUNT_APPLIED), 0.00)) + SUM(COALESCE((-1 * EXCHANGE_DISC_AMOUNT), 0.00)) 				
			FROM AP_PMT_HIST WITH (NOLOCK) WHERE AP_PMT_HIST.AP_ID = A.AP_ID GROUP BY AP_ID))	OR ( ( (COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) + 0 /*COALESCE(WH_AMT, 0.00)*/ ) <> 0 					
							AND NOT EXISTS (SELECT AP_ID FROM AP_PMT_HIST WITH (NOLOCK) WHERE AP_PMT_HIST.AP_ID = A.AP_ID) ) ) 
		AND A.AP_ID NOT IN (SELECT AP_ID FROM #TEMP) )  
		AND ( COALESCE(A.CURRENCY_CODE, @home_currency) = @bank_currency OR @home_currency = @bank_currency ) 
		AND ( SELECT COALESCE(MAX(Y.BANK_CURRENCY_CODE), @bank_currency) FROM AP_HEADER X LEFT JOIN AP_PMT_HIST Y WITH (NOLOCK) ON X.AP_ID = Y.AP_ID WHERE X.AP_ID = A.AP_ID GROUP BY X.AP_ID ) = @bank_currency
		AND (A.GLACODE IN (SELECT * FROM dbo.udf_split_list(@glacctcodes, ',')) OR @glacctcodes = 'ALL')
		AND (A.VN_FRL_EMP_CODE IN (SELECT * FROM dbo.udf_split_list(@vendors, ',')) OR @vendors = 'ALL')
		AND 1 = CASE WHEN @BATCH_STATUS IN ('O','S', 'A', 'D', 'C')  AND A.AP_ID IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK) WHERE USER_ID = @user_id AND BATCH_ID = @BATCH_ID AND UPPER(INVOICE_TYPE) = 'GL DIST') THEN 1
				WHEN @BATCH_STATUS IN ('') AND A.AP_ID NOT IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK)) THEN 1 --AND A.AP_ID NOT IN (SELECT AP_ID FROM CHKWRITING_DTL) THEN 1
				WHEN @BATCH_STATUS IN ('O','E') THEN 1
			ELSE 0 END	
END

--select * from AP_CHK_CR_TEMP

DELETE FROM AP_CHK_CR_TEMP WHERE USER_ID = @user_id;

INSERT INTO AP_CHK_CR_TEMP (USER_ID, AP_ID, AR_INV_NBR)
SELECT DISTINCT @user_id, AP.AP_ID, AR.AR_INV_NBR
FROM #INVOICE CK 
JOIN AP_PRODUCTION AP ON  CK.AP_ID = AP.AP_ID
JOIN ACCT_REC AR ON AP.AR_INV_NBR = AR.AR_INV_NBR
LEFT JOIN (SELECT AR_INV_NBR FROM ACCT_REC WHERE AR_TYPE = 'VO') VOID ON AR.AR_INV_NBR = VOID.AR_INV_NBR
WHERE AR.AR_INV_SEQ NOT IN (99) AND VOID.AR_INV_NBR IS NULL;

INSERT INTO AP_CHK_CR_TEMP (USER_ID, AP_ID, AR_INV_NBR)
SELECT DISTINCT @user_id, AP_ID, AB.AR_INV_NBR
	FROM ADVANCE_BILLING AB, V_AP_AB_JOBS APB, AP_PRODUCTION AP 
	WHERE AB.JOB_NUMBER = AP.JOB_NUMBER AND AB.JOB_COMPONENT_NBR = AP.JOB_COMPONENT_NBR
	AND AB.JOB_NUMBER = APB.JOB_NUMBER AND AB.JOB_COMPONENT_NBR = APB.JOB_COMPONENT_NBR
	AND AB.AR_INV_NBR IS NOT NULL;

INSERT INTO AP_CHK_CR_TEMP (USER_ID, AP_ID, AR_INV_NBR)
SELECT DISTINCT @user_id, AP_ID, AR_INV_NBR FROM V_AP_MEDIA_MAG2
WHERE AR_INV_NBR IS NOT NULL;	

INSERT INTO AP_CHK_CR_TEMP (USER_ID, AP_ID, AR_INV_NBR)
SELECT DISTINCT @user_id, AP_ID, AR_INV_NBR FROM V_AP_MEDIA_NEWS2
WHERE AR_INV_NBR IS NOT NULL;	

INSERT INTO AP_CHK_CR_TEMP (USER_ID, AP_ID, AR_INV_NBR)
SELECT DISTINCT @user_id, AP_ID, MON_AR_INV_NBR FROM V_AP_MEDIA_RADIO2
WHERE MON_AR_INV_NBR IS NOT NULL;	

INSERT INTO AP_CHK_CR_TEMP (USER_ID, AP_ID, AR_INV_NBR)
SELECT DISTINCT @user_id, AP_RADIO.AP_ID, RADIO_DETAIL.AR_INV_NBR   
    FROM AP_RADIO,   
         RADIO_DETAIL   
   WHERE ( AP_RADIO.ORDER_NBR = RADIO_DETAIL.ORDER_NBR ) and  
         ( AP_RADIO.ORDER_LINE_NBR = RADIO_DETAIL.LINE_NBR ) and  
         ( AP_RADIO.DELETE_FLAG = 0 OR AP_RADIO.DELETE_FLAG IS NULL) and
			( RADIO_DETAIL.AR_INV_NBR IS NOT NULL )
GROUP BY AP_RADIO.AP_ID,   
         RADIO_DETAIL.AR_INV_NBR   
  HAVING ( sum(COALESCE(AP_RADIO.EXT_NET_AMT, 0) + COALESCE(VENDOR_TAX, 0)) <> 0 );

INSERT INTO AP_CHK_CR_TEMP (USER_ID, AP_ID, AR_INV_NBR)
SELECT DISTINCT @user_id, AP_ID, MON_AR_INV_NBR FROM V_AP_MEDIA_TV2
WHERE MON_AR_INV_NBR IS NOT NULL;	

INSERT INTO AP_CHK_CR_TEMP (USER_ID, AP_ID, AR_INV_NBR)
SELECT DISTINCT @user_id, AP_TV.AP_ID, TV_DETAIL.AR_INV_NBR   
    FROM AP_TV,   
         TV_DETAIL   
   WHERE ( AP_TV.ORDER_NBR = TV_DETAIL.ORDER_NBR ) and  
         ( AP_TV.ORDER_LINE_NBR = TV_DETAIL.LINE_NBR ) and  
         ( AP_TV.DELETE_FLAG = 0 OR AP_TV.DELETE_FLAG IS NULL) and
			( TV_DETAIL.AR_INV_NBR IS NOT NULL )
GROUP BY AP_TV.AP_ID,   
         TV_DETAIL.AR_INV_NBR   
  HAVING ( sum(COALESCE(AP_TV.EXT_NET_AMT, 0) + COALESCE(VENDOR_TAX, 0)) <> 0 );

INSERT INTO AP_CHK_CR_TEMP (USER_ID, AP_ID, AR_INV_NBR)
SELECT DISTINCT @user_id, AP_ID, AR_INV_NBR FROM V_AP_MEDIA_INET2
WHERE AR_INV_NBR IS NOT NULL;

INSERT INTO AP_CHK_CR_TEMP (USER_ID, AP_ID, AR_INV_NBR)
SELECT DISTINCT @user_id, AP_ID, AR_INV_NBR FROM V_AP_MEDIA_OOH2
WHERE AR_INV_NBR IS NOT NULL;

--UPDATE A
--SET [CC_PROD_ADV_AMT] = (B.TOT_ADV_BILL_AMT)
--FROM @temp A
--JOIN (
--	SELECT SUM(A.ADV_BILL_NET_AMT) + SUM(A.EXT_NONRESALE_TAX) + SUM(A.EXT_MARKUP_AMT) TOT_ADV_BILL_AMT, AP_ID
--	FROM ADVANCE_BILLING A
--	JOIN AP_PRODUCTION B ON A.JOB_NUMBER = B.JOB_NUMBER AND A.JOB_COMPONENT_NBR = B.JOB_COMPONENT_NBR
--	WHERE B.AR_INV_NBR IS NOT NULL 
--		AND AR_INV_VOID IS NULL 
--	GROUP BY AP_ID 
--	) B ON A.AP_ID = B.AP_ID

--SELECT @@ROWCOUNT ADV_BILL_UPDT

--UPDATE A
--SET [CC_YTD_TAXABLE] = (B.TOT_NON_BILL_AMT) --[CC_NON_BILL_AMT]
--FROM @temp A
--JOIN (
--	SELECT SUM(TOT_NON_BILL_AMT) TOT_NON_BILL_AMT, AP_ID 
--	FROM
--		(SELECT SUM(AP_PROD_EXT_AMT) + SUM(EXT_NONRESALE_TAX) TOT_NON_BILL_AMT, AP_ID
--		FROM AP_PRODUCTION
--		WHERE AP_PROD_NOBILL_FLG = 1
--		GROUP BY AP_ID
--		UNION 
--		SELECT COALESCE(SUM(AP_GL_AMT) , 0) TOT_NON_BILL_AMT, AP_ID
--		FROM AP_GL_DIST
--		GROUP BY AP_ID
--		) AA GROUP BY AP_ID 
--	) B ON A.AP_ID = B.AP_ID 
	
--SELECT @@ROWCOUNT NON_BILL_UPDT

DECLARE @office_security int

SELECT @office_security = COUNT(1) 
FROM dbo.EMP_OFFICE O,dbo.SEC_USER S
WHERE UPPER(USER_CODE) = UPPER(@user_id) AND S.EMP_CODE = O.EMP_CODE;
IF @office_security > 0 BEGIN
	SET @office_security = 0
	SELECT @office_security = 1 
	FROM dbo.GLCONFIG
	WHERE (SEGMENT1_TYPE = 2 AND SEGMENT1_FORMAT IS NOT NULL) OR (SEGMENT2_TYPE = 2 AND SEGMENT2_FORMAT IS NOT NULL) OR 
				(SEGMENT3_TYPE = 2 AND SEGMENT3_FORMAT IS NOT NULL) OR (SEGMENT4_TYPE = 2 AND SEGMENT4_FORMAT IS NOT NULL)
END

--SELECT @office_security '@office_security'

IF ISNULL(@office_security, 0) = 0 BEGIN
	INSERT INTO #INVOICE
			   ([USER_ID]
			   ,[AP_ID]
			   ,[AP_SEQ]
			   ,[AP_TYPE]
			   ,[VN_FRL_EMP_CODE]
			   ,[AP_INV_VCHR]
			   ,[AP_INV_TYPE]
			   ,[AP_DESC]
			   ,[AP_INV_DATE]
			   ,[AP_DATE_PAY]
			   ,[GLACODE]
			   ,[VN_NAME]
			   ,[VN_PAY_TO_CODE]
			   ,[VN_PAY_TO_NAME]			   
			   ,[VN_NOTES]
			   ,[VN_CATEGORY]
			   ,[AP_INV_AMT]
			   ,[AP_SHIPPING]
			   ,[AP_SALES_TAX]
			   ,[AP_DISC_PCT]
			   ,[ONE_CHECK_PER_INV]
			   ,[CC_INV_TOTAL]
			   ,[CC_PAY_FLAG]
			   ,[CC_AMT_TO_PAY]
			   ,[CC_DISC_AMT]
			   ,[CC_PAID_BY_CL]
			   ,[CC_TOTAL_QUALIFIED]
			   ,[CC_CASH_RECEIVED]
			   ,[CC_BAL_TO_PAY]
			   ,[CC_DISC_AVAILABLE]
			   ,[CC_ROW_HDR]
			   ,[CC_DUMMY]
			   ,[VN_ACCT_NBR]
			   ,[CC_CASH_AMT]
			   ,[VENDOR_SERVICE_TAX_ID]
			   ,[SERVICE_TAX_ENABLED]
			   ,[VENDOR_TAXABLE_AMOUNT]
			   ,[CC_SERVICE_TAX]
			   ,[SERVICE_TAX_WAIVER]
			   ,[CC_SERVICE_TAX_BEGIN_DATE]
			   ,[CC_SERVICE_TAX_END_DATE]
			   ,[SERVICE_TAX_RATE]
			   ,[THRESHOLD]
			   ,[CC_YTD_TAXABLE]
			   ,[CC_SERVICE_TAX_APPLIED]
			   ,[GLACODE_WH]
			   ,[EXCHANGE_AMOUNT_APPLIED]
			   ,[HOME_CURRENCY_CODE]
			   ,[BANK_CURRENCY_CODE]
			   ,[AP_CURRENCY_CODE]
			   ,[EXCHANGE_AMOUNT]
			   ,[FOREIGN_INV_AMOUNT]
			   ,[FOREIGN_SALES_TAX]
			   ,[GLACODE_CRNCY_UNREALIZED]
			   ,[CURRENCY_RATE]
			   ,[EXCHANGE_DISC_AMOUNT]
			   ,[PAID_BY_CLIENT]			   
			   ,[CLIENT_CODE])
	SELECT [USER_ID]
			   ,[AP_ID]
			   ,[AP_SEQ]
			   ,[AP_TYPE]
			   ,[VN_FRL_EMP_CODE]
			   ,[AP_INV_VCHR]
			   ,[AP_INV_TYPE]
			   ,[AP_DESC]
			   ,[AP_INV_DATE]
			   ,[AP_DATE_PAY]
			   ,[GLACODE]
			   ,[VN_NAME]
			   ,dbo.[advfn_get_vn_pay_to_code](VN_FRL_EMP_CODE) --[VN_PAY_TO_CODE]
			   ,dbo.[advfn_get_vn_name](dbo.[advfn_get_vn_pay_to_code](dbo.[advfn_get_vn_pay_to_code](VN_FRL_EMP_CODE))) --[VN_PAY_TO_NAME]			   
			   ,[VN_NOTES]
			   ,[VN_CATEGORY]
			   ,[AP_INV_AMT]
			   ,[AP_SHIPPING]
			   ,[AP_SALES_TAX]
			   ,[AP_DISC_PCT]
			   ,[ONE_CHECK_PER_INV]
			   ,[CC_INV_TOTAL]
			   ,[CC_PAY_FLAG]
			   ,[CC_AMT_TO_PAY]
			   ,[CC_DISC_AMT]
			   ,[CC_PAID_BY_CL]
			   ,[CC_TOTAL_QUALIFIED]
			   ,[CC_CASH_RECEIVED]
			   ,[CC_BAL_TO_PAY]
			   ,[CC_DISC_AVAILABLE]
			   ,[CC_ROW_HDR]
			   ,[CC_DUMMY]
			   ,[VN_ACCT_NBR]
			   ,[CC_CASH_AMT]
			   ,[VENDOR_SERVICE_TAX_ID]
			   ,[SERVICE_TAX_ENABLED]
			   ,[VENDOR_TAXABLE_AMOUNT]
			   ,[CC_SERVICE_TAX]
			   ,[SERVICE_TAX_WAIVER]
			   ,[CC_SERVICE_TAX_BEGIN_DATE]
			   ,[CC_SERVICE_TAX_END_DATE]
			   ,[SERVICE_TAX_RATE]
			   ,[THRESHOLD]
			   ,[CC_YTD_TAXABLE]
			   ,[CC_SERVICE_TAX_APPLIED]
			   ,[GLACODE_WH]
			   ,[EXCHANGE_AMOUNT_APPLIED]
			   ,[HOME_CURRENCY_CODE]
			   ,[BANK_CURRENCY_CODE]
			   ,[AP_CURRENCY_CODE]
			   ,[EXCHANGE_AMOUNT]
			   ,[FOREIGN_INV_AMOUNT]
			   ,[FOREIGN_SALES_TAX]
			   ,[GLACODE_CRNCY_UNREALIZED]
			   ,[CURRENCY_RATE]
			   ,[EXCHANGE_DISC_AMOUNT]
			   ,@paid_by_client			   
			   ,[CLIENT_CODE]			   
	FROM #TEMP
	--WHERE AP_ID NOT IN (SELECT AP_ID FROM PC_BATCH_INVOICE) 
	--	AND AP_ID NOT IN (SELECT AP_ID FROM CHKWRITING_DTL)
END ELSE BEGIN
	INSERT INTO #INVOICE
			   ([USER_ID]
			   ,[AP_ID]
			   ,[AP_SEQ]
			   ,[AP_TYPE]
			   ,[VN_FRL_EMP_CODE]
			   ,[AP_INV_VCHR]
			   ,[AP_INV_TYPE]
			   ,[AP_DESC]
			   ,[AP_INV_DATE]
			   ,[AP_DATE_PAY]
			   ,[GLACODE]
			   ,[VN_NAME]
			   ,[VN_PAY_TO_CODE]
			   ,[VN_PAY_TO_NAME]			   
			   ,[VN_NOTES]
			   ,[VN_CATEGORY]
			   ,[AP_INV_AMT]
			   ,[AP_SHIPPING]
			   ,[AP_SALES_TAX]
			   ,[AP_DISC_PCT]
			   ,[ONE_CHECK_PER_INV]
			   ,[CC_INV_TOTAL]
			   ,[CC_PAY_FLAG]
			   ,[CC_AMT_TO_PAY]
			   ,[CC_DISC_AMT]
			   ,[CC_PAID_BY_CL]
			   ,[CC_TOTAL_QUALIFIED]
			   ,[CC_CASH_RECEIVED]
			   ,[CC_BAL_TO_PAY]
			   ,[CC_DISC_AVAILABLE]
			   ,[CC_ROW_HDR]
			   ,[CC_DUMMY]
			   ,[VN_ACCT_NBR]
			   ,[CC_CASH_AMT]
			   ,[VENDOR_SERVICE_TAX_ID]
			   ,[SERVICE_TAX_ENABLED]
			   ,[VENDOR_TAXABLE_AMOUNT]
			   ,[CC_SERVICE_TAX]
			   ,[SERVICE_TAX_WAIVER]
			   ,[CC_SERVICE_TAX_BEGIN_DATE]
			   ,[CC_SERVICE_TAX_END_DATE]
			   ,[SERVICE_TAX_RATE]
			   ,[THRESHOLD]
			   ,[CC_YTD_TAXABLE]
			   ,[CC_SERVICE_TAX_APPLIED]
			   ,[GLACODE_WH]
			   ,[EXCHANGE_AMOUNT_APPLIED]
			   ,[HOME_CURRENCY_CODE]
			   ,[BANK_CURRENCY_CODE]
			   ,[AP_CURRENCY_CODE]
			   ,[EXCHANGE_AMOUNT]
			   ,[FOREIGN_INV_AMOUNT]
			   ,[FOREIGN_SALES_TAX]
			   ,[GLACODE_CRNCY_UNREALIZED]
			   ,[CURRENCY_RATE]
			   ,[EXCHANGE_DISC_AMOUNT]
			   ,[PAID_BY_CLIENT]			   
			   ,[CLIENT_CODE])
	SELECT [USER_ID]
			   ,[AP_ID]
			   ,[AP_SEQ]
			   ,[AP_TYPE]
			   ,[VN_FRL_EMP_CODE]
			   ,[AP_INV_VCHR]
			   ,[AP_INV_TYPE]
			   ,[AP_DESC]
			   ,[AP_INV_DATE]
			   ,[AP_DATE_PAY]
			   ,A.[GLACODE]
			   ,[VN_NAME]
			   ,dbo.[advfn_get_vn_pay_to_code](VN_FRL_EMP_CODE) --[VN_PAY_TO_CODE]
			   ,dbo.[advfn_get_vn_name](dbo.[advfn_get_vn_pay_to_code](dbo.[advfn_get_vn_pay_to_code](VN_FRL_EMP_CODE))) --[VN_PAY_TO_NAME]			   
			   ,[VN_NOTES]
			   ,[VN_CATEGORY]
			   ,[AP_INV_AMT]
			   ,[AP_SHIPPING]
			   ,[AP_SALES_TAX]
			   ,[AP_DISC_PCT]
			   ,[ONE_CHECK_PER_INV]
			   ,[CC_INV_TOTAL]
			   ,[CC_PAY_FLAG]
			   ,[CC_AMT_TO_PAY]
			   ,[CC_DISC_AMT]
			   ,[CC_PAID_BY_CL]
			   ,[CC_TOTAL_QUALIFIED]
			   ,[CC_CASH_RECEIVED]
			   ,[CC_BAL_TO_PAY]
			   ,[CC_DISC_AVAILABLE]
			   ,[CC_ROW_HDR]
			   ,[CC_DUMMY]
			   ,[VN_ACCT_NBR]
			   ,[CC_CASH_AMT]
			   ,[VENDOR_SERVICE_TAX_ID]
			   ,[SERVICE_TAX_ENABLED]
			   ,[VENDOR_TAXABLE_AMOUNT]
			   ,[CC_SERVICE_TAX]
			   ,[SERVICE_TAX_WAIVER]
			   ,[CC_SERVICE_TAX_BEGIN_DATE]
			   ,[CC_SERVICE_TAX_END_DATE]
			   ,[SERVICE_TAX_RATE]
			   ,[THRESHOLD]
			   ,[CC_YTD_TAXABLE]
			   ,[CC_SERVICE_TAX_APPLIED]
			   ,[GLACODE_WH]
			   ,[EXCHANGE_AMOUNT_APPLIED]
			   ,[HOME_CURRENCY_CODE]
			   ,[BANK_CURRENCY_CODE]
			   ,[AP_CURRENCY_CODE]
			   ,[EXCHANGE_AMOUNT]
			   ,[FOREIGN_INV_AMOUNT]
			   ,[FOREIGN_SALES_TAX]
			   ,[GLACODE_CRNCY_UNREALIZED]
			   ,[CURRENCY_RATE]
			   ,[EXCHANGE_DISC_AMOUNT]
			   ,@paid_by_client
			   ,[CLIENT_CODE]			   
	FROM #TEMP A
		JOIN GLACCOUNT G ON G.GLACODE COLLATE DATABASE_DEFAULT = A.GLACODE COLLATE DATABASE_DEFAULT
		JOIN GLOXREF X ON X.GLOXGLOFFICE = G.GLAOFFICE 
		JOIN ( SELECT O.OFFICE_CODE OFF_CODE 
					FROM  
						[EMPLOYEE] AS E CROSS JOIN  
						[OFFICE] AS O LEFT OUTER JOIN 
						[EMP_OFFICE] AS EO ON EO.EMP_CODE = E.EMP_CODE JOIN  
						(SELECT EMP_CODE FROM SEC_USER A WHERE UPPER(A.USER_CODE) = @user_id) S ON S.EMP_CODE = E.EMP_CODE 
					WHERE 
						(EO.OFFICE_CODE = O.OFFICE_CODE OR 
						(O.OFFICE_CODE IS NOT NULL AND  
						EO.OFFICE_CODE IS NULL)) 
				) O ON O.OFF_CODE = X.GLOXOFFICE 
	WHERE A.AP_ID NOT IN (SELECT AP_ID FROM PC_BATCH_INVOICE) 
		AND A.AP_ID NOT IN (SELECT AP_ID FROM CHKWRITING_DTL)
END

--REMOVE 'LOCKED' INVOICES FROM RETURN LIST
BEGIN
	DELETE FROM #INVOICE 
	WHERE AP_ID IN (SELECT AP_ID FROM PC_BATCH_INVOICE WITH (NOLOCK) WHERE BATCH_ID != @BATCH_ID)
	OR AP_ID IN (SELECT AP_ID FROM CHKWRITING_DTL WITH (NOLOCK))
END

UPDATE #INVOICE SET CC_CASH_AMT = 
(SELECT SUM(CR_CASH_AMT)
	FROM V_CR_CLIENT_DTL 
	WHERE AR_INV_NBR IN (
	SELECT AR_INV_NBR
	FROM AP_CHK_CR_TEMP 
	WHERE USER_ID = @user_id 
	AND AP_CHK_CR_TEMP.AP_ID = #INVOICE.AP_ID));

UPDATE #INVOICE
SET [CC_CASH_RECEIVED] = CASE WHEN [CC_CASH_AMT] > 0 THEN 'Y' ELSE 'N' END

DECLARE @vst_begin_date smalldatetime
DECLARE @vst_end_date smalldatetime

IF @vendor_service_tax = 1 BEGIN
	UPDATE #INVOICE 
	SET [CC_SERVICE_TAX_BEGIN_DATE] = CAST('01/01/' + CAST(YEAR(@check_date) AS varchar(4)) AS smalldatetime),
		[CC_SERVICE_TAX_END_DATE] = CAST('12/31/' + CAST(YEAR(@check_date) AS varchar(4)) AS smalldatetime)
	--WHERE [SERVICE_TAX_ENABLED] = 1
END

--EXEC [dbo].[usp_wv_PaymentCenterGetInvoices] 'SYSADM', 'op', '01.2020.00,01.2000.00', 'facebk,centro,simp,kabc,excel,fedex,hamil', 'ALL', '02/28/2021', '02/28/2021', 0, 1, 1, 1, 1, 1, 1, 1, 1

SELECT 
	[APId] = I.AP_ID,
	[Pay] = CASE WHEN BI.PAYMENT_TYPE IS NULL THEN 0
					ELSE 1 END,
	--[PayMethod] = 0,  //temporary logic below to show different pay methods for demo
	--Vendor Maintenance changes submitted by EC to 
	[PayMethod] = CASE WHEN BI.PAYMENT_TYPE IS NOT NULL THEN BI.PAYMENT_TYPE
					WHEN ISNULL(V.VCC_STATUS, 0) = 1 THEN 'TP_VCC'
					WHEN ISNULL(V.VCC_STATUS, 0) = 0 AND ISNULL(V.ACH, 0) = 1 THEN 'TP_ACH' 
					ELSE 'TP_CHK' END,
	--[PayMethod] = CASE WHEN BI.PAYMENT_TYPE IS NULL THEN 'TP_VCC'  --vcc payment type is the primary					
	--				ELSE BI.PAYMENT_TYPE END, --default is Check
	[PayToVendorCode] =  V.VN_PAY_TO_CODE,
	[PayToVendorName] =  V.VN_PAY_TO_NAME,
	[PayToVendorNotes] = V.VN_NOTES,	
	[InvoiceNumber] = AP_INV_VCHR,
	[InvoiceType] = AP_INV_TYPE,
	[DateToPay] =  AP_DATE_PAY,
	[BalanceToPay] =  [CC_INV_TOTAL]-[dbo].[udf_ap_get_pmt_disc_amt](I.AP_ID), --not verified
	[InvoicePaidAmount] = CASE [PAID_BY_CLIENT] WHEN 1 THEN [dbo].[udf_ap_get_pmt_disc_amt](I.AP_ID) ELSE 0.00 END,
	[ApprovedAmount] = CASE WHEN BI.PAYMENT_TYPE IS NULL THEN COALESCE(CC_AMT_TO_PAY, 0)
					ELSE BI.APPROVED_AMOUNT END,	
	[GLAccount] = GLACODE,
	[VendorCode] = VN_FRL_EMP_CODE,
	[VendorName] = V.VN_NAME,	
	[InvoiceDescription] = AP_DESC,
	[InvoiceDate] = AP_INV_DATE,
	[InvoiceTotal] = CC_INV_TOTAL,
	[InvoiceBalance] = [CC_INV_TOTAL]-[dbo].[udf_ap_get_pmt_disc_amt](I.AP_ID),
	[DiscountPercentage] = CONVERT(VARCHAR(10), AP_DISC_PCT),	
	[DiscountAvailable] = CASE WHEN AP_DATE_PAY >= @CHECK_DATE AND (([CC_INV_TOTAL]-[dbo].[udf_ap_get_pmt_disc_amt](I.AP_ID)) * AP_DISC_PCT)/100 > 0
		THEN ROUND((([CC_INV_TOTAL]-[dbo].[udf_ap_get_pmt_disc_amt](I.AP_ID)) * AP_DISC_PCT)/100, 2) ELSE 0 END,		
	[DiscountApproved] = CASE WHEN BI.PAYMENT_TYPE IS NULL THEN COALESCE(CC_DISC_AMT, 0)
					ELSE BI.DISC_APPROVED_AMOUNT END,
	[WithholdingTax] = COALESCE(CC_SERVICE_TAX_APPLIED,0),-- ? not verified
	[PaidPreviously] = 0.00, -- ?
	[NonBillableAmount] = CASE WHEN I.[PAID_BY_CLIENT] = 1 THEN [dbo].[udf_ap_get_non_bill_amt](I.AP_ID) ELSE 0.00 END,
	[BillableAmount] =  CASE [PAID_BY_CLIENT] WHEN 1 THEN dbo.[udf_ap_get_billable_amt](I.AP_ID,I.VN_CATEGORY) ELSE 0.00 END, --not verified
	[DirectBillAmount] =  CASE [PAID_BY_CLIENT] WHEN 1 THEN [dbo].[udf_ap_get_direct_bill_amt](I.AP_ID,I.VN_CATEGORY) ELSE 0.00 END, --not verified
	[ProdAdvanceBalance] =  CASE [PAID_BY_CLIENT] WHEN 1 THEN [dbo].[udf_ap_get_prod_adv_amt](I.AP_ID) ELSE 0.00 END, --not verified
	[CashReceived] =  COALESCE(CC_CASH_AMT, 0), --not verified
	[TotalQualified] =  COALESCE(CC_TOTAL_QUALIFIED, 0), --not verified
	[PaidByClientAmount] =  COALESCE(CC_PAID_BY_CL, 0), --not verified	
	[ClientCode] = [CLIENT_CODE]	
FROM #INVOICE I LEFT OUTER JOIN PC_BATCH_INVOICE BI ON I.AP_ID = BI.AP_ID
--LEFT JOIN VENDOR V ON V.VN_CODE = I.VN_PAY_TO_CODE
LEFT JOIN VENDOR V ON V.VN_CODE COLLATE DATABASE_DEFAULT = I.VN_PAY_TO_CODE COLLATE DATABASE_DEFAULT
ORDER BY Pay DESC, I.AP_ID;

DROP TABLE #INVOICE;
DROP TABLE #TEMP;