IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterAddBatchHeader]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[usp_wv_PaymentCenterAddBatchHeader] 
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterAddBatchHeader]	
	@USER_ID VARCHAR(6),
	@BATCH_STATUS VARCHAR(1),
	@BANK_CODE VARCHAR(4),
	@PAYMENT_DATE SMALLDATETIME,
	@PAY_CUTOFF_DATE SMALLDATETIME,
	@POSTING_PERIOD VARCHAR(6),
	@MEDIA_INTERNET BIT,
	@MEDIA_MAGAZINE BIT,
	@MEDIA_NEWSPAPER BIT,
	@MEDIA_OOH BIT,
	@MEDIA_RADIO BIT,
	@MEDIA_TELEVISION BIT,
	@NON_CLIENT_SELECT BIT,
	@PRODUCTION_SELECT BIT,
	@ALL_INVOICES_SELECT BIT,
	@PAID_BY_CLIENT_SELECT BIT

AS

DECLARE	@CURRENT_DATE DATETIME,
@BATCH_NAME VARCHAR(255)

BEGIN	

	SELECT @CURRENT_DATE = GETDATE()
	SELECT @BATCH_NAME = @BANK_CODE + '-' + @USER_ID + '-' + FORMAT(@CURRENT_DATE, 'yyyy/MM/dd HH:mm:ss')	

	--INSERT NEW RECORD
	BEGIN
		INSERT INTO PC_BATCH_HEADER WITH(ROWLOCK) 
			(BATCH_NAME, USER_ID, CREATION_DATE, LAST_UPDATE_DATE, BATCH_STATUS, BANK_CODE,
			PAYMENT_DATE, PAY_CUTOFF_DATE, POSTING_PERIOD, MEDIA_INTERNET, MEDIA_MAGAZINE,
			MEDIA_NEWSPAPER, MEDIA_OOH, MEDIA_RADIO, MEDIA_TELEVISION, NON_CLIENT_SELECT,
			PRODUCTION_SELECT, ALL_INVOICES_SELECT, PAID_BY_CLIENT_SELECT,
			PMP_ID, PMP_BATCH_ID, BATCH_SUBMITTED_DATE, SEND_ON_DATE)
		VALUES
			(@BATCH_NAME, @USER_ID, @CURRENT_DATE, @CURRENT_DATE, @BATCH_STATUS, @BANK_CODE,
			@PAYMENT_DATE, @PAY_CUTOFF_DATE, @POSTING_PERIOD, @MEDIA_INTERNET, @MEDIA_MAGAZINE,
			@MEDIA_NEWSPAPER, @MEDIA_OOH, @MEDIA_RADIO, @MEDIA_TELEVISION, @NON_CLIENT_SELECT,
			@PRODUCTION_SELECT, @ALL_INVOICES_SELECT, @PAID_BY_CLIENT_SELECT,
			NULL, NULL, NULL, NULL);
	END
			
	--RETURN NEW BATCH ID AND NAME
	BEGIN
		SELECT BATCH_ID AS BatchID, BATCH_NAME AS BatchName, BATCH_STATUS AS BatchStatus,
		S.STATUS_CODE_DESC AS BatchStatusDescription
		FROM PC_BATCH_HEADER H WITH (NOLOCK) JOIN PC_BATCH_STATUS_CODE S WITH (NOLOCK) ON H.BATCH_STATUS = S.STATUS_CODE
		WHERE BATCH_NAME = @BATCH_NAME
	END
END
GO
