if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_wv_exp_SelectEXPENSE_HEADER]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_wv_exp_SelectEXPENSE_HEADER]
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE [dbo].[usp_wv_exp_SelectEXPENSE_HEADER]
@INV_NBR  INT,
@USER_ID  VARCHAR(100)
AS

	DECLARE @RESTRICTED INT;

	SELECT @RESTRICTED = COUNT(1)
	FROM   SEC_EMP WITH(NOLOCK)
	WHERE  UPPER(SEC_EMP.[USER_ID]) = UPPER(@USER_ID);
	SET @RESTRICTED = ISNULL(@RESTRICTED, 0);

	IF @RESTRICTED = 0
	BEGIN
		SELECT [INV_NBR],
			   EXPENSE_HEADER.[EMP_CODE],
			   EXPENSE_HEADER.[VN_CODE],
			   EXPENSE_HEADER.[INV_DATE],
			   EXPENSE_HEADER.[EXP_DESC],
			   EXPENSE_HEADER.[DTL_DESC],
			   EXPENSE_HEADER.[DATE_FROM],
			   EXPENSE_HEADER.[DATE_TO],
			   EXPENSE_HEADER.[INV_AMOUNT],
			   EXPENSE_HEADER.[APPROVED_BY],
			   EXPENSE_HEADER.[APPROVED_DATE],
			   ISNULL(EXPENSE_HEADER.[STATUS], 0) AS STATUS,
			   EMPLOYEE.EMP_FNAME + ' ' + EMPLOYEE.EMP_LNAME AS EMPNAME,
			   ISNULL(EXPENSE_HEADER.[SUBMITTED_FLAG], 0) AS SUBMITTED_FLAG,
			   ISNULL(EXPENSE_HEADER.[APPROVED_FLAG], 0) AS APPROVED_FLAG,
			   dbo.udf_get_expense_totals(EXPENSE_HEADER.[INV_NBR], 'TOTAL') AS TOTAL_EXPENSES,
			   dbo.udf_get_expense_totals(EXPENSE_HEADER.[INV_NBR], 'DUE') AS TOTAL_DUE
		FROM   [EXPENSE_HEADER] WITH(NOLOCK)
			   INNER JOIN EMPLOYEE WITH(NOLOCK)
					ON  EXPENSE_HEADER.EMP_CODE = EMPLOYEE.EMP_CODE
		WHERE  [INV_NBR] = @INV_NBR;
	END
	ELSE
	BEGIN
		SELECT [INV_NBR],
			   EXPENSE_HEADER.[EMP_CODE],
			   EXPENSE_HEADER.[VN_CODE],
			   EXPENSE_HEADER.[INV_DATE],
			   EXPENSE_HEADER.[EXP_DESC],
			   EXPENSE_HEADER.[DTL_DESC],
			   EXPENSE_HEADER.[DATE_FROM],
			   EXPENSE_HEADER.[DATE_TO],
			   EXPENSE_HEADER.[INV_AMOUNT],
			   EXPENSE_HEADER.[APPROVED_BY],
			   EXPENSE_HEADER.[APPROVED_DATE],
			   ISNULL(EXPENSE_HEADER.[STATUS], 0) AS STATUS,
			   EMPLOYEE.EMP_FNAME + ' ' + EMPLOYEE.EMP_LNAME AS EMPNAME,
			   ISNULL(EXPENSE_HEADER.[SUBMITTED_FLAG], 0) AS SUBMITTED_FLAG,
			   ISNULL(EXPENSE_HEADER.[APPROVED_FLAG], 0) AS APPROVED_FLAG,
			   dbo.udf_get_expense_totals(EXPENSE_HEADER.[INV_NBR], 'TOTAL') AS TOTAL_EXPENSES,
			   dbo.udf_get_expense_totals(EXPENSE_HEADER.[INV_NBR], 'DUE') AS TOTAL_DUE
		FROM   EXPENSE_HEADER WITH (NOLOCK)
			   INNER JOIN EMPLOYEE WITH (NOLOCK)
					ON  EXPENSE_HEADER.EMP_CODE = EMPLOYEE.EMP_CODE
			   INNER JOIN [dbo].[advtf_sec_emp] (@USER_ID) AS SEC_EMP 
					ON  EXPENSE_HEADER.EMP_CODE = SEC_EMP.EMP_CODE
		WHERE  (EXPENSE_HEADER.INV_NBR = @INV_NBR) AND SEC_EMP.EMP_CODE = EXPENSE_HEADER.EMP_CODE ;
	END

GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

