IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterGetBatches]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[usp_wv_PaymentCenterGetBatches] 
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterGetBatches]

@BATCH_OWNER VARCHAR(6),
@START_DATE SMALLDATETIME,
@END_DATE SMALLDATETIME,
@STATUS VARCHAR(25)

AS

BEGIN
	BEGIN
		IF @START_DATE IS NULL
			SELECT @START_DATE = DATEADD(YEAR, -20, GETDATE());

		IF @END_DATE IS NULL
			SELECT @END_DATE = DATEADD(DAY, 1, GETDATE());
	END

	BEGIN

	SELECT H.BATCH_ID as BatchId, 'PC' as PaymentModule, H.BATCH_NAME as BatchName, H.BANK_CODE as BankCode, [dbo].[advfn_get_emp_name] ( @BATCH_OWNER, 'FML') AS BatchOwner, 
		H.CREATION_DATE as CreationDate, H.PAYMENT_DATE as PaymentDate, H.BATCH_STATUS as BatchStatus,
		S.STATUS_CODE_DESC AS BatchStatusDescription
	FROM PC_BATCH_HEADER H WITH (NOLOCK) LEFT JOIN PC_BATCH_STATUS_CODE S WITH (NOLOCK)
		ON H.BATCH_STATUS = S.STATUS_CODE 	
	WHERE H.USER_ID = UPPER(@BATCH_OWNER)
		AND CREATION_DATE BETWEEN @START_DATE AND @END_DATE
		AND BATCH_STATUS IN (SELECT LTRIM(RTRIM(items)) AS EMP_CODE 
				FROM [dbo].udf_split_list(@STATUS, ','))
	UNION
	SELECT CR.GLEXACT AS BatchId, 'CW' AS PaymentModule, CR.CHECK_RUN_ID AS BatchName, CR.BK_CODE AS BankCode, [dbo].[advfn_get_emp_name] ( E.EMP_CODE, 'FML') AS BatchOwner,
		AP.CREATE_DATE AS CreationDate, AP.AP_CHK_DATE AS PaymentDate, 'C' AS BatchStatus, 
		'Completed' AS BatchStatusDescription
	FROM CHECK_REGISTER CR WITH (NOLOCK) LEFT JOIN GLENTHDR GH ON CR.GLEXACT = GH.GLEHXACT
		LEFT JOIN SEC_USER SU WITH (NOLOCK) ON SU.USER_CODE = GH.GLEHUSER
		LEFT JOIN EMPLOYEE E WITH (NOLOCK) ON E.EMP_CODE = SU.EMP_CODE
		LEFT JOIN AP_PMT_HIST AP WITH (NOLOCK) ON CR.GLEXACT = AP.GLEXACT
	WHERE UPPER(E.EMP_CODE) = UPPER(@BATCH_OWNER)
		AND AP.CREATE_DATE BETWEEN @START_DATE AND @END_DATE
		AND 'C' IN (SELECT LTRIM(RTRIM(items))
				FROM [dbo].udf_split_list(@STATUS, ','))
		AND COALESCE(CR.GLEXACT, 0) != 0 AND COALESCE(CR.CHECK_RUN_ID, '') != ''
		--AND CR.CLEARED = 1
	GROUP BY CR.GLEXACT, CR.CHECK_RUN_ID, CR.BK_CODE, [dbo].[advfn_get_emp_name] ( E.EMP_CODE, 'FML'),
		AP.CREATE_DATE, AP.AP_CHK_DATE

	END
END