IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterInsertCheckRegister]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[usp_wv_PaymentCenterInsertCheckRegister] 
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterInsertCheckRegister]

@GL_ID AS INTEGER,
@BATCH_ID AS INTEGER,
@USER_CODE AS VARCHAR(6)

AS

BEGIN

	INSERT INTO CHECK_REGISTER WITH (ROWLOCK)( PAYMENT_TYPE, PAYMENT_TYPE_DETAIL, BK_CODE, CHECK_NBR, CHK_SEQ, CHECK_DATE, CHECK_AMT, 
		DISC_AMT, PAY_TO, POST_PERIOD, WH_AMT, PAY_TO_CODE, GLEXACT, CHECK_RUN_ID ) 
	SELECT BI.PAYMENT_TYPE, 'EXT', PH.BK_CODE, MIN(PH.AP_CHK_NBR), 0, PH.AP_CHK_DATE, SUM(AP_CHK_AMT), 
		SUM(AP_DISC_AMT), V.VN_NAME, PH.POST_PERIOD, 0, AH.VN_FRL_EMP_CODE, PH.GLEXACT, BH.BATCH_NAME
	FROM AP_PMT_HIST PH WITH (NOLOCK) LEFT JOIN PC_BATCH_INVOICE BI WITH (NOLOCK) ON PH.AP_ID = BI.AP_ID
	LEFT JOIN AP_HEADER AH WITH (NOLOCK) ON AH.AP_ID = PH.AP_ID
	LEFT JOIN PC_BATCH_HEADER BH WITH (NOLOCK) ON BH.BATCH_ID = BI.BATCH_ID AND BH.USER_ID = BI.USER_ID
	LEFT JOIN VENDOR V WITH (NOLOCK) ON AH.VN_FRL_EMP_CODE = V.VN_CODE
	WHERE PH.GLEXACT = @GL_ID
	AND BI.BATCH_ID = @BATCH_ID
	AND BI.USER_ID = @USER_CODE
	GROUP BY BI.PAYMENT_TYPE, PH.BK_CODE, 
	PH.AP_CHK_DATE, V.VN_NAME, PH.POST_PERIOD,
	AH.VN_FRL_EMP_CODE, PH.GLEXACT, BH.BATCH_NAME

END