IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterUpdateVendorEmail]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[usp_wv_PaymentCenterUpdateVendorEmail] 
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterUpdateVendorEmail]		
	@EMAIL_ADDRESS_TYPE VARCHAR(25),
	@VENDOR_CODE VARCHAR(6),
	@EMAIL_ADDRESS VARCHAR(50)
AS

BEGIN
	IF @EMAIL_ADDRESS_TYPE = 'VENDOR'
		BEGIN
			UPDATE VENDOR WITH (ROWLOCK)
				SET VN_EMAIL = @EMAIL_ADDRESS
			WHERE VN_CODE = @VENDOR_CODE
		END			

	IF @EMAIL_ADDRESS_TYPE = 'PAYMENT_MANAGER'
		BEGIN
			UPDATE VENDOR WITH (ROWLOCK)
				SET PYMT_MGR_EMAIL = @EMAIL_ADDRESS
			WHERE VN_CODE = @VENDOR_CODE
		END				
END