SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[usp_wv_Get_AlertLevel]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[usp_wv_Get_AlertLevel]
GO

CREATE PROCEDURE [dbo].[usp_wv_Get_AlertLevel] 
@AlertID Int,
@AlertLevel varchar(50)

AS

Declare @Office as varchar(100)
Declare @Client as varchar(100)
Declare @Product as varchar(100)
Declare @Division as varchar(100)
Declare @Job as varchar(100)
Declare @JobComp as varchar(100)
Declare @Campaign as varchar(100)


SET NOCOUNT ON
if @AlertLevel = 'OF' begin
SELECT     ALERT_TYPE.ALERT_TYPE_DESC AS Type, ALERT.ALERT_CAT_ID,	ALERT_CATEGORY.ALERT_DESC AS Category, ALERT.SUBJECT AS Subject, ALERT.BODY AS Body, 
                  convert(varchar(25), ALERT.GENERATED) AS GenDate, ALERT.PRIORITY AS Priority, OFFICE.OFFICE_NAME as Office, @Client as Client, @Product as Product, @Division AS Division,
	    SEC_USER.USER_NAME as UserName,  @Job as Job, @JobComp as JobComp, @Campaign as Campaign, ALERT.ALERT_USER as UserCode,
	    ISNULL(CONVERT(VARCHAR(10), DUE_DATE, 101),'') AS DUE_DATE, TIME_DUE, ALERT.ALRT_NOTIFY_HDR_ID
FROM         ALERT INNER JOIN
                      ALERT_CATEGORY ON ALERT.ALERT_CAT_ID = ALERT_CATEGORY.ALERT_CAT_ID INNER JOIN
                      ALERT_TYPE ON ALERT.ALERT_TYPE_ID = ALERT_TYPE.ALERT_TYPE_ID 
INNER JOIN
                      SEC_USER ON UPPER(ALERT.ALERT_USER) = UPPER(SEC_USER.USER_CODE)
INNER JOIN 
	        OFFICE ON ALERT.OFFICE_CODE = OFFICE.OFFICE_CODE
WHERE     (ALERT.ALERT_ID = @AlertID) and ALERT.ALERT_LEVEL = 'OF'
end

if @AlertLevel = 'PR' begin
SELECT     ALERT_TYPE.ALERT_TYPE_DESC AS Type,  ALERT.ALERT_CAT_ID,	ALERT_CATEGORY.ALERT_DESC AS Category, ALERT.SUBJECT AS Subject, ALERT.BODY AS Body, 
                  convert(varchar(25), ALERT.GENERATED) AS GenDate, ALERT.PRIORITY AS Priority, CLIENT.CL_NAME as Client, PRODUCT.PRD_DESCRIPTION as Product, DIVISION.DIV_NAME AS Division,
	    SEC_USER.USER_NAME as UserName,  @Job as Job, @JobComp as JobComp, @Office as Office, @Campaign as Campaign, ALERT.ALERT_USER as UserCode,
	    ISNULL(CONVERT(VARCHAR(10), DUE_DATE, 101),'') AS DUE_DATE, TIME_DUE, ALERT.ALRT_NOTIFY_HDR_ID
FROM         ALERT INNER JOIN
                      ALERT_CATEGORY ON ALERT.ALERT_CAT_ID = ALERT_CATEGORY.ALERT_CAT_ID INNER JOIN
                      ALERT_TYPE ON ALERT.ALERT_TYPE_ID = ALERT_TYPE.ALERT_TYPE_ID INNER JOIN
                      CLIENT ON ALERT.CL_CODE = CLIENT.CL_CODE INNER JOIN
                      PRODUCT ON ALERT.PRD_CODE = PRODUCT.PRD_CODE AND ALERT.CL_CODE = PRODUCT.CL_CODE AND 
                      ALERT.DIV_CODE = PRODUCT.DIV_CODE INNER JOIN
                      DIVISION ON ALERT.DIV_CODE = DIVISION.DIV_CODE AND ALERT.CL_CODE = DIVISION.CL_CODE INNER JOIN
                      SEC_USER ON UPPER(ALERT.ALERT_USER) = UPPER(SEC_USER.USER_CODE)

WHERE     (ALERT.ALERT_ID = @AlertID) and ALERT.ALERT_LEVEL = 'PR'
end
if @AlertLevel = 'DI' begin
SELECT     ALERT_TYPE.ALERT_TYPE_DESC AS Type,  ALERT.ALERT_CAT_ID,	ALERT_CATEGORY.ALERT_DESC AS Category, ALERT.SUBJECT AS Subject, ALERT.BODY AS Body, 
                  convert(varchar(25), ALERT.GENERATED) AS GenDate, ALERT.PRIORITY AS Priority, CLIENT.CL_NAME as Client, DIVISION.DIV_NAME AS Division,
	    SEC_USER.USER_NAME as UserName, @Job as Job, @JobComp as JobComp, @Product as Product, @Office as Office, @Campaign as Campaign, ALERT.ALERT_USER as UserCode,
	    ISNULL(CONVERT(VARCHAR(10), DUE_DATE, 101),'') AS DUE_DATE, TIME_DUE, ALERT.ALRT_NOTIFY_HDR_ID
FROM         ALERT INNER JOIN
                      ALERT_CATEGORY ON ALERT.ALERT_CAT_ID = ALERT_CATEGORY.ALERT_CAT_ID INNER JOIN
                      ALERT_TYPE ON ALERT.ALERT_TYPE_ID = ALERT_TYPE.ALERT_TYPE_ID INNER JOIN
                      CLIENT ON ALERT.CL_CODE = CLIENT.CL_CODE INNER JOIN
                      DIVISION ON ALERT.DIV_CODE = DIVISION.DIV_CODE AND ALERT.CL_CODE = DIVISION.CL_CODE INNER JOIN
                      SEC_USER ON UPPER(ALERT.ALERT_USER) = UPPER(SEC_USER.USER_CODE)
WHERE     (ALERT.ALERT_ID = @AlertID) and ALERT.ALERT_LEVEL = 'DI'
end
if @AlertLevel = 'CL' begin
SELECT     ALERT_TYPE.ALERT_TYPE_DESC AS Type,  ALERT.ALERT_CAT_ID,	ALERT_CATEGORY.ALERT_DESC AS Category, ALERT.SUBJECT AS Subject, ALERT.BODY AS Body, 
                  convert(varchar(25), ALERT.GENERATED) AS GenDate, ALERT.PRIORITY AS Priority, CLIENT.CL_NAME as Client,  SEC_USER.USER_NAME as UserName, 
		@Job as Job, @JobComp as JobComp, @Product as Product, @Division as Division, @Office as Office, @Campaign as Campaign, ALERT.ALERT_USER as UserCode,
		ISNULL(CONVERT(VARCHAR(10), DUE_DATE, 101),'') AS DUE_DATE, TIME_DUE, ALERT.ALRT_NOTIFY_HDR_ID
FROM         ALERT INNER JOIN
                      ALERT_CATEGORY ON ALERT.ALERT_CAT_ID = ALERT_CATEGORY.ALERT_CAT_ID INNER JOIN
                      ALERT_TYPE ON ALERT.ALERT_TYPE_ID = ALERT_TYPE.ALERT_TYPE_ID INNER JOIN
                      CLIENT ON ALERT.CL_CODE = CLIENT.CL_CODE
LEFT OUTER JOIN                     
	SEC_USER ON UPPER(ALERT.ALERT_USER) = UPPER(SEC_USER.USER_CODE)
WHERE     (ALERT.ALERT_ID = @AlertID) and ALERT.ALERT_LEVEL = 'CL'
end
if @AlertLevel = 'JO' begin
SELECT     ALERT_TYPE.ALERT_TYPE_DESC AS Type,  ALERT.ALERT_CAT_ID,	ALERT_CATEGORY.ALERT_DESC AS Category, ALERT.SUBJECT AS Subject, ALERT.BODY AS Body, 
                  convert(varchar(25), ALERT.GENERATED) AS GenDate, ALERT.PRIORITY AS Priority, CLIENT.CL_NAME as Client, PRODUCT.PRD_DESCRIPTION as Product, DIVISION.DIV_NAME AS Division,
	    SEC_USER.USER_NAME as UserName,  JOB_LOG.JOB_DESC  as Job, @JobComp as JobComp, @Office as Office, @Campaign as Campaign, ALERT.ALERT_USER as UserCode,
	    ISNULL(CONVERT(VARCHAR(10), DUE_DATE, 101),'') AS DUE_DATE, TIME_DUE, ALERT.ALRT_NOTIFY_HDR_ID
FROM         ALERT INNER JOIN
                      ALERT_CATEGORY ON ALERT.ALERT_CAT_ID = ALERT_CATEGORY.ALERT_CAT_ID INNER JOIN
                      ALERT_TYPE ON ALERT.ALERT_TYPE_ID = ALERT_TYPE.ALERT_TYPE_ID INNER JOIN
                      CLIENT ON ALERT.CL_CODE = CLIENT.CL_CODE INNER JOIN
                      PRODUCT ON ALERT.PRD_CODE = PRODUCT.PRD_CODE AND ALERT.DIV_CODE = PRODUCT.DIV_CODE AND 
                      ALERT.CL_CODE = PRODUCT.CL_CODE INNER JOIN
                      DIVISION ON ALERT.DIV_CODE = DIVISION.DIV_CODE AND ALERT.CL_CODE = DIVISION.CL_CODE INNER JOIN
                      SEC_USER ON UPPER(ALERT.ALERT_USER) = UPPER(SEC_USER.USER_CODE) INNER JOIN
                      JOB_LOG ON JOB_LOG.CL_CODE = ALERT.CL_CODE AND JOB_LOG.DIV_CODE = ALERT.DIV_CODE AND 
                      JOB_LOG.PRD_CODE = ALERT.PRD_CODE AND JOB_LOG.JOB_NUMBER = ALERT.JOB_NUMBER

WHERE     (ALERT.ALERT_ID = @AlertID) and ALERT.ALERT_LEVEL = 'JO'
end
if @AlertLevel = 'JC' or @AlertLevel = '' or @AlertLevel = 'NA' or @AlertLevel = 'VN' or @AlertLevel = 'AD' or @AlertLevel = 'ED' or @AlertLevel = 'DO' or @AlertLevel = 'AN' or @AlertLevel = 'EST' OR @AlertLevel = 'ES' OR @AlertLevel = 'PS' OR @AlertLevel = 'PST' begin
SELECT     ALERT_TYPE.ALERT_TYPE_DESC AS Type,  ALERT.ALERT_CAT_ID,	ALERT_CATEGORY.ALERT_DESC AS Category, ALERT.SUBJECT AS Subject, 
                      ALERT.BODY AS Body, CONVERT(varchar(25), ALERT.GENERATED) AS GenDate, ALERT.PRIORITY AS Priority, 
                      CLIENT.CL_NAME AS Client, PRODUCT.PRD_DESCRIPTION AS Product, DIVISION.DIV_NAME AS Division, 
                      SEC_USER.USER_NAME AS UserName, JOB_LOG.JOB_DESC AS Job, JOB_COMPONENT.JOB_COMP_DESC AS JobComp, 
                      JOB_LOG.OFFICE_CODE AS Office, JOB_LOG.CMP_CODE AS Campaign, ALERT.ALERT_USER AS UserCode, ALERT.ALERT_ID,
                      ISNULL(CONVERT(VARCHAR(10), DUE_DATE, 101),'') AS DUE_DATE, TIME_DUE, ALERT.ALRT_NOTIFY_HDR_ID
FROM         ALERT LEFT OUTER JOIN
                      PRODUCT ON ALERT.CL_CODE = PRODUCT.CL_CODE AND ALERT.DIV_CODE = PRODUCT.DIV_CODE AND 
                      ALERT.PRD_CODE = PRODUCT.PRD_CODE LEFT OUTER JOIN
                      DIVISION ON ALERT.CL_CODE = DIVISION.CL_CODE AND ALERT.DIV_CODE = DIVISION.DIV_CODE LEFT OUTER JOIN
                      JOB_COMPONENT ON JOB_COMPONENT.JOB_NUMBER = ALERT.JOB_NUMBER AND 
                      JOB_COMPONENT.JOB_COMPONENT_NBR = ALERT.JOB_COMPONENT_NBR LEFT OUTER JOIN
                      JOB_LOG ON JOB_LOG.CL_CODE = ALERT.CL_CODE AND JOB_LOG.DIV_CODE = ALERT.DIV_CODE AND 
                      JOB_LOG.PRD_CODE = ALERT.PRD_CODE AND JOB_LOG.JOB_NUMBER = ALERT.JOB_NUMBER LEFT OUTER JOIN
                      SEC_USER ON UPPER(ALERT.ALERT_USER) = UPPER(SEC_USER.USER_CODE) LEFT OUTER JOIN
                      CLIENT ON ALERT.CL_CODE = CLIENT.CL_CODE LEFT OUTER JOIN
                      ALERT_TYPE ON ALERT.ALERT_TYPE_ID = ALERT_TYPE.ALERT_TYPE_ID LEFT OUTER JOIN
                      ALERT_CATEGORY ON ALERT.ALERT_CAT_ID = ALERT_CATEGORY.ALERT_CAT_ID

WHERE     ALERT.ALERT_ID = @AlertID
end

if @AlertLevel = 'CM' begin
SELECT     ALERT_TYPE.ALERT_TYPE_DESC AS Type,  ALERT.ALERT_CAT_ID,	ALERT_CATEGORY.ALERT_DESC AS Category, ALERT.SUBJECT AS Subject, 
                      ALERT.BODY AS Body, CONVERT(varchar(25), ALERT.GENERATED) AS GenDate, ALERT.PRIORITY AS Priority, 
                      CLIENT.CL_NAME AS Client, PRODUCT.PRD_DESCRIPTION AS Product, DIVISION.DIV_NAME AS Division, 
                      SEC_USER.USER_NAME AS UserName, '' AS Job, '' AS JobComp, OFFICE.OFFICE_NAME AS Office, CAMPAIGN.CMP_NAME AS Campaign, 
                      ALERT.ALERT_USER AS UserCode, ISNULL(CONVERT(VARCHAR(10), DUE_DATE, 101),'') AS DUE_DATE, TIME_DUE, ALERT.ALRT_NOTIFY_HDR_ID
FROM   ALERT 
	LEFT OUTER JOIN ALERT_CATEGORY ON ALERT.ALERT_CAT_ID = ALERT_CATEGORY.ALERT_CAT_ID 
	INNER JOIN ALERT_TYPE ON ALERT.ALERT_TYPE_ID = ALERT_TYPE.ALERT_TYPE_ID 
    INNER JOIN SEC_USER ON UPPER(ALERT.ALERT_USER) = UPPER(SEC_USER.USER_CODE) 
    INNER JOIN CAMPAIGN ON ALERT.CMP_CODE = CAMPAIGN.CMP_CODE 
    LEFT OUTER JOIN DIVISION ON ALERT.DIV_CODE = DIVISION.DIV_CODE AND ALERT.CL_CODE = DIVISION.CL_CODE 
    LEFT OUTER JOIN PRODUCT ON ALERT.PRD_CODE = PRODUCT.PRD_CODE 
							AND ALERT.DIV_CODE = PRODUCT.DIV_CODE 
							AND ALERT.CL_CODE = PRODUCT.CL_CODE 
    LEFT OUTER JOIN CLIENT ON ALERT.CL_CODE = CLIENT.CL_CODE
    LEFT OUTER JOIN OFFICE ON ALERT.OFFICE_CODE = OFFICE.OFFICE_CODE
WHERE     (ALERT.ALERT_ID = @AlertID) AND (ALERT.ALERT_LEVEL = 'CM')
end
GO
SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

