IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_dd_GetProducts]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
    DROP PROCEDURE [dbo].[usp_wv_dd_GetProducts]
GO
CREATE PROCEDURE [dbo].[usp_wv_dd_GetProducts] 
@UserID VarChar(100) , 
@ClientCode VarChar(6), 
@DivisionCode VarChar(6),
@FromApp VarChar(6),
@SprintID Int = 0,
@Text VARCHAR(100) = '' 
AS
/*=========== QUERY ===========*/
	DECLARE @Restrictions INT
	
	SET NOCOUNT ON

	DECLARE @EMP_CODE AS VARCHAR(6)
	DECLARE @OfficeCount AS INTEGER

	SELECT @EMP_CODE = EMP_CODE FROM SEC_USER WHERE UPPER(USER_CODE) = UPPER(@UserID)

	SELECT @OfficeCount = COUNT(*) FROM EMP_OFFICE WHERE EMP_CODE = @EMP_CODE
	
	SELECT @Restrictions = COUNT(*)
	FROM   SEC_CLIENT WITH(NOLOCK)
	WHERE  UPPER(SEC_CLIENT.USER_ID) = UPPER(@UserID);
	
	SET @ClientCode = NULLIF(RTRIM(LTRIM(ISNULL(@ClientCode,''))),'');
	SET @DivisionCode = NULLIF(RTRIM(LTRIM(ISNULL(@DivisionCode,''))),'');

	IF @FromApp = 'ts'
	BEGIN
		IF @OfficeCount = 0
		BEGIN
			IF @Restrictions > 0
			BEGIN
				SELECT PRODUCT.PRD_CODE AS Code,
					   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
					   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
				FROM   CLIENT WITH(NOLOCK)
					   INNER JOIN DIVISION WITH(NOLOCK)
							ON  CLIENT.CL_CODE = DIVISION.CL_CODE
					   INNER JOIN PRODUCT WITH(NOLOCK)
							ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
							AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
					   INNER JOIN SEC_CLIENT WITH(NOLOCK)
							ON  PRODUCT.CL_CODE = SEC_CLIENT.CL_CODE
							AND PRODUCT.DIV_CODE = SEC_CLIENT.DIV_CODE
							AND PRODUCT.PRD_CODE = SEC_CLIENT.PRD_CODE
				WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
					   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
					   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
					   AND UPPER(SEC_CLIENT.USER_ID) = UPPER(@UserID)
					   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
				ORDER BY PRODUCT.PRD_DESCRIPTION 
			END
			ELSE
			BEGIN
				SELECT PRODUCT.PRD_CODE AS Code,
					   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
					   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
				FROM   CLIENT WITH(NOLOCK)
					   INNER JOIN DIVISION WITH(NOLOCK)
							ON  CLIENT.CL_CODE = DIVISION.CL_CODE
					   INNER JOIN PRODUCT WITH(NOLOCK)
							ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
							AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
				WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
					   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
					   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
					   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
				ORDER BY PRODUCT.PRD_DESCRIPTION 
			END
		END
		ELSE
		BEGIN
			IF @Restrictions > 0
			BEGIN
				SELECT PRODUCT.PRD_CODE AS Code,
					   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
					   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
				FROM   CLIENT WITH(NOLOCK)
					   INNER JOIN DIVISION WITH(NOLOCK)
							ON  CLIENT.CL_CODE = DIVISION.CL_CODE
					   INNER JOIN PRODUCT WITH(NOLOCK)
							ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
							AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
					   INNER JOIN SEC_CLIENT WITH(NOLOCK)
							ON  PRODUCT.CL_CODE = SEC_CLIENT.CL_CODE
							AND PRODUCT.DIV_CODE = SEC_CLIENT.DIV_CODE
							AND PRODUCT.PRD_CODE = SEC_CLIENT.PRD_CODE
						INNER JOIN 
							EMP_OFFICE ON PRODUCT.OFFICE_CODE = EMP_OFFICE.OFFICE_CODE AND EMP_OFFICE.EMP_CODE = @EMP_CODE
				WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
					   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
					   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
					   AND UPPER(SEC_CLIENT.USER_ID) = UPPER(@UserID)
					   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
				ORDER BY PRODUCT.PRD_DESCRIPTION 
			END
			ELSE
			BEGIN
				SELECT PRODUCT.PRD_CODE AS Code,
					   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
					   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
				FROM   CLIENT WITH(NOLOCK)
					   INNER JOIN DIVISION WITH(NOLOCK)
							ON  CLIENT.CL_CODE = DIVISION.CL_CODE
					   INNER JOIN PRODUCT WITH(NOLOCK)
							ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
							AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
							INNER JOIN 
							   EMP_OFFICE ON PRODUCT.OFFICE_CODE = EMP_OFFICE.OFFICE_CODE AND EMP_OFFICE.EMP_CODE = @EMP_CODE
				WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
					   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
					   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
					   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
				ORDER BY PRODUCT.PRD_DESCRIPTION 
			END
		END
	END
	Else if @FromApp = 'util'
	Begin 
		if @SprintID = 0
		BEGIN
			IF @Restrictions > 0
			BEGIN
				If @OfficeCount = 0
				BEGIN
					SELECT TOP 100 PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   CLIENT WITH(NOLOCK)
						   INNER JOIN DIVISION WITH(NOLOCK)
								ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK)
								ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
								AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
						   INNER JOIN SEC_CLIENT WITH(NOLOCK)
								ON  PRODUCT.CL_CODE = SEC_CLIENT.CL_CODE
								AND PRODUCT.DIV_CODE = SEC_CLIENT.DIV_CODE
								AND PRODUCT.PRD_CODE = SEC_CLIENT.PRD_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND UPPER(SEC_CLIENT.USER_ID) = UPPER(@UserID) AND (SEC_CLIENT.TIME_ENTRY = 0 OR SEC_CLIENT.TIME_ENTRY IS NULL)
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
				ELSE
				BEGIN
					SELECT TOP 100 PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   CLIENT WITH(NOLOCK)
						   INNER JOIN DIVISION WITH(NOLOCK)
								ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK)
								ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
								AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
						   INNER JOIN SEC_CLIENT WITH(NOLOCK)
								ON  PRODUCT.CL_CODE = SEC_CLIENT.CL_CODE
								AND PRODUCT.DIV_CODE = SEC_CLIENT.DIV_CODE
								AND PRODUCT.PRD_CODE = SEC_CLIENT.PRD_CODE
							INNER JOIN 
							   EMP_OFFICE ON PRODUCT.OFFICE_CODE = EMP_OFFICE.OFFICE_CODE AND EMP_OFFICE.EMP_CODE = @EMP_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND UPPER(SEC_CLIENT.USER_ID) = UPPER(@UserID) AND (SEC_CLIENT.TIME_ENTRY = 0 OR SEC_CLIENT.TIME_ENTRY IS NULL)
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
			END
			ELSE
			BEGIN
				If @OfficeCount = 0
				BEGIN
					SELECT TOP 100 PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   CLIENT WITH(NOLOCK)
						   INNER JOIN DIVISION WITH(NOLOCK)
								ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK)
								ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
								AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
				ELSE
				BEGIN
					SELECT TOP 100 PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   CLIENT WITH(NOLOCK)
						   INNER JOIN DIVISION WITH(NOLOCK)
								ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK)
								ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
								AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
							INNER JOIN 
							   EMP_OFFICE ON PRODUCT.OFFICE_CODE = EMP_OFFICE.OFFICE_CODE AND EMP_OFFICE.EMP_CODE = @EMP_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
			END
		END
		ELSE
		BEGIN
			IF @Restrictions > 0
			BEGIN
				If @OfficeCount = 0
				BEGIN
					SELECT DISTINCT TOP 100 PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   SPRINT_HDR
							inner JOIN BOARD on BOARD.ID = SPRINT_HDR.BOARD_ID
							inner join BOARD_JOB on BOARD.ID = BOARD_JOB.BOARD_ID
							inner join JOB_LOG on JOB_LOG.JOB_NUMBER = BOARD_JOB.JOB_NUMBER
							inner join CLIENT ON JOB_LOG.CL_CODE = CLIENT.CL_CODE
						   INNER JOIN DIVISION WITH(NOLOCK)	ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK)	ON  DIVISION.CL_CODE = PRODUCT.CL_CODE AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
						   INNER JOIN SEC_CLIENT WITH(NOLOCK) ON  PRODUCT.CL_CODE = SEC_CLIENT.CL_CODE AND PRODUCT.DIV_CODE = SEC_CLIENT.DIV_CODE AND PRODUCT.PRD_CODE = SEC_CLIENT.PRD_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND UPPER(SEC_CLIENT.USER_ID) = UPPER(@UserID) AND (SEC_CLIENT.TIME_ENTRY = 0 OR SEC_CLIENT.TIME_ENTRY IS NULL)
							AND SPRINT_HDR.ID = @SprintID
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
				ELSE
				BEGIN
					SELECT DISTINCT TOP 100 PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   SPRINT_HDR
							inner JOIN BOARD on BOARD.ID = SPRINT_HDR.BOARD_ID
							inner join BOARD_JOB on BOARD.ID = BOARD_JOB.BOARD_ID
							inner join JOB_LOG on JOB_LOG.JOB_NUMBER = BOARD_JOB.JOB_NUMBER
							inner join CLIENT ON JOB_LOG.CL_CODE = CLIENT.CL_CODE
						INNER JOIN DIVISION WITH(NOLOCK)	ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						INNER JOIN PRODUCT WITH(NOLOCK) ON  DIVISION.CL_CODE = PRODUCT.CL_CODE AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
						INNER JOIN SEC_CLIENT WITH(NOLOCK) ON  PRODUCT.CL_CODE = SEC_CLIENT.CL_CODE AND PRODUCT.DIV_CODE = SEC_CLIENT.DIV_CODE AND PRODUCT.PRD_CODE = SEC_CLIENT.PRD_CODE
						INNER JOIN EMP_OFFICE ON PRODUCT.OFFICE_CODE = EMP_OFFICE.OFFICE_CODE AND EMP_OFFICE.EMP_CODE = @EMP_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND UPPER(SEC_CLIENT.USER_ID) = UPPER(@UserID) AND (SEC_CLIENT.TIME_ENTRY = 0 OR SEC_CLIENT.TIME_ENTRY IS NULL)
							AND SPRINT_HDR.ID = @SprintID
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
			END
			ELSE
			BEGIN
				If @OfficeCount = 0
				BEGIN
					SELECT DISTINCT TOP 100 PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   SPRINT_HDR
							inner JOIN BOARD on BOARD.ID = SPRINT_HDR.BOARD_ID
							inner join BOARD_JOB on BOARD.ID = BOARD_JOB.BOARD_ID
							inner join JOB_LOG on JOB_LOG.JOB_NUMBER = BOARD_JOB.JOB_NUMBER
							inner join CLIENT ON JOB_LOG.CL_CODE = CLIENT.CL_CODE
						   INNER JOIN DIVISION WITH(NOLOCK)	ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK) ON  DIVISION.CL_CODE = PRODUCT.CL_CODE AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
							AND SPRINT_HDR.ID = @SprintID
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
				ELSE
				BEGIN
					SELECT DISTINCT TOP 100 PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   SPRINT_HDR
							inner JOIN BOARD on BOARD.ID = SPRINT_HDR.BOARD_ID
							inner join BOARD_JOB on BOARD.ID = BOARD_JOB.BOARD_ID
							inner join JOB_LOG on JOB_LOG.JOB_NUMBER = BOARD_JOB.JOB_NUMBER
							inner join CLIENT ON JOB_LOG.CL_CODE = CLIENT.CL_CODE
						   INNER JOIN DIVISION WITH(NOLOCK)	ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK) ON  DIVISION.CL_CODE = PRODUCT.CL_CODE AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
							INNER JOIN EMP_OFFICE ON PRODUCT.OFFICE_CODE = EMP_OFFICE.OFFICE_CODE AND EMP_OFFICE.EMP_CODE = @EMP_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
							AND SPRINT_HDR.ID = @SprintID
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
			END
		END
	End
	Else
	Begin
		if @SprintID = 0
		BEGIN
			IF @Restrictions > 0
			BEGIN
				If @OfficeCount = 0
				BEGIN
					SELECT PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   CLIENT WITH(NOLOCK)
						   INNER JOIN DIVISION WITH(NOLOCK)
								ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK)
								ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
								AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
						   INNER JOIN SEC_CLIENT WITH(NOLOCK)
								ON  PRODUCT.CL_CODE = SEC_CLIENT.CL_CODE
								AND PRODUCT.DIV_CODE = SEC_CLIENT.DIV_CODE
								AND PRODUCT.PRD_CODE = SEC_CLIENT.PRD_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND UPPER(SEC_CLIENT.USER_ID) = UPPER(@UserID) AND (SEC_CLIENT.TIME_ENTRY = 0 OR SEC_CLIENT.TIME_ENTRY IS NULL)
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
				ELSE
				BEGIN
					SELECT PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   CLIENT WITH(NOLOCK)
						   INNER JOIN DIVISION WITH(NOLOCK)
								ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK)
								ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
								AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
						   INNER JOIN SEC_CLIENT WITH(NOLOCK)
								ON  PRODUCT.CL_CODE = SEC_CLIENT.CL_CODE
								AND PRODUCT.DIV_CODE = SEC_CLIENT.DIV_CODE
								AND PRODUCT.PRD_CODE = SEC_CLIENT.PRD_CODE
							INNER JOIN 
							   EMP_OFFICE ON PRODUCT.OFFICE_CODE = EMP_OFFICE.OFFICE_CODE AND EMP_OFFICE.EMP_CODE = @EMP_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND UPPER(SEC_CLIENT.USER_ID) = UPPER(@UserID) AND (SEC_CLIENT.TIME_ENTRY = 0 OR SEC_CLIENT.TIME_ENTRY IS NULL)
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
			END
			ELSE
			BEGIN
				If @OfficeCount = 0
				BEGIN
					SELECT PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   CLIENT WITH(NOLOCK)
						   INNER JOIN DIVISION WITH(NOLOCK)
								ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK)
								ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
								AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
				ELSE
				BEGIN
					SELECT PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   CLIENT WITH(NOLOCK)
						   INNER JOIN DIVISION WITH(NOLOCK)
								ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK)
								ON  DIVISION.CL_CODE = PRODUCT.CL_CODE
								AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
							INNER JOIN 
							   EMP_OFFICE ON PRODUCT.OFFICE_CODE = EMP_OFFICE.OFFICE_CODE AND EMP_OFFICE.EMP_CODE = @EMP_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
			END
		END
		ELSE
		BEGIN
			IF @Restrictions > 0
			BEGIN
				If @OfficeCount = 0
				BEGIN
					SELECT DISTINCT PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   SPRINT_HDR
							inner JOIN BOARD on BOARD.ID = SPRINT_HDR.BOARD_ID
							inner join BOARD_JOB on BOARD.ID = BOARD_JOB.BOARD_ID
							inner join JOB_LOG on JOB_LOG.JOB_NUMBER = BOARD_JOB.JOB_NUMBER
							inner join CLIENT ON JOB_LOG.CL_CODE = CLIENT.CL_CODE
						   INNER JOIN DIVISION WITH(NOLOCK)	ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK)	ON  DIVISION.CL_CODE = PRODUCT.CL_CODE AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
						   INNER JOIN SEC_CLIENT WITH(NOLOCK) ON  PRODUCT.CL_CODE = SEC_CLIENT.CL_CODE AND PRODUCT.DIV_CODE = SEC_CLIENT.DIV_CODE AND PRODUCT.PRD_CODE = SEC_CLIENT.PRD_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND UPPER(SEC_CLIENT.USER_ID) = UPPER(@UserID) AND (SEC_CLIENT.TIME_ENTRY = 0 OR SEC_CLIENT.TIME_ENTRY IS NULL)
							AND SPRINT_HDR.ID = @SprintID
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
				ELSE
				BEGIN
					SELECT DISTINCT PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   SPRINT_HDR
							inner JOIN BOARD on BOARD.ID = SPRINT_HDR.BOARD_ID
							inner join BOARD_JOB on BOARD.ID = BOARD_JOB.BOARD_ID
							inner join JOB_LOG on JOB_LOG.JOB_NUMBER = BOARD_JOB.JOB_NUMBER
							inner join CLIENT ON JOB_LOG.CL_CODE = CLIENT.CL_CODE
						INNER JOIN DIVISION WITH(NOLOCK)	ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						INNER JOIN PRODUCT WITH(NOLOCK) ON  DIVISION.CL_CODE = PRODUCT.CL_CODE AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
						INNER JOIN SEC_CLIENT WITH(NOLOCK) ON  PRODUCT.CL_CODE = SEC_CLIENT.CL_CODE AND PRODUCT.DIV_CODE = SEC_CLIENT.DIV_CODE AND PRODUCT.PRD_CODE = SEC_CLIENT.PRD_CODE
						INNER JOIN EMP_OFFICE ON PRODUCT.OFFICE_CODE = EMP_OFFICE.OFFICE_CODE AND EMP_OFFICE.EMP_CODE = @EMP_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
						   AND UPPER(SEC_CLIENT.USER_ID) = UPPER(@UserID) AND (SEC_CLIENT.TIME_ENTRY = 0 OR SEC_CLIENT.TIME_ENTRY IS NULL)
							AND SPRINT_HDR.ID = @SprintID
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
			END
			ELSE
			BEGIN
				If @OfficeCount = 0
				BEGIN
					SELECT DISTINCT PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   SPRINT_HDR
							inner JOIN BOARD on BOARD.ID = SPRINT_HDR.BOARD_ID
							inner join BOARD_JOB on BOARD.ID = BOARD_JOB.BOARD_ID
							inner join JOB_LOG on JOB_LOG.JOB_NUMBER = BOARD_JOB.JOB_NUMBER
							inner join CLIENT ON JOB_LOG.CL_CODE = CLIENT.CL_CODE
						   INNER JOIN DIVISION WITH(NOLOCK)	ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK) ON  DIVISION.CL_CODE = PRODUCT.CL_CODE AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
							AND SPRINT_HDR.ID = @SprintID
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
				ELSE
				BEGIN
					SELECT DISTINCT PRODUCT.PRD_CODE AS Code,
						   PRODUCT.PRD_CODE + ' - ' + ISNULL(PRODUCT.PRD_DESCRIPTION, '') AS 
						   DESCRIPTION
					   ,PRODUCT.PRD_DESCRIPTION Name
					   ,PRODUCT.DIV_CODE DivisionCode
					   ,PRODUCT.CL_CODE ClientCode
					   ,PRODUCT.OFFICE_CODE OfficeCode
					FROM   SPRINT_HDR
							inner JOIN BOARD on BOARD.ID = SPRINT_HDR.BOARD_ID
							inner join BOARD_JOB on BOARD.ID = BOARD_JOB.BOARD_ID
							inner join JOB_LOG on JOB_LOG.JOB_NUMBER = BOARD_JOB.JOB_NUMBER
							inner join CLIENT ON JOB_LOG.CL_CODE = CLIENT.CL_CODE
						   INNER JOIN DIVISION WITH(NOLOCK)	ON  CLIENT.CL_CODE = DIVISION.CL_CODE
						   INNER JOIN PRODUCT WITH(NOLOCK) ON  DIVISION.CL_CODE = PRODUCT.CL_CODE AND DIVISION.DIV_CODE = PRODUCT.DIV_CODE
							INNER JOIN EMP_OFFICE ON PRODUCT.OFFICE_CODE = EMP_OFFICE.OFFICE_CODE AND EMP_OFFICE.EMP_CODE = @EMP_CODE
					WHERE  (PRODUCT.ACTIVE_FLAG = 1 AND CLIENT.ACTIVE_FLAG = 1 AND DIVISION.ACTIVE_FLAG = 1)
						   AND (PRODUCT.CL_CODE = ISNULL(@ClientCode,PRODUCT.CL_CODE))
						   AND (PRODUCT.DIV_CODE = ISNULL(@DivisionCode,PRODUCT.DIV_CODE))
							AND SPRINT_HDR.ID = @SprintID
						   AND LOWER(PRODUCT.PRD_DESCRIPTION + ' (' + PRODUCT.PRD_CODE + ')') LIKE '%' + LOWER(@Text) + '%'
					order by PRODUCT.PRD_DESCRIPTION 
				END
			END
		END
	END


GO


