IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterGetBatchClientDetails]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[usp_wv_PaymentCenterGetBatchClientDetails] 
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterGetBatchClientDetails]

@USER_ID VARCHAR(100),
@BATCH_ID INTEGER,
@PAYMENT_MODULE VARCHAR(2)

AS

BEGIN
	IF @PAYMENT_MODULE != 'CW'
		SELECT C.CLIENT_CODE AS Code		
		FROM PC_BATCH_CLIENT_SEL C WITH (NOLOCK)
		WHERE USER_ID = @USER_ID
			AND BATCH_ID = @BATCH_ID	
	ELSE
		SELECT A.CL_CODE AS Code FROM (
			SELECT DISTINCT H.CL_CODE
			FROM AP_INTERNET AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID
			JOIN INTERNET_HEADER H WITH (NOLOCK) ON H.ORDER_NBR = AP.ORDER_NBR
			WHERE I.GLEXACT = @BATCH_ID
			UNION
			SELECT DISTINCT H.CL_CODE
			FROM AP_NEWSPAPER AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID
			JOIN NEWSPAPER_HEADER H WITH (NOLOCK) ON H.ORDER_NBR = AP.ORDER_NBR
			WHERE I.GLEXACT = @BATCH_ID
			UNION
			SELECT DISTINCT H.CL_CODE
			FROM AP_MAGAZINE AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID
			JOIN MAGAZINE_HEADER H WITH (NOLOCK) ON H.ORDER_NBR = AP.ORDER_NBR
			WHERE I.GLEXACT = @BATCH_ID
			UNION
			SELECT DISTINCT H.CL_CODE
			FROM AP_RADIO AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID
			JOIN RADIO_HDR H WITH (NOLOCK) ON H.ORDER_NBR = AP.ORDER_NBR
			WHERE I.GLEXACT = @BATCH_ID
			--RADIO_HEADER IS A LEGACY TABLE
			UNION
			SELECT DISTINCT H.CL_CODE
			FROM AP_TV AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID
			JOIN TV_HDR H WITH (NOLOCK) ON H.ORDER_NBR = AP.ORDER_NBR
			WHERE I.GLEXACT = @BATCH_ID
			--TV_HEADER IS A LEGACY TABLE
			UNION
			SELECT DISTINCT H.CL_CODE
			FROM AP_OUTDOOR AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID
			JOIN OUTDOOR_HEADER H WITH (NOLOCK) ON H.ORDER_NBR = AP.ORDER_NBR
			WHERE I.GLEXACT = @BATCH_ID
			UNION
			SELECT DISTINCT J.CL_CODE
			FROM AP_PRODUCTION AP WITH (NOLOCK) JOIN AP_PMT_HIST I WITH (NOLOCK) ON AP.AP_ID = I.AP_ID
			JOIN AP_HEADER H WITH (NOLOCK) ON H.AP_ID = AP.AP_ID
			JOIN JOB_LOG J WITH (NOLOCK) ON J.JOB_NUMBER = AP.JOB_NUMBER
			WHERE I.GLEXACT = @BATCH_ID) A
END
GO
