IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterCreateBatchInvoice]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[usp_wv_PaymentCenterCreateBatchInvoice] 
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterCreateBatchInvoice]	
	@BATCH_ID INT,
	@USER_CODE VARCHAR(6),
	@AP_ID INT,
	@INVOICE_NUMBER VARCHAR(20),
	@PAYMENT_TYPE_CODE VARCHAR(10),
	@INVOICE_TYPE VARCHAR(50),
	@APPROVED_AMT DECIMAL(14,2),
	@DISC_APPROVED_AMT DECIMAL(14,2)

AS

BEGIN	

	--INSERT NEW RECORD
	BEGIN
		INSERT INTO PC_BATCH_INVOICE WITH(ROWLOCK)
		VALUES(@BATCH_ID, @USER_CODE, @AP_ID, @INVOICE_NUMBER, @PAYMENT_TYPE_CODE, @INVOICE_TYPE, @APPROVED_AMT, @DISC_APPROVED_AMT);
	END		
	
END
GO
