IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterGetVendors]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[usp_wv_PaymentCenterGetVendors] 
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterGetVendors]

@BANK_CODE VARCHAR(4),
@AP_ACCOUNT_CODE VARCHAR(30),
@VCC_STATUS INT,
@DEFAULT_BANK INT

AS

BEGIN	
	SELECT DISTINCT APH.VN_FRL_EMP_CODE AS Code, V.VN_NAME AS Description
		FROM AP_HEADER APH WITH (NOLOCK), VENDOR V WITH (NOLOCK)
	WHERE APH.VN_FRL_EMP_CODE = V.VN_CODE
		AND	V.VN_ACTIVE_FLAG = 1
		AND @AP_ACCOUNT_CODE IN ('ALL', APH.GLACODE)
		AND @BANK_CODE IN ('ALL', V.BK_CODE)
END
GO
