CREATE PROCEDURE [dbo].[usp_wv_SaveLocationPicture]
	@LOCATION_ID VARCHAR(6),
	@LOGO_TYPE_ID INT,
	@EMP_CODE VARCHAR(100),
	@IMAGE IMAGE
AS
BEGIN

	IF EXISTS (SELECT LOCATION_LOGO_ID FROM LOCATION_LOGO 
				WHERE LOCATION_ID = @LOCATION_ID
					  AND LOCATION_LOGO_TYPE_ID = @LOGO_TYPE_ID) BEGIN

		UPDATE LOCATION_LOGO
		SET IMAGE = @IMAGE		
		WHERE LOCATION_ID = @LOCATION_ID
		AND LOCATION_LOGO_TYPE_ID = @LOGO_TYPE_ID;

	END ELSE BEGIN

		INSERT INTO LOCATION_LOGO(LOCATION_ID, LOCATION_LOGO_TYPE_ID, IMAGE, THUMBNAIL, IS_ACTIVE, CREATE_DATE, USER_CODE) 
		VALUES (@LOCATION_ID, @LOGO_TYPE_ID, @IMAGE, NULL, 1, GETDATE(), @EMP_CODE);

	END

	IF @LOGO_TYPE_ID = 1 BEGIN

		UPDATE
			dbo.LOCATIONS
		SET
			LOGO_PATH = NULL
		WHERE
			ID = @LOCATION_ID

	END ELSE IF @LOGO_TYPE_ID = 2 BEGIN 

		UPDATE
			dbo.LOCATIONS
		SET
			LOGO_PATH_LAND = NULL
		WHERE
			ID = @LOCATION_ID

	END ELSE IF @LOGO_TYPE_ID = 3 BEGIN 

		UPDATE
			dbo.LOCATIONS
		SET
			LOGO_PATH_2 = NULL
		WHERE
			ID = @LOCATION_ID

	END ELSE IF @LOGO_TYPE_ID = 4 BEGIN 

		UPDATE
			dbo.LOCATIONS
		SET
			LOGO_PATH_LAND_2 = NULL
		WHERE
			ID = @LOCATION_ID

	END

END
GO