CREATE PROCEDURE [dbo].[usp_wv_exp_UpdateEXPENSE_HEADER]
@INV_NBR int,
@INV_DATE datetime,
@EXP_DESC varchar(30),
@DTL_DESC text,
@MOD_USER_ID varchar(100) = null,
@MOD_DATE datetime = null
AS

UPDATE [dbo].[EXPENSE_HEADER] 
SET
	[INV_DATE] = @INV_DATE,
	[EXP_DESC] = @EXP_DESC,
	[DTL_DESC] = @DTL_DESC,
	[MOD_USER_ID] =CASE WHEN @MOD_USER_ID IS NULL THEN [MOD_USER_ID] ELSE @MOD_USER_ID END , 
	[MOD_DATE] =CASE WHEN @MOD_DATE IS NULL THEN [MOD_DATE] ELSE @MOD_DATE END
WHERE
	[INV_NBR] = @INV_NBR