IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[usp_wv_PaymentCenterGetVendorSummary]') AND OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].[usp_wv_PaymentCenterGetVendorSummary] 
GO

CREATE PROCEDURE [dbo].[usp_wv_PaymentCenterGetVendorSummary]

@USER_ID VARCHAR(100),
@BATCH_ID INTEGER

AS

BEGIN
	
DECLARE @MULTI_CURR BIT = 0,
	@HOME_CURR VARCHAR(5),
	@BANK_CURR VARCHAR(5),
	@BK_CODE VARCHAR(4),
	@GLACODE_CURR_UNREALIZED VARCHAR(30)

SELECT @BK_CODE = BANK_CODE FROM PC_BATCH_HEADER WITH (NOLOCK) WHERE BATCH_ID = @BATCH_ID AND USER_ID = @USER_ID

SELECT @MULTI_CURR = MULTI_CRNCY, @HOME_CURR = HOME_CRNCY FROM AGENCY WITH (NOLOCK);
IF @MULTI_CURR = 0 BEGIN
	SET @HOME_CURR = 'USD'
	SET @BANK_CURR = 'USD'
	SELECT @GLACODE_CURR_UNREALIZED = CRNCY_GL_EXCHG_UNREALIZED FROM BANK WITH (NOLOCK) WHERE BK_CODE = @BK_CODE;
END ELSE BEGIN
	SELECT @BANK_CURR = CURRENCY_CODE, @GLACODE_CURR_UNREALIZED = CRNCY_GL_EXCHG_UNREALIZED FROM BANK WITH (NOLOCK) WHERE BK_CODE = @BK_CODE;
END

SELECT dbo.[advfn_get_vn_pay_to_code](VN_FRL_EMP_CODE) AS PayToVendorCode,
dbo.[advfn_get_vn_name](dbo.[advfn_get_vn_pay_to_code](VN_FRL_EMP_CODE)) AS PayToVendorName, 
I.INVOICE_TYPE as InvoiceType, 
SUM((COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) +	CASE @BANK_CURR /*Bank Crncy Code */ WHEN H.CURRENCY_CODE THEN (COALESCE(H.EXCHANGE_AMOUNT, 0.00)) /* AP Code */ ELSE 0 /* Home Code */ END) as InvoiceBalance,
SUM((COALESCE(AP_INV_AMT, 0.00)) + (COALESCE(AP_SALES_TAX, 0.00)) + (COALESCE(AP_SHIPPING, 0.00)) +	CASE @BANK_CURR /*Bank Crncy Code */ WHEN H.CURRENCY_CODE THEN (COALESCE(H.EXCHANGE_AMOUNT, 0.00)) /* AP Code */ ELSE 0 /* Home Code */ END) AS InvoiceTotal,
SUM(I.APPROVED_AMOUNT) AS ApprovedAmount,
VN_EMAIL AS VendorEmail,
PYMT_MGR_EMAIL AS VendorPaymentManagerEmail,
CONVERT(INTEGER, B.HAS_SPECIAL_TERMS) AS SpecialTerms, 
CONVERT(VARCHAR(MAX),B.VN_NOTES) AS VendorNotes
FROM PC_BATCH_INVOICE I WITH (NOLOCK) JOIN AP_HEADER H WITH (NOLOCK) ON I.AP_ID = H.AP_ID
JOIN VENDOR B WITH (NOLOCK) ON H.VN_FRL_EMP_CODE = B.VN_CODE 
WHERE I.BATCH_ID = @BATCH_ID
AND I.USER_ID = @USER_ID
GROUP BY dbo.[advfn_get_vn_pay_to_code](VN_FRL_EMP_CODE),
dbo.[advfn_get_vn_name](dbo.[advfn_get_vn_pay_to_code](dbo.[advfn_get_vn_pay_to_code](VN_FRL_EMP_CODE))),
I.INVOICE_TYPE,
VN_EMAIL,
PYMT_MGR_EMAIL,
B.HAS_SPECIAL_TERMS, CONVERT(VARCHAR(MAX),B.VN_NOTES)

END