@import '../../../../../theme/colors';

.colors-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 126px;
  height: 46px;
  background-color: $color-palette-background;
  margin: auto;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 189px;
    margin-bottom: 10px;
  }
}
