@import '../../../../../theme/colors';
@import '../../../../../theme/mixins/font';

.description-buttons-save {
  height: 20px !important;
}


.buttons-container1 {
  background: $white;

  .k-button {
    width: 65px;
    height: 20px;
    background: $white;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 3px !important;

    &:hover,
    &:focus {
      background: $white;
      border: 1px solid $border-color;
      box-shadow: none;
    }

    &:hover {
      background: $very-light-grey;
    }

    &:active,
    &.k-state-active {
      border: 1px solid $border-color;
      box-shadow: none;
      background-color: $very-light-grey;

      img {
        opacity: 0.5;
      }
    }
  }
}
